[2018-05-17 04:32] iamshital opened #4 "Add a conditional statement (Comment on PR#3)"
[PR#3](https://github.com/LIS/LISAv2/pull/3)

[2018-05-17 21:51] iamshital opened #6 "Add sample test"
Add a sample test which other people can refer and make their own test cases.

[2018-05-18 00:10] iamshital opened #8 "Make https://penguinator.westus2.cloudapp.azure.com functional with new repository"

[2018-05-18 02:14] iamshital opened #11 "Azure: Add support for custom kernel installation after VM provision."
Current "-CustomKernel" doesn't support tar files.

[2018-05-23 06:38] juhlee-microsoft opened #17 "Add try/exception in DetectTestRegions.ps1"
file location, file name, format, extension, accessibility, and tag's format. - We don't inform out to the user that tag can be separated by comma.

[2018-05-23 06:42] juhlee-microsoft opened #18 "User 'constant' instead of static value like $convertJob.State -eq "Running""
1. Job Running state can be 'Running' or 'Run'.
2. need to take care of case-sensitive case. 'Running' and 'running'

[2018-05-23 06:47] juhlee-microsoft opened #19 "Code Refactoring: Function should be generalized in standard form"
GetStorageAccountFromRegion has fixed file path and its name. if this function takes the fixed file name, this function scope is limited to this file name. Please re-design function module taking the file name as parameter. it will be able to use in different way.

[2018-05-23 19:46] iamshital opened #21 "Fix the BVT Tags."
Tags should point some functionality , some component, protocol etc.

[2018-05-27 10:16] iamshital commented on #8
#25 Fixes this.

[2018-05-28 05:51] iamshital opened #26 "Improve checking of the call traces"
Current method: `dmesg | grep -i 'call trace'`
Proposed method : `grep -rnw '/var/log' -e 'call trace' --ignore-case`
Reason: I've seen that if the dmesg is reset then call traces appeared earlier, will not show in output of "dmesg" command.

[2018-05-30 09:54] iamshital opened #35 "FTP upload to jenkins is not crossing 50Mbps bandwidth (penguinator)"

[2018-05-30 09:56] iamshital commented on #35
Fixes to jenkins are done. We will track the performance of FTP upload for next few days before closing this bug.

[2018-05-30 16:41] nicepat opened #36 "TriggerTestPipelineRemotely.sh parameter passing revision request"
Parameter passing should be like below style in Bash. Not sure if PowerShell style parameter passing is available in Linux system.

if [ - $1 ];
then
        JenkinsUser="microsoft"
else
        JenkinsUser=$1
fi

[2018-05-31 20:29] iamshital commented on #36
Fixed by #37

[2018-05-31 20:29] #36 closed

[2018-05-31 20:30] #8 closed

[2018-05-31 20:30] iamshital commented on #11
Fixed

[2018-05-31 20:30] #11 closed

[2018-05-31 20:30] #21 closed

[2018-06-05 22:51] iamshital opened #54 "Fix : BVT-VERIFY-PRIVATEKEY-AUTHENTICATION"
Add it back to BVT.xml when fixed.

[2018-06-05 22:54] iamshital opened #55 "Fix : BVT-HOT-VM-RESIZE"
Add it back to BVT.xml when done

[2018-06-05 22:55] iamshital opened #56 "Fix : BVT-HOT-ADD-DISK-PARALLEL"
Add it back to BVT.xml when done.
test must be migrated from old azure automation

[2018-06-05 22:55] iamshital opened #57 "Fix : BVT-HOT-ADD-DISK-SERIAL"
Add it back to BVT.xml when done.
test must be migrated from old azure automation

[2018-06-06 00:58] iamshital commented on #35
Closing the issue as the FTP upload performance is as expected.

[2018-06-06 00:58] #35 closed

[2018-06-11 20:30] juhlee-microsoft opened #65 "Single Connection Performance Test (TCP)"

[2018-06-11 20:31] juhlee-microsoft opened #66 "InfiniBand on Multi-VM Cluster"

[2018-06-11 20:59] juhlee-microsoft opened #67 "Enable "Hyper-V" tests"
We are excited to release Linux GOS automation in Hyper-V in Jenkins.

- [x] Import Test Cases to LISAv2 xml file
- [x] Validate existing LISAv2 tests for Hyper-V
- [x] Validate Azure regression test during import Hyper-V tests.
- [ ] Enable SRIOV support for HyperV
- [ ] Enable Passthrough disk support for HyperV
- [x] Enable LISAv2 framework to run HyperV tests
- [x] Define test coverage/scope

[2018-06-11 21:01] juhlee-microsoft opened #68 "Improve documents"
- [x] Add/revise for 'How to add new Azure test"
- [x] Add/revise for 'How to add new Hyper-V test"
- [x] Add/revise for 'How to run tests in Azure"
- [x] Add/revise for 'How to run tests in Hyper-V"
- [x] Enable local SQL DB for Hyper-V test
- [x] Enable Azure MS-SQL DB for Hyper-V test
- [x] XML tag/space alignment

[2018-06-13 00:08] juhlee-microsoft opened #71 "cifs & nested test stablization"
Improve the test code lines for cifs and KVM nested test call.

PR #70

[2018-06-13 00:10] juhlee-microsoft commented on #71
#70

[2018-06-13 00:11] juhlee-microsoft opened #72 "Add support to "managed disks""

[2018-06-13 00:20] juhlee-microsoft commented on #72
Implementation is done, but it still need to enable option for partners.  #62

[2018-06-14 01:50] juhlee-microsoft opened #74 "Select Azure subscription"
Add 4x text boxes in UI; Application Name, Client ID, Secret Key, Tenant ID

If it is using Microsoft subscription and our own secret, they should be empty.
If partner uses new values, we will fetch their subscription with entries for further testing.
We do not store partner's credential.

[2018-06-25 20:22] iamshital opened #79 "Enable Telemetry for LISAv2 Tests"

[2018-06-25 20:22] iamshital commented on #79
Done #78

[2018-06-28 01:02] juhlee-microsoft opened #84 "Removed duplicated TestName from SubTestName in DB table"
SubTestName includes TestName in the table.
Remove the duplicated part.

[2018-07-01 05:06] juhlee-microsoft opened #86 "Turning all variables to global is not recommended"
#78 has a variable scope issue. Changing all parameters to global is not the best practice. When new function is created and added to RunTest script, they should be passed. Otherwise run time error is expected

[2018-07-02 02:05] lizzha opened #87 "Code Refactoring: Refactor the code to generate json files"
The code to generate json files is outdated, e.g. https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L985
PowerShell JSON handling is supported in the Powershell required version

[2018-07-02 02:06] lizzha opened #88 "Add script to generate AzureVMSizeToHyperVMapping.xml"
From #78.
The list in AzureVMSizeToHyperVMapping.xml is very long and might change. Suggest to add script to utilities to generate/update it automatically

[2018-07-02 20:20] juhlee-microsoft opened #90 "Enable Telemetry data for test execution"
Add a new checked box UI component for telemetry data collection enabled.
Need to technical review as well as legal (GDPR) review.

[2018-07-05 20:29] iamshital opened #93 "Address the PR#91 issues"

[2018-07-06 18:18] juhlee-microsoft commented on #94
This is the second duplicated record for our code refactoring.  #19 & #87

@lizzha is this the same purpose like other two?

[2018-07-06 18:19] juhlee-microsoft commented on #87
I propose we should have one issue for code refactoring #19

@lizzha  are you ok with it?

[2018-07-06 18:20] juhlee-microsoft commented on #93
@iamshital please describe bug information before you start working.

[2018-07-09 01:06] lizzha commented on #87
Agree

[2018-07-09 01:13] lizzha commented on #87
The code refactoring involves multiple key points, and may need lots of work.
I think it's better we have a parent item, and divide different functionalities into sub-items. Does github issue support parent-child relationship?

[2018-07-09 17:28] juhlee-microsoft commented on #19
Merged from #94
From comments in PR #85, #78
follow best practices in a best effort manner:: https://github.com/PoshCode/PowerShellPracticeAndStyle/blob/master/Style-Guide/Introduction.md or a shorter version like: https://github.com/ader1990/PowerShell-Guidelines
use 4 spaces as indent
function name in Verb-Entity format, variable name using camelCase
put as much code in functions as you can
writ

[2018-07-09 17:29] juhlee-microsoft commented on #94
Merged to #19

[2018-07-11 05:33] juhlee-microsoft opened #96 "Remove unused variables"
$dbTestCycle = $CycleName.Trim()
$dbExecutionID = $dbDateTimeUTC = "$($StartTime.Year)-$($StartTime.Month)-$($StartTime.Day) $($StartTime.Hour):$($StartTime.Minute):$($StartTime.Second)"

in AureTestSuite.ps1.

[2018-07-17 06:10] juhlee-microsoft opened #99 "Relocate binary files to Azure blob"
GitHub warns out that we checked in 4x binary files to Tools folder. I uploaded 4 files to Azure Blob and change the code for accessing to Azure blob files.

Azure Blob: partnerpipelineshare -> binarytools

https://partnerpipelineshare.file.core.windows.net/binarytools

[2018-07-17 06:12] ader1990 commented on #99
https://github.com/LIS/LISAv2/tree/master/Tools all the binaries from this folder should either be removed or their licenses added.

[2018-07-17 06:15] juhlee-microsoft commented on #99
@ader1990 you are right. I have a few warning msg from GitHub and plan to remove them. Instead, will use Azure blob. I think we should modify scripts for new blob URL. Is it something you can do?

[2018-07-27 16:43] juhlee-microsoft commented on #108
I think this was designed for options. It would be New VM mode in Azure testing, as Snapshot mode in Hyper-V.

[2018-07-27 16:44] juhlee-microsoft commented on #99
PR #110

[2018-07-27 16:44] #99 closed

[2018-08-01 02:12] lizzha opened #122 "Refactor the distro layer to handle different distros in bash scripts"
Now in multiple test scripts, it detects the distro name and version. We can extract the code dealing with distros in a common utils, so that test scripts do not need to handle different distros

[2018-08-02 10:46] iamshital opened #129 "Logs collection error due to mismatched hostnames"
Recently I'm seeing an issue with downloading log files from VM before cleaning up.

**Logs.**
[Azure VERIFY-DEPLOYMENT-PROVISION westus2] 08/02/2018 07:48:35 : [INFO ] Downloading ICA-RG-SingleVM-microsoft-ONTV-636687925779-role-0-*.txt from lisa : 13.77.143.39,port 22 to .\TestResults\2018-02-08-07-42-44-9392\VERIFY-DEPLOYMENT-PROVISION using Password authentication
[Azure VERIFY-DEPLOYMENT-PROV

[2018-08-03 09:36] ader1990 opened #137 "SRIOV tests fail because of a breaking change in the test framework"
Because of this commit: https://github.com/LIS/LISAv2/commit/b00d5b54d202bcc6904cc41de7fbc745780a6c67#diff-fd8a417b18cc4776c967999f5ef81c74

the state file of the linux test cases is /home/lisa/state.txt and not /home/lisa/TestState.log, thus breaking all the automation relying on that.

TC needed to be fixed:
Functional_NICS_SRIOV_IFUP

@iamshital do you have other TCs affected?

[2018-08-03 13:48] ader1990 commented on #137
@iamshital @juhlee-microsoft we need to define and document an exact workflow of test case (error) logging and status via text files, which each test should respect.
There is no documentation on this matter, so we cannot enforce anything for the test case developer and maintainer.

[2018-08-07 08:10] iamshital opened #149 "Provide a better way for global variables"
Possible ideas -
1. Encapsulating all global variables in single PS object.

[2018-08-07 08:14] iamshital commented on #148
Closing this duplicated issue : https://github.com/LIS/LISAv2/issues/133

[2018-08-07 15:00] iamshital commented on #137
@ader1990 , Yes. I've noticed the breaking change and some of the tests are broke. I'm fixing them one by one. (5/6 tests affected)

[2018-08-09 01:00] lizzha opened #154 "Revise utils files"
This common_utils.sh and utils.sh have many similar methods with duplicated functionalities, we need to identify the methods one by one, and create merge them together

[2018-08-09 08:46] lizzha commented on #154
And need to add necessary description for functions in utils files

[2018-08-09 18:24] juhlee-microsoft commented on #108
Snapshot or its provisioning is helpful for quick VM deployment, but we are testing against the changes and moving target. Also this idea comes out from two domains which have different operation pattern. According to Azure, VM booting can be a still issue by Azure host. Our test scope is Linux GOS VM on top of Azure host.(this host is NOT our scope or work) If this is the case, then we should spe

[2018-08-10 08:41] chvalean commented on #67
@juhlee-microsoft  let's move the PCI passthrough outside of this. We'll be working on those scenarios when we schedule the specific test areas.
Everything else from the list has been completed, we should close this item.

[2018-08-14 09:15] lizzha commented on #154
Now I've put contents in common_utils.sh (previous azuremodules.sh) to utils.sh, need revise later

[2018-08-29 16:10] chvalean commented on #154
Resolved by merging all functions into utils.sh.

[2018-08-29 16:10] #154 closed

[2018-09-04 11:37] adriansuhov opened #182 "VMGroup not cleaned up on Hyper-V"
When running Get-VMGroup on a host where lisav2 was run, I discovered that I had 100+ vm groups from previous lisav2 runs. Even though VMs are cleaned ok, VM groups aren't.

PS C:\Users\v-adsuho\Documents\lisav2> get-vmgroup | fl name | wc -l
266

[2018-09-04 12:06] #67 closed

[2018-09-04 12:13] chvalean opened #183 "Tests backport - 3rd sprint"
- [x] Core LIS - 5 tests @asofron
- [x] Time sync - 7 tests @adriansuhov
- [x] kdump - 7 tests @mbivolan
- [ ] Network - 26 tests @adriansuhov
- [x] Vmbus and NMI - 5 tests @ader1990
- [ ] Stress - 5 tests @mbivolan

[2018-09-05 10:22] chvalean opened #186 "CommonFunctions.psm1: switch from plink to RunLinuxCmd"
plink.exe is used too many times in the module, we could switch to RunLinuxCmd function to have a common model.
Must remove then Send-CommandToVM and rely only on RunLinuxCmd

[2018-09-05 23:31] iamshital commented on #186
@chvalean Thanks for this.

[2018-09-11 21:52] juhlee-microsoft opened #201 "Remove LinuxRelease() in provisionLinuxForLisa.sh"
Replace with GetDistro from utils.sh

[2018-09-17 11:50] iamshital opened #209 "RunLinuxCmd returning 'Object' instead of 'String'"
This issue is causing test script failures with following errors -

**Error 1**
**md5sum checksums were failing to compare.**
[code]

**Error 2**
**LISAv2 is failing to get status of Background Jobs started through RunLinuxCmd**

[code]
These errors started appear after PR #202

[2018-09-18 18:12] chvalean opened #211 "[features] Generation2 VM and OS VHDx support in lisav2"
1.	Introduce a top level parameter in runtest.ps1, VMGen = [1, 2, etc]
a.	The default value of this parameter is 1.  That means, if pipeline or user did not specify the VMGen parameter, then LisaV2 will run on Gen 1 VMs.
b.	The Hyper-V global configuration should define the locations of where to find the Gen1 VHD, Gen2 VHDX, and with some basic disk checking (for example, vhd or vhdx).
2.	Introduc

[2018-09-20 17:12] iamshital opened #219 "Test and assign correct ulimit values in NTTTCP tests"

[2018-09-20 17:14] ader1990 opened #220 "DoTestCleanUp fails if the VM is not in running state"
DoTestCleanUp expects the vm to be running, but the test case might leave the vm in another state on purpose or it can just fail.
If this method: DoTestCleanUp is run, the vms should be put on running state (or at least try to set them on running state).

Here is the problem:
https://github.com/LIS/LISAv2/blob/a6755bf517d52c1f869db4af24c8757cb9501db4/Libraries/Test-Framework.psm1#L530

The same wo

[2018-09-20 17:49] chvalean opened #221 "[feature] clustered VM support"
Must implement support to create the VM on a cluster environment.
This is required for Live Migration test area.

It requires to define the VM disk destination and actual VM configuration paths to go on a CSV location.

[2018-09-21 09:56] chvalean commented on #122
@lizzha this is being done in utils.sh by the GetDistro function [here - link](https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/utils.sh#L236)
Please close this issue if that is fine, or update the issue description to what changes maybe have to be done to that function to extend it?
Thank you!

[2018-09-21 11:06] ader1990 commented on #4
@iamshital please close this issue, if it has been addressed already (I see it has been addressed)

[2018-09-21 11:07] ader1990 commented on #73
@iamshital please close this issue, if it has been addressed already (I see it has been addressed)

[2018-09-21 11:08] ader1990 commented on #74
@juhlee-microsoft is this a lisav2 issue? if it isn't, it should be closed

[2018-09-21 11:09] ader1990 commented on #79
@iamshital please close this issue, if it has been addressed already (I know lisav2 has telemetry and it has been addressed)

[2018-09-21 11:09] ader1990 commented on #6
@iamshital please close this issue, if it has been addressed already (I see it has been addressed)

[2018-09-21 11:10] ader1990 commented on #17
@juhlee-microsoft this should be documented?

[2018-09-21 11:10] ader1990 commented on #108
@iamshital please close this issue, if it has been addressed already (I see it has been addressed)

[2018-09-21 11:13] ader1990 commented on #183
We should have the PRs addressing these issues, something like gerrit review approach:
in the commit message to have Implements | Partially implements | Fixes (Issue issue link)

[2018-09-21 14:28] lizzha commented on #122
This is done, by refactoring the performance test code

[2018-09-21 14:28] #122 closed

[2018-09-21 16:29] #74 closed

[2018-09-21 16:30] #79 closed

[2018-09-21 16:32] #17 closed

[2018-09-21 16:48] chvalean commented on #182
@iamshital do you have some bandwidth to work on this maybe?

[2018-09-24 12:44] iamshital commented on #182
No Chris.. Given the current P0 items in our plate, Please assign this to someone in your team.

[2018-09-25 17:28] #6 closed

[2018-09-25 17:28] #18 closed

[2018-09-25 17:30] #19 closed

[2018-09-25 17:49] juhlee-microsoft commented on #52
Done

[2018-09-25 17:49] juhlee-microsoft commented on #53
Done

[2018-09-25 17:50] juhlee-microsoft commented on #54
Done

[2018-09-25 17:50] #54 closed

[2018-09-25 17:51] juhlee-microsoft commented on #55
Done

[2018-09-25 17:51] #55 closed

[2018-09-25 17:58] juhlee-microsoft commented on #65
Done

[2018-09-25 17:58] #65 closed

[2018-09-25 18:15] juhlee-microsoft commented on #71
Done

[2018-09-25 18:15] #71 closed

[2018-09-25 19:26] juhlee-microsoft commented on #96
Done

[2018-09-25 19:26] #96 closed

[2018-09-25 19:44] juhlee-microsoft commented on #183
@chvalean I think this is internal communication topic. Can we close this and work internal communication tool like VSTS? If agree, please close.

[2018-09-25 19:46] juhlee-microsoft commented on #186
There are still many places calling plink in KVP and FCOPY test scripts. Please replace with RunLinuxCmd call.

[2018-09-25 19:56] juhlee-microsoft commented on #215
Recorded internally.

[2018-09-25 20:00] juhlee-microsoft commented on #220
Internally recorded.

[2018-09-25 20:00] #220 closed

[2018-09-26 08:49] chvalean commented on #182
Assigning to @ader1990 to implement.

[2018-09-26 08:55] #183 closed

[2018-09-26 13:16] chvalean commented on #201
@juhlee-microsoft @iamshital I think we just have to remove the entire script provisionLinuxForLisa.sh
It is no longer required as tests will be imported in lisav2, so there is no VM preparation required for lisa.

Let's just do that and close this item.

[2018-09-26 15:59] #211 closed

[2018-09-27 00:31] lizzha commented on #201
this script is used in function ProvisionVMsForLisa, it enables root user and creates/upload same SSH key to client and server, which is required by network performance cases. It's still needed.
It's better to change a function/script name.

[2018-09-27 01:17] juhlee-microsoft commented on #201
According to @lizzha, we still need to change. Please keep this item in backlog.

[2018-09-28 09:28] chvalean commented on #201
I verified that function and although the provisionLinuxForLisa.sh script is copied to the VM, I don't see it getting executed from the function code.
@iamshital  can you please verify the code and maybe do some cleanup if provisionLinuxForLisa.sh is not actually used?

[2018-09-28 09:48] lizzha commented on #201
@chvalean you're right, the script is not executed. Only enableRoot.sh and enablePasswordLessRoot.sh are executed. So it can be removed.
Still we'd better change a function name of ProvisionVMsForLisa.

[2018-10-01 09:07] santoshx opened #240 "Could anyone please provide me sample secrets.xml for HyperV platform?"

[2018-10-01 17:52] chvalean commented on #182
Fix in PR #241

[2018-10-02 20:52] #182 closed

[2018-10-03 07:38] santoshx opened #244 "HyperV guest no longer ssh reachable after applying just created ICABase checkpoint"
This is happening because we just did operation on /etc/ssh/sshd_config and then immediately created a checkpoint with -Force option. This is resulting in corrupted or no /etc/ssh/sshd_config on guest.

[2018-10-03 07:41] santoshx commented on #244
This is severe issue.
I'll push the quick fix shortly.

[2018-10-03 08:16] #244 closed

[2018-10-03 08:35] #240 closed

[2018-10-03 08:47] santoshx commented on #240
Thank you @adriansuhov

[2018-10-03 17:21] iamshital opened #247 "LISAv2 broken for Azure (PR #238)"
Variable VmSetup is only defined for HyperV but it is used irrespective of Test Platform which is causing referring to null array when running Azure Test cases.

[2018-10-03 22:11] #247 closed

[2018-10-10 01:18] #4 closed

[2018-10-10 06:13] LiliDeng opened #262 "Expand-XMLVirtualMachineSet throw out exception"
@iamshital Hi, I run test cases, hit exception in method Expand-XMLVirtualMachineSet, I have no VirtualMachineSet in setupType.

[2018-10-10 06:16] LiliDeng commented on #262
+ @juhlee-microsoft to address this issue.

[2018-10-10 10:04] santoshx opened #265 "Latest code fails for me on Windows10/HyperV : Exception in Expand-XMLVirtualMachineSet."
10/10/2018 09:47:07 : [ERROR] Exception in Expand-XMLVirtualMachineSet.
10/10/2018 09:47:07 : [OOPS   ]: You cannot call a method on a null-valued expression.
10/10/2018 09:47:07 : [SOURCE ]: Line 1098 in script .\Libraries\Framework.psm1.
10/10/2018 09:47:07 : [INFO ] EXCEPTION : Calling function - ThrowException
10/10/2018 09:47:07 : [INFO ] Source : Line 42 in script .\Libraries\CommonFunctions

[2018-10-10 11:11] adriansuhov commented on #265
Failing on my Hyper-V env too

[2018-10-10 11:31] #265 closed

[2018-10-10 11:32] santoshx commented on #265
Duplicate of #262

[2018-10-10 11:33] santoshx commented on #262
I posted a possible guess work fix in PR #266

[2018-10-10 11:49] adriansuhov commented on #262
This has been reverted: https://github.com/LIS/LISAv2/pull/267

[2018-10-10 15:46] iamshital commented on #262
ACK

[2018-10-12 09:20] santoshx opened #276 "RunLinuxCmd sometimes returns extra string along with result string"
I'm passing a command to RunLinuxCmd -runAsSudo and expected return is "1073741824" but I'm getting
return as:
"[sudo] password for <username>: 1073741824"

[2018-10-12 10:34] santoshx commented on #276
Sample command that returns incorrect string for sudo user:

$diskSize = RunLinuxCmd -ip $ip -port $port -username $user -password $password -command "fdisk -l /dev/sdb  2> /dev/null | grep Disk | grep sdb | cut -f 5 -d ' '" -runAsSudo

[2018-10-12 10:50] santoshx commented on #276
I'm using workaround for now.
Instead of calling RunLinuxCmd, I'm sending command directly.
Someone can fix it or I'll come back to fix it after few days.

[2018-10-12 19:10] santoshx opened #277 "Test fails with System ERROR: Cannot create a file when that file already exists."
Relevant Logs:

10/12/2018 18:51:52 : [INFO ] Compressing .\Testscripts\Linux\STOR_VHDXResize_ReadWrite.sh and adding to 10-154-34-143@22.tar
10/12/2018 18:51:53 : [INFO ] Compressing .\Testscripts\Linux\STOR_VHDXResize_PartitionDisk.sh and adding to 10-154-34-143@22.tar
.\tools\7za.exe :
At D:\Santosh\GitHub\LISAv2\Libraries\CommonFunctions.psm1:1136 char:23
+ ...                     $CompressFil

[2018-10-18 01:48] LiliDeng commented on #262
Issue resolved

[2018-10-18 01:48] #262 closed

[2018-10-19 11:42] adriansuhov opened #301 "azure: Adding dependency packets before running the tests"
Currently the automation doesn't check & add dependency packets for most of the tests. Some examples:

- BVT tests - if "python" is missing, all the tests will fail
- VERIFY-SRIOV-LSPCI - if "pciutils" packet is missing the test will fail
- VERIFY-IFUP-IFDOW-ETH0-RMMOD-MODPROBE-HV_NETVSC-SRIOV - if "ifupdown" packet is missing the test will fail
- Performance tests have package dependencies that a

[2018-10-19 11:45] chvalean commented on #301
@juhlee-microsoft @iamshital we should setup a call to review the original Azure BVT tests.

[2018-10-19 12:27] ader1990 opened #302 "Update wiki"
https://github.com/LIS/LISAv2/wiki needs to be updated, RunTests.ps1 does not exist anymore

[2018-10-22 12:48] ader1990 opened #304 "Hyper-V: try to avoid Stop-VM | Restart-VM with the flag -Force or -TurnOff"
On Hyper-V: NEVER use Stop-VM or Restart-VM with the flag -Force without knowing about the possible consequences.

If the machine is forcefully turned off the kernel may not have time to flush on the disk all the file changes, thus all kind of weird bugs may happen, like sshd_config file being empty, grub config files empty and so on (depending on what file was previously edited right before the f

[2018-10-23 14:45] ader1990 opened #309 "custom kernel install should fail if it does not install a custom kernel"
This code should not be here, as it contradicts the logic of customKernelInstall, because the code path continues even when a kernel is not installed.

https://github.com/LIS/LISAv2/blob/8de80f2f8a9528f43e1da2a9824a7279c2cc3b72/Libraries/CommonFunctions.psm1#L407

@iamshital what is the purpose of "installing a new kernel", but continue even when failing to install a new kernel?

[2018-10-24 20:18] juhlee-microsoft commented on #302
Done

[2018-10-24 20:18] #302 closed

[2018-10-25 07:13] prashantmhetar opened #314 "Possible bug in check_exit_status function in utils.sh"
This function should update the  test state while exiting and also update the summary in error case.

function check_exit_status ()
{
        exit_status=$?
        message=$1

        cmd="echo"
        if [ ! -z $2 ]; then
                cmd=$2
        fi

        if [ $exit_status -ne 0 ]; then
                $cmd "$message: Failed (exit code: $exit_status)"
                if [ "$2" == "exit

[2018-10-25 07:16] lizzha commented on #314
this function is only to check the command exit status. If you want to update test summary, you can pass the function name UpdateSummary as the second parameter

[2018-10-25 09:28] prashantmhetar commented on #314
We can modify the code as below. As this function is part of utils.sh it can invoke UpdateSummary and SetTestStateAborted depends on the exit_status.
function check_exit_status ()
{
        exit_status=$?
        message=$1

        cmd="echo"
        if [ ! -z $2 ]; then
                cmd=$2
        fi

        if [ $exit_status -ne 0 ]; then
                $cmd "$message: Failed (exit code: $

[2018-10-25 09:46] prashantmhetar commented on #314
Added this change as part of https://github.com/LIS/LISAv2/pull/307 review

[2018-10-25 11:07] santoshx commented on #277
This issue looks to be a bug in version of 7za.exe I'm using.

$ Tools/7za.exe
7-Zip (a) 18.05 (x86) : Copyright (c) 1999-2018 Igor Pavlov : 2018-04-30

[2018-10-25 11:07] #277 closed

[2018-10-26 10:49] sireeshapotnuru opened #321 "Possible issue in Parse-TestParameters"
In XML if we have multiple param with the same name, previous value is overwritten and considered only last value
For Example:
if we have testparams as below, only value "IDE=0,1,Dynamic" is taken
`<TestParameters>
    <param>IDE=1,1,Dynamic</param>
    <param>IDE=0,1,Dynamic</param>
</TestParameters>`

Output Log:
10/26/2018 10:31:08 : [INFO ] Test setup/cleanup started using script:.\TestScripts

[2018-10-29 10:58] santoshx opened #328 "Why dependency VM data removed from $AllVMData?"
In file TestFramework.psm1, in function Check-IP we're removing data of dependency VMs from $AllVMData.

            if ($VM.RoleName -match "dependency") {
                Set-Variable -Name DependencyVmName -Value $VM.RoleName -Scope Global
                continue
            }
Does this mean a test case should probe and find of second, third or nth VM data by probing separately?

[2018-10-29 12:13] ader1990 opened #329 "lisav2 does not retrieve the kernel logs from azure"
lisav2 does not retrieve the kernel log from azure when the kernel crashes (which is exactly the relevant use case).

lisav2 should be useful when the test case crashes, not when they pass.

@iamshital is this implemented?

[2018-10-29 12:15] ader1990 opened #330 "lisav2 fails when the ssh host key is no trusted"
pscp and plink should always have a write-output "yes" | command

[2018-10-29 14:21] adriansuhov commented on #328
This is for the case you want a "dummy" VM which you don't want/need to test. There are cases (e.g. NET_TESTS) where we need a dependency just to receive files or pings. If you look into the framework you'll see that "VM2Name" can be parsed as a parameter in the test. With the VM name and the hostname you can find the IP and with that you can manage your VM.

- **If you don't want this and you wan

[2018-10-30 07:11] adriansuhov commented on #321
This is by design because $testParams is a hashtable that contains key/value pairs & there cannot be keys with the same values.
If you want multiple similar parameters, just use PARAM_1, PARAM_2 (e.g. on some NET tests I used NIC_1 and NIC_2 as parameters).
Keep in mind that **it's not a good practice** to have parameters with the same name.
If you have any questions, please let me know. If not, y

[2018-11-02 07:00] santoshx commented on #338
Can I introduce a flag like RunSetupScriptOnlyOnce ? This doesn't change existing behavior and tests can decide to use it or not.

[2018-11-02 08:41] santoshx commented on #321
In lis-test there are params with same name repeated hence the question arise.
However, as suggested we'll not use same names here in lisav2

[2018-11-02 11:37] sireeshapotnuru commented on #321
We reopened this issue, as per Chris comment

1.	STOR-VSS-BACKUPRESTORE-MULTIFS-VHDX
We have raised issue https://github.com/LIS/LISAv2/issues/321 as having same input parameters overwritten.
As suggested to have param as NAME_1, NAME_2, it needs change in AddVhdxHardDisk.ps1 which could impact other tests. Please suggest.
**Chris Comment** - Adrian posted a comment to that, let’s continue the dis

[2018-11-05 10:36] chvalean opened #355 "[feature-request] TestSkipped support"
@juhlee-microsoft we need to discuss the addition on a Skipped state for test cases.
We had this in lisav1 but not ported to lisav2, so any tests that are not supported for any numerous reasons, will exit as Aborted.
That is not accurate and leads to confusion, as Skipped would be more appropriate to define the situation.
This also needs to be confirmed on the backend for test results / DB.

Situa

[2018-11-06 08:17] prashantmhetar commented on #314
Closing this issue as modified change in merged

[2018-11-06 08:17] #314 closed

[2018-11-06 18:31] chvalean commented on #26
@juhlee-microsoft  re-assigning this request to Andrei to cover at some point this month.

[2018-11-14 03:38] prashantmhetar commented on #321
PR is created with modifying AddVhdxHardDisk.ps1
https://github.com/LIS/LISAv2/pull/376

[2018-11-14 09:40] #26 closed

[2018-11-15 11:00] ader1990 commented on #329
This feature is badly implemented, needs rework:

https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L2026

[2018-11-15 11:04] ader1990 opened #390 "CAPTURE-VHD-BEFORE-TEST hangs for log collection"
The code is not well implemented, as it leaves the machine stopped, thus the log collection will hang until timeout, thus making the test run longer with 3 minutes. https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/CAPTURE-VHD-BEFORE-TEST.ps1

The resolution is to decrease the log collection timeout and make sure the VM is started if the log collection is to be done.

https://github.co

[2018-11-15 23:21] juhlee-microsoft commented on #86
This turns out a new bug from master repo when the second session is invoked in the same PS windows. The workaround is running the test in new PS windows.

[2018-11-16 05:47] sireeshapotnuru commented on #321
Closing this issue since the modifications done for AddVhdxHardDisk.ps1 are merged as part of PR#376

[2018-11-16 05:47] #321 closed

[2018-11-16 22:03] juhlee-microsoft opened #399 "Hyper-V Setup Guideline"
During Hyper-V test setup deployment from the scratch, there are a few steps are not documented in LISAv2. That could be one-time procedure. Let's create a draft contents first, and will decide if new contents add to existing document or new one. I recall they are about External vSwitch, memory size, etc. Please propose new context here. The goal is having new person successfully set up Hyper-V LI

[2018-11-19 13:12] adriansuhov commented on #399
**For now, these are the 2 changes that I would like to make for README.md:**

### Prerequisite

1. You must have a Windows Machine (Host) with PowerShell (v5.0 and above) as test driver.

2. You must be connected to Internet.

3. You download 3rd party software in Tools folder. If you are using secure blob in Azure Storage Account or UNC path, you can add a tag <blobStorageLocation></blobStorageL

[2018-11-20 18:53] juhlee-microsoft commented on #399
@adriansuhov I put my comment in your post. I think it looks ok, please create a PR for document update.

[2018-11-20 19:49] ader1990 opened #413 ".github folder not needed"
@juhlee-microsoft can we remove this folder?

[2018-11-20 19:53] juhlee-microsoft commented on #413
I think so.

[2018-11-20 20:32] juhlee-microsoft commented on #413
I think it's optional but other repositories use it for template files or yml files. Can we keep our yml file under here? Also we can plan to add some templates file for LISAv2.

[2018-11-21 13:29] ader1990 opened #419 "Revert PR #408 once the bionic azure wala deprovision issue is solved"
https://github.com/LIS/LISAv2/pull/408 needs to be reverted once the Azure Bionic image is fixed.
The upstream issue does not have a link at this moment, only a similar one is opened here:
https://github.com/Azure/WALinuxAgent/issues/1359

[2018-11-22 15:46] ader1990 commented on #413
we cannot keep the azure pipeline file there, that is not github stuff. for the moment, I don t see any utility for that folder IMHO.

[2018-11-22 15:46] ader1990 commented on #390
Fixed in https://github.com/LIS/LISAv2/pull/411

[2018-11-22 15:46] #390 closed

[2018-11-22 15:47] ader1990 commented on #329
fixed by: https://github.com/LIS/LISAv2/pull/411

[2018-11-22 15:47] #329 closed

[2018-11-22 15:48] ader1990 commented on #137
SRIOV tests are fixed, closing this issue.

[2018-11-22 15:48] #137 closed

[2018-11-22 17:15] juhlee-microsoft commented on #413
We are just not using the folder like other repo only, and I think we can remove it if we do not use. Just mentioned other repo’s case how they were used. Please open a PR for this removal. I will sign it off.

________________________________
From: Adrian Vladu <notifications@github.com>
Sent: Thursday, November 22, 2018 7:46 AM
To: LIS/LISAv2
Cc: Ju-Hyoung Lee; Mention
Subject: Re: [LIS/LISAv2]

[2018-11-22 17:34] ader1990 commented on #413
Created PR: https://github.com/LIS/LISAv2/pull/428

[2018-11-22 18:37] chvalean commented on #413
Solved in https://github.com/LIS/LISAv2/pull/428

[2018-11-22 18:37] #413 closed

[2018-11-23 17:58] chvalean commented on #221
Implemented in https://github.com/LIS/LISAv2/pull/385

[2018-11-23 17:58] #221 closed

[2018-11-26 16:03] chvalean opened #439 "Hyper-V: implement VMs cleanup on servers"
Following https://github.com/LIS/LISAv2/issues/438, we have to implement a similar cleanup of old VMs as it is in Azure.
In a defined nodes list, every several days the job will cleanup all pattern based VMs and disk files.
Must clarify how to put a lock on VMs if cleanup is not desired.

1st stage is to remove VM.
2nd stage is to remove VM Group - vmgroups must be empty

[2018-11-26 17:04] ader1990 opened #441 "Refactor lisav2 functions to one logical unit"
I have a suggestion to go even further and stabilize once and for all the framework code.

Remove AzureTestSuite.ps1 (move the code to other files, more info below)
Remove AutomationManager.ps1 (move the code to other files, more info below)
Remove Libraries/Framework-Hyperv.psm1 (move the code to other files, more info below)
Remove Libraries/Framework-Azure.psm1 (move the code to other files, mo

[2018-11-27 00:07] juhlee-microsoft commented on #84
Reviewed and fixed in TFS 3104524

[2018-11-27 00:07] #84 closed

[2018-11-27 00:08] #68 closed

[2018-11-27 00:08] juhlee-microsoft commented on #66
2,4,8,16, 32 VM configuration checked in

[2018-11-27 00:08] #66 closed

[2018-11-27 00:12] juhlee-microsoft commented on #86
Multiple PR resolved this global variables issue

[2018-11-27 00:13] juhlee-microsoft commented on #90
Done

[2018-11-27 00:13] #90 closed

[2018-11-27 00:14] juhlee-microsoft commented on #93
bug fixed in PR #91

[2018-11-27 00:14] #93 closed

[2018-11-27 00:15] juhlee-microsoft commented on #128
Fixed

[2018-11-27 00:46] #149 closed

[2018-11-27 00:46] #186 closed

[2018-11-27 00:48] #304 closed

[2018-11-27 00:50] #399 closed

[2018-11-27 01:03] #88 closed

[2018-11-27 05:53] juhlee-microsoft commented on #86
Reportedly we still have global variable issue.

[2018-11-27 11:43] ader1990 opened #446 "BVT-VERIFY-DEPLOYMENT-PROVISION can fail on HyperV"
This test case reboots the VM and on HyperV platform, the dhcp server can offer another IP and the test can fail because of that (no connection to the VM after reboot).

Tested on Ubuntu 16.04 but it will fail on all the distros with the same error.

[2018-11-27 11:48] #441 closed

[2018-11-27 11:49] chvalean commented on #441
Completed in https://github.com/LIS/LISAv2/pull/440

[2018-11-27 11:51] chvalean commented on #129
@asofron please do a rerun of this on centos 7.5 with latest lisav2 code and see if it still repro.

[2018-11-27 17:02] chvalean opened #448 "nested_vm_utils.sh: aria2 package error on multiple distros"
When running test NESTED-KVM-BASIC-VERIFICATION on SLES12 SP3, it fails due to the aria2c binary not being present.
I don't see that package being in official SLES repo by default, so extra repos must be added for this to run on SLES.

'aria2' not found in package names. Trying capabilities.
No provider of 'aria2' found.
zypper_install aria2: Failed (exit code: 104)
Mon Nov 26 19:32:23 2018 : zypp

[2018-11-27 19:13] chvalean opened #449 "better handle dpkg lock on ubuntu for packages install"
Tests usually fail on a custom ubuntu image due to the dpkg folder being locked by an ongoing apt refresh?
Must check and maybe add some wait/retry when updating the apt repos.
This might occur on using an already provisioned VM VHD.

Scripts affected - list in progress of being updated:

- InstallCUDADrivers.sh
- perf_fio.sh

[2018-11-28 09:19] adriansuhov opened #458 "HyperV: Move disk attach logic to SetupScript"
Hi,

Currently, in HyperV.psm1 we have lines of code that are trying to attach physical disks if the setupType contains DataDisk/LUN tags. Here are the lines of code (473-495): https://github.com/LIS/LISAv2/blob/master/Libraries/HyperV.psm1#L473
The issue here is that later on, a checkpoint is made on the Hyper-V machine, but this operation fails because there are physical disks attached to the VM

[2018-11-28 09:19] chvalean commented on #452
Thank you @LiliDeng
This has been fixed now in https://github.com/LIS/LISAv2/pull/457

[2018-11-28 13:59] adriansuhov opened #460 "Azure: Resource names too long"
We encountered issues with the resource names being to long in Azure. The restriction there is that the names of the resources cannot be bigger than 80 chars. We have situations where a resource name (e.g - extraNetworkCard) is bigger than 80 chars and the test fails because of that. We should consider:

- Decrease the number of chars computed here: https://github.com/LIS/LISAv2/blob/master/Librar

[2018-11-28 14:02] chvalean commented on #460
$curtime itself has 12 chars, definitely must be trimmed

@juhlee-microsoft for ack, maybe someone from other teams can take this, we have allocated already multiple issues.

[2018-11-28 16:01] chvalean opened #461 "fix PERF-STORAGE-OVER-NFS-Synthetic-TCP-4K"
Test require some maintenance, currently it does not work properly on some distros.

Observed problems:

1. it will not have the nfs-server-vm VM IP info, so script will fail to configure nfs.
2. On nfs install, it somehow falls back to apt on centos, which is wrong.

The below have been observer on a CentOS 7.4 Azure VM.

+ message='yum_install nfs-common'
+ echo 'yum_install nfs-common: Failed (

[2018-11-29 05:47] simonxiaoss commented on #429
Now we use Jenkins to send email notifications.
We do have this feature in LISA but we did not use that feature very often.
Close it.

[2018-11-29 11:40] ader1990 opened #469 "Remove BVT-CORE-RELOAD-MODULES-SMP from the BVT suite"
Remove BVT-CORE-RELOAD-MODULES-SMP test case is in the BVT category and takes more than 25 minutes to complete.
I think this test case should be moved to stress category.
This test satisfies the stress test paradigm, please check https://en.wikipedia.org/wiki/Stress_testing_(software)

[2018-11-29 12:56] chvalean opened #470 "code_style: added more rules to flake8 and shellcheck"
Tracking work item for PR https://github.com/LIS/LISAv2/pull/447
@lizzha please assign the right owners to this, thank you!

[2018-11-29 13:12] chvalean commented on #391
Should fail if VM create fails.
For VM start failures, that depends on the test case. We can either fallback to VM snapshot revert, and if it fails to starts even then, then go to exit.

[2018-11-29 13:13] ader1990 commented on #391
The problem is that we cannot fallback to a snapshot, as this issue appears when creating the VM before snapshotting it.

[2018-11-29 13:16] #469 closed

[2018-11-29 13:38] chvalean commented on #355
Setting this as P0 as we have tests reported as failed only for the reason that the feature is not available for a particular distro.

[2018-12-01 00:10] juhlee-microsoft opened #474 "OOB document for Hyper-V"
Using LISAv2 in local Hyper-V is more demanded. We need OOB (Out-of-box) procedure document update for new users. Deliverable is a new document helping the new user to create LISAv2 repo clone, complete Hyper-V setup, and can run LISAv2 tests in the local Hyper-V environment.

Additionally, it is nice to have for remote Hyper-V.

Example, External vSwitch for internet connection, etc.

[2018-12-02 17:41] ader1990 opened #475 "duplicate junit xmls in report folder"
For each lisav2 run, there is a duplicate junit file in the report folder: https://github.com/LIS/LISAv2/blob/master/Run-LisaV2.ps1#L222
If nobody uses one of those files, we should remove one.

[2018-12-03 00:48] lizzha commented on #475
The XX-junit.xml is used by Jenkins. Not sure about the XX.xml, if it's not used, it can be removed.

[2018-12-03 11:49] asofron commented on #129
Created issue  [#1413](https://github.com/Azure/WALinuxAgent/issues/1413) for WaLinuxAgent with relevant information

[2018-12-03 15:03] ader1990 opened #480 "Fix modinfo when collecting LIS data"
Before the module LIS modules came separate from the kernel , now the come built in Kernel, odinfo needs to be fixed in order to show correct information

[2018-12-03 17:11] juhlee-microsoft opened #481 "Test tag consolidation request"
As of Dec-13, 2018, there are so many tags in TestCase xml files. Need to consolidate them and minimize the tag counts.

===== Tag Details =====

Name                           Value
----                           -----
password                       2
backup                         10
hv_storvsc                     7
network                        77
fcopy                          8
restart

[2018-12-03 17:37] juhlee-microsoft opened #482 "Better log parsing in LSVMBUS test"
Validate the test result better with the lsvmbus log. Make sure of the test result with lsvmbus log.

The ask is to copy the lsvmbus.log file.
Script is https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/LSVMBUS.sh

[2018-12-04 07:38] chvalean commented on #481
Some suggestions:
disk and fstab might go under storage
mtab and smb and swap under storage
vm_paused should go away
floppy_disk and cd should be generalized under a misc section

[2018-12-04 09:07] lizzha opened #484 "Remove hardcoded root in cases so that we can remove the Enable-RootUser step for HyperV platform"
There’re some cases that use hardcoded root to run command or copy files remotely, e.g. KVP-PUSH-KEY-VALUES, SQM-BASIC.
We need to fix them, and remove the Enable-RootUser step for HyperV platform

[2018-12-04 10:20] LiliDeng commented on #484
#487

[2018-12-04 14:16] #480 closed

[2018-12-04 16:56] ader1990 opened #489 "TestResult path is too long for Jenkins"
Stashing/Archiving artifacts is mandatory in order for the reporting and comparison pipelines to work.

Stashing/Archiving artifacts can break when the full path of the children leaves for TestResult folder goes beyond 255 characters, especially for long test case names and perf test cases.

Example test case result with path:
C:\Jenkins\workspace\mypipelinename_PR-500-ZP7CWWYIL7BDYIQTW5GZABHKP5IZ

[2018-12-04 21:18] chvalean commented on #481
a shorter name would be vm_states, and indeed it can cover those other mentioned tags

[2018-12-05 00:34] juhlee-microsoft opened #492 "7za.exe can not extract file because the file path is not correct"
12/05/2018 00:13:30 : [ERROR] Unexpected output from 7za.exe when creating **C:\LISAv2\DVAO52284\C:\Windows\TEMP\PERF-DPDK-FWD-PPS-DS15-636795656101414519.zip** :
12/05/2018 00:13:30 : [ERROR]  7-Zip (A) 9.20  Copyright (c) 1999-2010 Igor Pavlov  2010-11-18 Scanning  Creating archive C:\LISAv2\DVAO52284\C:\Windows\TEMP\PERF-DPDK-FWD-PPS-DS15-636795656101414519.zip   Error: 7-Zip cannot open file C

[2018-12-05 00:43] LiliDeng commented on #492
@juhlee-microsoft How to repro it?

[2018-12-05 08:56] ader1990 commented on #492
@juhlee-microsoft

I think the problem is with the double paths -> C:\LISAv2\DVAO52284\C:\Windows\TEMP\PERF-DPDK-FWD-PPS-DS15-636795656101414519.zip ?

[2018-12-05 09:00] LiliDeng commented on #492
Odd, I can't repro it locally.

[2018-12-05 09:02] santoshx commented on #492
Not sure about this particular issue. But I had too many problems with 7za in the past. Make sure you use the version that didn't have problems before.

[2018-12-05 09:03] ader1990 commented on #492
@santoshx  as you can see in the logs, 7z is not the issue here, the path is the problem.

[2018-12-05 12:59] ader1990 opened #493 "Common performance reporting framework in lisav2"
To compare the results for the performance testing, we need a framework that:

- is generic - should work for all performance results
- has machine readable output

For genericity, all performance test cases should have a JSON output, with the name

The JSON file should contain an array of objects, with the object having the following structure
{
  "Id": ValueID,
 "ResultType1": Value1,
 "ResultTy

[2018-12-05 16:15] juhlee-microsoft commented on #492
Correct

________________________________
From: Adrian Vladu <notifications@github.com>
Sent: Wednesday, December 5, 2018 1:03:17 AM
To: LIS/LISAv2
Cc: Ju-Hyoung Lee; Mention
Subject: Re: [LIS/LISAv2] 7za.exe can not extract file because the file path is not correct (#492)

@santoshx<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsantoshx&data=02%7C01%7Cjuhlee%40micr

[2018-12-05 16:17] juhlee-microsoft commented on #492
Have not ever had this binary version issue. Can you write down detail of your error if different? It is nice to open an issue if you can not fix it immediately, Santosh

________________________________
From: Santosh <notifications@github.com>
Sent: Wednesday, December 5, 2018 1:02 AM
To: LIS/LISAv2
Cc: Ju-Hyoung Lee; Mention
Subject: Re: [LIS/LISAv2] 7za.exe can not extract file because the file

[2018-12-05 16:17] juhlee-microsoft commented on #492
Correct

________________________________
From: Adrian Vladu <notifications@github.com>
Sent: Wednesday, December 5, 2018 12:56 AM
To: LIS/LISAv2
Cc: Ju-Hyoung Lee; Mention
Subject: Re: [LIS/LISAv2] 7za.exe can not extract file because the file path is not correct (#492)

@juhlee-microsoft<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjuhlee-microsoft&data=02%7C01%7

[2018-12-05 16:19] juhlee-microsoft commented on #492
Because your repro is in local system not Jenkins slave. Adrian addresses the root-cause. Also check out my log, I pointed two paths conjunction.

________________________________
From: LiliDeng <notifications@github.com>
Sent: Wednesday, December 5, 2018 1:00 AM
To: LIS/LISAv2
Cc: Ju-Hyoung Lee; Mention
Subject: Re: [LIS/LISAv2] 7za.exe can not extract file because the file path is not correct (#

[2018-12-06 15:58] ader1990 commented on #499
reopening issue as there are is also Start-AzureRMVm to fix

[2018-12-06 16:06] ader1990 commented on #499
Partial fix already in place, closing this issue as the main problem has been fixed.

[2018-12-06 18:06] ader1990 opened #504 "azure context is not properly handled in the background jobs"
For parallel jobs to have the same azure context,
the required azure powershell version >= 6.3.0

The issue and resolution is tracked here:
https://github.com/Microsoft/azure-pipelines-tasks/issues/7690

The solution is given here:
https://docs.microsoft.com/en-us/powershell/azure/context-persistence?view=azurermps-6.13.0&viewFallbackFrom=azurermps-6.4.0

Without this requirement, the Azure powers

[2018-12-07 11:13] asofron commented on #484
#507

[2018-12-07 21:11] juhlee-microsoft opened #509 "WALA agent config update dynamically for RDMA"
WALA agent config /etc/waagent.config may be commented out like below.

: # Enable RDMA management and set up, should only be used in HPC images
: # OS.EnableRDMA=y

It blocks IB interface IP address obtaining.  RDMA tests should enable this parameter and restart the service. So that IB interface gets IP address.

[2018-12-07 22:30] #458 closed

[2018-12-10 15:04] ader1990 opened #514 "Fix Azure Ubuntu 18.04 BVT-IS-ROOT-PASSWORD-DELETED test case"
On Azure Ubuntu 18.04, test case BVT-IS-ROOT-PASSWORD-DELETED fails with the following error:

We need to check what is the problem and fix/report the issue upstream.

[2018-12-10 15:12] ader1990 opened #516 "Test case BVT-VERIFY-BOOT-ERROR-WARNINGS fails on Azure Ubuntu 18.04"
On Azure Ubuntu 18.04, we can see the following kernel errors caught by the BVT-VERIFY-BOOT-ERROR-WARNINGS test case:
1.	snapd[1184]: 2018/12/10 08:26:19.814637 helpers.go:119: error trying to compare the snap system key: system-key missing on disk
2.	HV_FCOPY: open /dev/vmbus/hv_fcopy failed; error: 2 No such file or directory
3.	systemd-resolved[867]: Server returned error NXDOMAIN, mitigating p

[2018-12-11 01:10] LiliDeng commented on #514
#507 #484

[2018-12-11 12:16] adriansuhov opened #521 "Implement timeout for each Test Case"
We need in the framework a timeout for each test case. RIght now, this covers only a small part:
- Only Bash scripts and Python scripts
- Only in Run-TestScript, the actual Run-LinuxCmd where the bash/python scripts are executed

We need to implement the following:
- A global timeout for each type of test script: powershell, bash & python
- This needs to cover all the operations that are performed

[2018-12-11 14:18] adriansuhov opened #523 "framework: Wrong Logs passed to new TCs (random issue)"
I am seeing that in some cases logs from a previous test are passed on to the following test cases. I dont have a repro for this, for now it seems a random issue: Here is an example:
    1 BVT-VERIFY-DEPLOYMENT-PROVISION                                    PASS                 7.73
	FirstBoot : PASS
	FirstBoot : Call Trace Verification : PASS
	Reboot : PASS
	Reboot : Call Trace Verification : PASS

[2018-12-11 15:43] chvalean commented on #482
Created a new feature request to handle new requirement for collecting logs in https://github.com/LIS/LISAv2/issues/524

[2018-12-11 15:43] #482 closed

[2018-12-11 15:53] chvalean commented on #449
Function CheckInstallLockUbuntu() should be copied to utils.sh, add timeout and use it in all scripts that use apt for package install.

[2018-12-14 10:19] asofron commented on #484
Functional Tests - #533

[2018-12-17 06:43] LiliDeng commented on #516
Ubuntu 18.04
12/17/2018 03:45:43 AM : INFO : Errors: 763:Dec 17 03:29:12 LISAv2-SingleVM-lili-HC16-20181216192617-role-0 HV_FCOPY: open /dev/vmbus/hv_fcopy failed; error: 2 No such file or directory826:Dec 17 03:29:12 LISAv2-SingleVM-lili-HC16-20181216192617-role-0 snapd[1192]: 2018/12/17 03:29:12.216971 helpers.go:119: error trying to compare the snap system key: system-key missing on disk911:Dec

[2018-12-17 06:44] LiliDeng commented on #516
@ader1990 This is for LIS? HV_FCOPY: open /dev/vmbus/hv_fcopy failed; error: 2 No such file or directory, should we let Dev take a look?

[2018-12-17 13:02] sireeshapotnuru commented on #392
Raised Pull Request #542

[2018-12-17 16:13] chvalean commented on #516
this should be expected in Azure, as fcopy is not available there.

[2018-12-18 04:02] LiliDeng commented on #515
@ader1990 It is assigned in the PS1 code
LISAv2\Testscripts\Windows\PERF-NETWORK-THROUGHPUT-MULTICONNECTION-NTTTCP.ps1 (1 hit)
	Line 210:         $TestCaseName = $xmlConfig.config.$TestPlatform.database.testTag

[2018-12-18 15:46] ader1990 opened #547 "lisav2: implement faster exit time when the kernel fails to boot"
When a new kernel gets installed and does not boot, lisav2 will wait around 9 minutes for the 20 retries of the TCP port 22.

To speed up things, this timeout can be split as follows:

[code]

[2018-12-20 09:36] LiliDeng commented on #484
@asofron How many this work left? Is it okay now I remove enable-root for each provisioned VM?

[2018-12-20 10:10] asofron commented on #484
Still have to post Network / Perf  @LiliDeng  , Will post the PR today . Once that is done we could remove enable-root

[2018-12-20 16:03] chvalean opened #556 "Fix incorrect variable handling in BVT-VERIFY-VHD-PREREQUISITES.py"
BVT-VERIFY-VHD-PREREQUISITES.py fails on RHEL 8.0, but other RedHat releases should have the same problem as described.
Otherwise, this might appear only for custom VHD files with RedHat, where the system is not registered to RHN.

Failure messages:
[code]

[2018-12-27 08:08] #461 closed

[2018-12-27 08:08] chvalean commented on #461
Resolved with PR #558

[2018-12-28 07:04] LiliDeng opened #564 "Download retry times and wait time too long when VM can't access"
When the test VM can't access during test run, testing will still download files from it, the max retry times + wait time in each retry is too long

[2018-12-28 11:40] sireeshapotnuru commented on #56
Raised Pull Request #565

[2019-01-02 22:45] #492 closed

[2019-01-03 08:51] asofron commented on #484
Network / Perf-Network - #555

[2019-01-03 10:58] asofron commented on #516
Added the 3 errors ,seems to failed due to following warning now :

01/03/2019 09:54:09 AM : INFO : warnings: 752:Jan  3 09:53:22 LISAv2-OneVM-staginglisav2-VQ52-20190103095049-role-0 python3[1172]: 2019/01/03 09:53:21.678010 WARNING Server preferred version:2015-04-05843:Jan  3 09:53:23 LISAv2-OneVM-staginglisav2-VQ52-20190103095049-role-0 python3[1172]: 2019/01/03 09:53:23.289829 WARNING Hostnam

[2019-01-03 11:58] chvalean commented on #516
Resolved in #569

[2019-01-03 11:58] #516 closed

[2019-01-04 13:15] chvalean commented on #443
closing this as it will be handled as part of PR #568

[2019-01-04 13:23] chvalean commented on #489
this has been resolved by adding LongPathsEnabled registry entry.

[2019-01-04 13:23] #489 closed

[2019-01-04 13:31] chvalean commented on #547
fixed in PR #548

[2019-01-04 13:31] #547 closed

[2019-01-05 21:43] juhlee-microsoft opened #571 "Add new tags in Resource Group"
Commit number & branch name

Alternatively they could be in Test Summary page at the end.

[2019-01-08 08:23] santoshx opened #575 "Remove WARN when HyperV VM group doesn't exist"
01/08/2019 07:43:00 : [INFO ] Checking if Hyper-V VM group 'LISAv2-OneVM12Disks-sx-FX40-636825499804' exists on localhost...
01/08/2019 07:43:01 : [WARN ] Hyper-V VM group LISAv2-OneVM12Disks-sx-FX40-636825499804 does not exist

Framework checks and WARNs when there isn't a pre-existing group.
As it is not mandatory to have a groups already created before starting the test this WARN should be remo

[2019-01-08 08:33] santoshx opened #576 "Tests fail when FailoverClusters module is not installed in test environment."
01/08/2019 07:54:13 : [INFO ] Test setup/cleanup started using script:.\Testscripts\Windows\AddVhdxHardDisk.ps1 with parameters:NewSize=4GB;SCSI=0,1,Dynamic,512,3GB;fileSystems=(ext4
 ext3 xfs);
01/08/2019 07:54:14 : [INFO ] global parameter MinDiskSize is set to 3221225472
01/08/2019 07:54:14 : [INFO ] Create-HardDrive LISAv2-OneVM-sx-NZ57-636825504334-role-0 localhost True 0 1 Dynamic
01/08/2019

[2019-01-09 17:15] juhlee-microsoft opened #582 "LTP test in Azure shows 'errno=EINVAL(22): Invalid argument' error"
01/09/2019 13:37:09 : [INFO ] TEST SCRIPT SUMMARY ~~~~~~~~~~~~~~~
Running ltp lite suite
Total Tests: 173
Total Skipped Tests: 18
**Total Failures: 1**
Kernel Version: 4.15.0-1036-azure
Machine Architecture: x86_64
Hostname: LISAv2-OneVM-staginglisav2-NC13-20190109124617-role-0
Failed Tests:
proc01.c:396: read failed: /proc/self/task/1645/attr/selinux/current: errno=EINVAL(22): Invalid argument
pr

[2019-01-10 11:38] chvalean commented on #439
Done in PR #581

[2019-01-10 11:38] #439 closed

[2019-01-10 12:07] iamshital opened #585 "NTTTCP Test failing to execute for multiple connections"
**Location**
https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/perf_ntttcp.sh#L272

**Problem**
NTTTCP test is only running test for 1 connection and not proceeding for further connections.

**Error Code:**
./perf_ntttcp.sh: line 272: "0" + 1: syntax error: operand expected (error token is ""0" + 1")

[2019-01-10 19:29] ader1990 opened #590 "Limit LISAv2 excessive logging"
There are too many info logs that do make the log reading very hard.

Stages to achieve this:
1. Limit kernel boot log output to warning/error/fail
2. Add a flag to lisav2 -LogLevel 1|2|3|4

1 - Error only
2 - Warn and Error
3 - Warn, Error, Info : DEFAULT one
4 - Warn, Error, Info, Verbose
5 - Warn, Error, Info, Verbose, Debug

@lizzha @LiliDeng please comment if you consider this necessary or no

[2019-01-11 00:52] LiliDeng commented on #585
because current script support this way (1,2,4,8)

[2019-01-11 06:21] ader1990 opened #592 "Move Hyper-V related methods from Libraries/IntegrationServiceLibrary.psm1 to Libraries/Hyperv.psm1"
The following methods are all relying on HyperV being installed and mostly apply to a VM, thus sohuld be moved in the HyperV module:

1. Set-VMDynamicMemory
2. Get-VMDemandMemory
3. Get-GuestInterfaceByVSwitch
4. Get-IPv4ViaKVP
5. Get-IPv4AndWaitForSSHStart
6. Wait-ForVMToStartKVP
7. Wait-ForVMToStop
8. Get-ParentVHD
9. Create-ChildVHD
10. Create-Controller
11. Copy-FileVM
12. Copy-CheckFileInLinu

[2019-01-11 06:31] lizzha commented on #592
These are LIS feature related functions, so I moved them to IntergationServiceLibraries.psm1.
Per offline discussion, @ader1990  will rename the file to a more proper name, e.g. HypervLis.psm1, and move unrelated functions to HyperV.psm1

[2019-01-11 08:27] adriansuhov opened #593 "STRESSTEST-WEB-PARALLEL-ACCESS: nginx package not available"
While running STRESSTEST-WEB-PARALLEL-ACCESS on a CentOS 7.5, I found that the test was ABORTED because of a config issue. This is the faulty code:
https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/STRESS-Web.ps1#L124
But on the VM we have the following message: _"No package nginx available."_

This happens because an additional step must be performed on CentOS/RHEL - Adding nginx repo

[2019-01-11 12:13] mbivolan opened #595 "PERF-NETWORK-UDP-THROUGHPUT-MULTICONNECTION-Synthetic/SRIOV failure."
When running  the test on Hyper-V we observed that it fails when it tries to collect the mac addresses from a VM with more than one nic.

The test throws the following error:
EXCEPTION : Exception calling "Insert" with "2" argument(s): "Collection was of a fixed size." at line: 1049

This is the failing code:
https://github.com/LIS/LISAv2/blob/a33493d65ac288a2ed5de19321037eb59583261a/Libraries/Hyp

[2019-01-11 16:16] chvalean commented on #595
Fixed in PR #596

[2019-01-11 16:16] #595 closed

[2019-01-11 19:58] #585 closed

[2019-01-14 09:24] ader1990 opened #599 "hyperv: bring back snapshot feature"
Before PR #568 , if a test case failed on HyperV, a snapshot was created with the failure and for the following test the VM was reverted to its original pre test state.

We need to bring back that feature.

[2019-01-14 09:26] ader1990 opened #600 "azure: add support for snapshots"
Like on HyperV, we can speed up tests if we can reuse the same VM. But to make sure the VM state is unaffected by the previous test case run, we need to implement checkpoint/restore workflow.

[2019-01-14 10:13] ader1990 commented on #475
it has been removed in the refactor PR #568

[2019-01-14 10:13] #475 closed

[2019-01-14 19:31] ader1990 opened #603 "lisav2: add unit tests for the core framework"

[2019-01-16 08:47] ader1990 commented on #603
fixed by #602

[2019-01-16 08:47] #603 closed

[2019-01-16 18:02] juhlee-microsoft opened #613 "Duplicated IP addresses in multiple VM setup (RDMA)"
@adriansuhov  found below duplicated IP addresses.

The example slaves list from constants.sh after removing comma. 10.0.0.16 and 10.0.0.28 are duplicated. Should fix not to have duplicated ones.

10.0.0.10
10.0.0.11
10.0.0.12
10.0.0.14
10.0.0.15
**10.0.0.16
10.0.0.16**
10.0.0.17
10.0.0.18
10.0.0.19
10.0.0.20
10.0.0.21
10.0.0.22
10.0.0.23
10.0.0.24
10.0.0.25
10.0.0.26
**10.0.0.28
10.0.0.28**
10.0.

[2019-01-17 07:53] adriansuhov commented on #613
It is a framework issue. This is taken from PS console, after the test was finished. As you can see, $AllVMData is already tainted as it's passed to the test script:
PS C:\Users\v-adsuho\Documents\rdma\latest2> $AllVMData.InternalIP
**10.0.0.16**
10.0.0.32
10.0.0.26
10.0.0.33
10.0.0.25
10.0.0.11
10.0.0.19
10.0.0.18
10.0.0.7
10.0.0.21
**10.0.0.16**
**10.0.0.28**
10.0.0.9
10.0.0.15
10.0.0.6
10.0.0.1

[2019-01-17 14:59] chvalean commented on #599
Side-effect or related to the same issue is this behavior:
'If a test case is Failed/Aborted on a setup type and the next test is on the same setup type LISAv2 will attempt to create a new VM instead of using the existing one and reverting to initial snapshot'

[2019-01-17 14:59] chvalean commented on #620
Handling in issue #599

[2019-01-17 21:30] chvalean opened #622 "Hyper-V: better handle VM start issue"
On Hyper-V, if the VM cannot be started - for example due to out of memory (on host), lisav2 will continue waiting for VM IP.
Current workflow:
- [between tests] restore VM to snapshot
- start VM
- prints message that VM failed to start
- enter in the "Waiting for IP address..." loop.
- not continue, it will loop in the above.

Correct behavior: Start-VM should be handled and verified if it was ab

[2019-01-18 08:36] chvalean commented on #613
Resolved in PR #619

[2019-01-18 08:36] #613 closed

[2019-01-18 12:24] chvalean commented on #559
Addressed in PR #623

[2019-01-18 13:36] chvalean opened #624 "Check OverrideVMSize on Hyper-V tests"
OverrideVMSize was NA for Hyper-V.
After refactor it is active and causes test failures due to large VM resources in Hyper-V VM size mapping.

Check Hyper-V tests that have the OverrideVMSize tag, at least SR-IOV tests with max CPUs are affected.

[2019-01-18 14:03] #56 closed

[2019-01-18 14:04] #57 closed

[2019-01-18 14:07] chvalean commented on #309
@iamshital That might be true for "latest" in a short window of time, but ppa/proposed cannot be present in an Azure image to be considered as already present.

Let's restrict this only to "latest" option quickly and close this - @ader1990

[2019-01-18 14:12] chvalean commented on #484
Changes done in mentioned PRs.

[2019-01-18 14:12] #484 closed

[2019-01-18 22:27] chvalean opened #626 "Verify function Get-IPv4AndWaitForSSHStart in test functionality"
Get-IPv4AndWaitForSSHStart is used many times across the test cases: https://github.com/LIS/LISAv2/search?q=Get-IPv4AndWaitForSSHStart&unscoped_q=Get-IPv4AndWaitForSSHStart

Get-IPv4AndWaitForSSHStart returns an IP or $false (it does not throw). all the calls to the method must be verified and updated if needed.

---

When running STRESSTEST-CHANGE-MTU-RELOAD-NETVSC the test will get aborted and t

[2019-01-21 17:25] adriansuhov opened #632 "custom-kernel: Install fails if the VMs have a static name"
When running lisav2 with custom kernel option, if the tests have setup types that have static VMs name (e.g. dependency-vm), the framework will not download the kernel install log file (starting from second test). Without downloading the logs, it will not check if the install is successful or not & will output an error that kernel failed to install on 1 VM.
The line that is causing the issue is th

[2019-01-22 08:51] lizzha commented on #590
Wasn't aware that I closed it by accident.
Better to use words for the value of -LogLevel, e.g. Error|Warn|Info|Verbose|Debug, descending ordered by severity.
If one level is specified, all the logs with the same or higher severity will be printed.

[2019-01-22 08:52] chvalean commented on #632
@lizzha this seems to have been introduced with the lisav2 refactor.
Will you be able to have a look by chance?
CC @LiliDeng
Thank you!

[2019-01-22 08:55] LiliDeng commented on #632
@chvalean do you have repro job link or repro command?

[2019-01-22 08:56] adriansuhov commented on #632
@LiliDeng , I'll talk to you in private

[2019-01-22 12:27] ader1990 opened #635 "Get-IPv4AndWaitForSSHStart calls must be verified"
Get-IPv4AndWaitForSSHStart is used many times across the test cases: https://github.com/LIS/LISAv2/search?q=Get-IPv4AndWaitForSSHStart&unscoped_q=Get-IPv4AndWaitForSSHStart

Get-IPv4AndWaitForSSHStart returns an IP or $false (it does not throw). all the calls to the method must be verified and updated if needed.

[2019-01-22 13:01] ader1990 commented on #635
duplicated by https://github.com/LIS/LISAv2/issues/626

[2019-01-22 13:01] #635 closed

[2019-01-22 17:57] asofron commented on #626
Seeing other test cases using Get-IPv4AndWaitForSSHStart work fine only STRESSTEST-CHANGE-MTU-RELOAD-NETVSC had the issue

[2019-01-23 13:05] #624 closed

[2019-01-23 13:07] chvalean commented on #470
More rules added in PR #629
Closing this as initial effort has been completed in multiple PRs, let's create new issue when determining if new rules are to be added.

[2019-01-23 13:07] #470 closed

[2019-01-23 13:09] chvalean commented on #460
Closing this as addressed in multiple ways - setupType name change, prefix for RGs has been changed.
Haven't seen any failures recently caused by exceeding this limit.

[2019-01-23 13:09] #460 closed

[2019-01-23 14:42] adriansuhov opened #642 "Azure: Add support for HBS and HCS Family in Validate-SubscriptionUsage"
We have recently seen that the function Validate-SubscriptionUsage is not working as expected. Since new VM Family/Sizes are available in Azure, the function doesn't cover every family.
For example, we have issues with HCs family - lisav2 treats it like H family.

Subscription usage example:
Standard H Family vCPUs                      0    32 Count
Standard HBS Family vCPUs                    0

[2019-01-23 15:51] #642 closed

[2019-01-23 15:55] chvalean commented on #474
Created PR #638  with the documentation.

[2019-01-23 15:55] #474 closed

[2019-01-23 18:39] juhlee-microsoft opened #645 "Azure: VM size series needs better framework design"
Upon new VM size added to the list of LISAv2, we used 'if-statement' with 'else-if'. Suggest to use "pattern" in the automation not continue on adding else-if statement.

[2019-01-24 17:49] juhlee-microsoft opened #652 "Print branch and last commit # in the test summary page"
Need to add branch name and the last commit number in the test summary page.

[2019-01-25 07:53] lizzha commented on #632
The kernel is built when VM is deployed, not when every case runs. So it’s not proper to put the buildkernel logs under case folders.
The fix for this problem can be to use unique log file name for dependency-vm, e.g. LISAv2-OneVM-adsuhuTest-VC74-20190121065806-dependency-vm-build-CustomKernel.txt, then the log will not be overwritten.

[2019-01-25 09:39] asofron commented on #626
All issues with  Get-IPv4AndWaitForSSHStart in testcases has been fixed

[2019-01-25 09:44] #626 closed

[2019-01-25 19:51] juhlee-microsoft commented on #652
PR #656

[2019-01-28 12:36] chvalean commented on #509
@juhlee-microsoft @adriansuhov maybe address this as part of the ongoing changes to RDMA automation code?

[2019-01-29 14:42] asofron commented on #593
Apparently http_load work fine only with debian based distros

[2019-01-29 15:00] chvalean commented on #593
Until further requirement to support this test on other distributions, restrict it only to Debian/Ubuntu.
CentOS/Redhat will require epel repo setup to install nginx and further automation code.

[2019-01-29 15:00] #593 closed

[2019-01-29 23:55] juhlee-microsoft commented on #509
This idea comes from Shital originally, I would like to have new parameter '-CustomWALA' with https link in Run-Lisav2.ps1.

[2019-01-30 11:21] chvalean commented on #632
Fixed in PR #662

[2019-01-30 11:21] #632 closed

[2019-01-30 16:51] #652 closed

[2019-01-31 09:05] chvalean commented on #622
will continue with this as part of issue #391

[2019-01-31 09:05] #622 closed

[2019-01-31 09:07] chvalean commented on #669
Fixed with PR #670

[2019-02-01 13:43] ader1990 opened #689 "kvp tests should be independent"
Currently, the following test cases: KVP-ADD-KEY-VALUES, KVP-MODIFY-KEY-VALUES and KVP-REMOVE-KEY-VALUES need to be run sequentially on the same VM. This breaks the pattern of independent tests.

They can be all merged as stages in the same test case.

[2019-02-04 18:38] #599 closed

[2019-02-06 09:14] #689 closed

[2019-02-06 12:21] ader1990 opened #702 "Fix SRIOV-VERIFY-VF-MAX-CONNECTION"
SRIOV-VERIFY-VF-MAX-CONNECTION fails on Hyper-V because Standard_D14_v2 vm size is set to create VMs with 112GB of memory. Standard_D14_v2 needs to be changed in AzureVMSizeToHyperVMapping to 8vCPU/8GB mem

[2019-02-06 12:54] #702 closed

[2019-02-06 14:02] chvalean commented on #704
This is the candidate for test skipped state if distro is anything other than RedHat or CentOS.
This is expected as test requires LIS RPMs, and current exit status is either Abort or Fail, thus requiring a Skipped state

[2019-02-06 14:05] chvalean commented on #355
From issue #704 - BVT-LIS-DRIVER-VERSION-CHECK fails on Ubuntu

This is the candidate for test skipped state if distro is anything other than RedHat or CentOS.
This is expected as test requires LIS RPMs, and current exit status is either Abort or Fail, thus requiring a Skipped state

[2019-02-06 14:05] chvalean commented on #704
This will be part of Skipped state support from #355

[2019-02-07 05:48] iamshital commented on #645
@juhlee-microsoft What is this about? Please point out the source file and line.

[2019-02-07 05:49] iamshital commented on #600
I'm aware that, azure supports VHD snapshots but not aware of VM snapshot.
Have you checked, if azure supports this?

[2019-02-07 06:06] juhlee-microsoft commented on #645
@iamshital Please see PR #643

[2019-02-07 08:11] iamshital opened #709 "Framework: Incorrect handling of Test Results"
If the test is PASS and if there is subtest results are present, SQL query generated is wrong.

INSERT INTO LISAv2Results (DateTimeUTC,TestPlatform,TestLocation,TestCategory,TestArea,TestName,**TestResult**,SubTestName,SubTestResult,ExecutionTag,GuestDistro,KernelVersion,LISVersion,HostVersion,VMSize,Networking,ARMImage,OsVHD,LogFile,BuildURL) VALUES ('2019-2-7 8:4:23','Azure','southcentralus','BV

[2019-02-07 08:30] iamshital commented on #709
**Note:** Removing P0 flag. I thought it was present in master branch.
Assigning to @ader1990 as the issue is present in `ader1990:implement_skipped_tc_state`

[2019-02-07 08:32] iamshital commented on #709
Also the test summary is wrong :
[code]

[2019-02-07 10:03] ader1990 commented on #709
I will close this issue as this refers to a in-progress pr, not merged one. @iamshital  this will be resolved in the PR itself.

[2019-02-07 10:03] #709 closed

[2019-02-07 12:27] ader1990 commented on #709
@iamshital can you check if the new fixes are alright? thanks.

[2019-02-07 13:32] ader1990 opened #710 "Fix BVT-CORE-RELOAD-MODULES-SMP"
BVT-CORE-RELOAD-MODULES-SMP can hang forever because the retry conditions are not correctly implemented.

The code in the loop always reaches this line when the status file is empty and the attempts counter is not decremented as it should be.
https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/BVT-CORE-RELOAD-MODULES.ps1#L57

[2019-02-07 13:40] ader1990 commented on #710
[code]

[2019-02-07 15:15] ader1990 opened #711 "Fix the value of the test case results"
Because of the refactor related to how test cases return the status results, the following tests need to be fixed in order to return proper statuses:

1. BVT-VERIFY-VHD-PREREQUISITES  Test case script result does not match known ones:>>>   PASS<<<
2. BVT-VERIFY-SSHD-CONFIG Test case script result does not match known ones:>>>   PASS<<<
3. BVT-CORE-RELOAD-MODULES-SMP Test case script result does no

[2019-02-07 16:07] ader1990 commented on #600
yes, I have checked the feature, but it takes a huge amount of time to snapshot and revert the VM (more than 15minutes). It s way faster to create another deployment than use the feature.

[2019-02-08 07:51] #355 closed

[2019-02-08 13:21] mbivolan opened #717 "Fix CI pipelines failure when LISA exits with exit code 0"
This error appears on both Jenkins and Azure DevOps.

Problem: When all the LISA tests are passed and LISA finishes execution with exit code 0, the wrapper stage still fails.
Cause: This might be caused by the Error global variable being populated by error outputs from binaries.

[2019-02-08 17:45] iamshital opened #719 "Framework: LISAv2 resource cleanup issue"
When we start LISAv2 with parameter -TestIterations (greater than 2) and -DeployVMPerEachTest is $false, then LISAv2 does not clean any resources for each test iteration (observed on Azure, not checked on HyperV) but continues to create new VMs for next iteration.

**Logs:**
[code]

And this continues for rest of the iterations.

[2019-02-08 20:38] chvalean commented on #219
@iamshital can you please add the details to this issue and what needs to be done?
If this item is too old, please close it, or start an internal thread to discuss.
Thank you!

[2019-02-08 21:00] juhlee-microsoft commented on #652
https://github.com/LIS/LISAv2/pull/713

[2019-02-09 07:58] juhlee-microsoft commented on #86
After PR #568, I don't see global variable problem in the same PS cmd window.

[2019-02-09 07:58] #86 closed

[2019-02-11 07:16] lizzha commented on #582
It's the LTP case "proc01" that reads the entries under
	"/proc/self/attr/*",
	"/proc/self/task/[0-9]*/attr/*",
if the VM has both SELinux libraries and headers, and gets "Invalid argument" error for some of them.
It's seems not something to fix in LISAv2.

[2019-02-11 07:18] lizzha commented on #564
@LiliDeng  Is this issue still valid? Please close it if not.

[2019-02-11 10:13] ader1990 commented on #719
@iamshital do you refer to DeployVMPerEachTest flag?

In the bug report you refer to an inexistent flag: DeployVMForEachTest

[2019-02-11 10:59] ader1990 opened #723 "Replaceable test parameters can also replace test case names"
The current implementation of Replaceable test parameters looks for the key to be replaced in all the config XML and will arbitrarily replace any string in that XML:
https://github.com/LIS/LISAv2/blob/master/TestControllers/TestController.psm1#L237

For example, if a test case name contains a replaceable test parameter key, the test case name itself will be different.

Possible fix: Make sure that

[2019-02-11 12:50] ader1990 commented on #600
Closing issue, as it is faster to create the deployment from scratch than to snapshot the vms.

[2019-02-11 12:50] #600 closed

[2019-02-11 15:46] #576 closed

[2019-02-11 16:01] iamshital commented on #719
Yes.. I wrote the bug report from my mobile. Didn't recalled the exact name of the flag. Corrected the bug.

[2019-02-11 19:24] chvalean commented on #575
@santoshx this should be a fairly easy fix in terms of handling messages in the code.
Can you work on it in between other tasks?

[2019-02-11 19:49] santoshx commented on #575
@chvalean
I can work on it but I need agreement from you and others that my thinking is correct!

[2019-02-12 02:35] lizzha commented on #719
@xian123 is working on this, but I'm not able to assign to him, assign to Lili instead

[2019-02-12 02:55] lizzha commented on #723
Ideally the replaceable parameters should only replace the values under <TestParameters> tag, but there's exception in cases in FunctionalTests-InfiniBand.xml. The cases has <NumberOfReboots>INFINIBAND_INTEL_TOTAL_REBOOT_COUNT</NumberOfReboots> not under <TestParameters>.
If we can move the INFINIBAND_INTEL_TOTAL_REBOOT_COUNT under <TestParameters>, then we can update to only replace parameters un

[2019-02-12 08:58] lizzha commented on #711
@xian123  could you please take this?

[2019-02-12 10:18] iamshital opened #728 "LISAv2 Feature request - "Support for excluding the tests""
We need a new feature in LISAv2 - "Support for excluding the tests"

**How to use?**
```RunLISAv2.ps1 -ExcludeTests "TEST_NAME1,TEST_NAME2" -TestPlatform Azure -TestCategory "Functional"```

**How it should behave?**
In the above example, LISAv2 will collect all the Azure tests from Functional Category but it should skip- TEST_NAME1 and TEST_NAME2.

**Need:**
While designing the pipelines we've ob

[2019-02-12 10:19] chvalean commented on #723
@juhlee-microsoft @adriansuhov can you please ack this and transform NumberOfReboots as a test param, not part of the main test definition part.

[2019-02-12 10:41] chvalean commented on #575
That entire sequence of messages is not the most clear one, example below.
Maybe try just to change WARN to INFO, unless we want to re-do that whole part just for this.

[INFO ] Creating HyperV Group : LISAv2-OneVM-hyper-v-XA30-636855331552.
[INFO ] Verifying that HyperV Group name is not in use.
[INFO ] Checking if Hyper-V VM group 'LISAv2-OneVM-hyper-v-XA30-636855331552' exists on localhost...
[

[2019-02-12 11:16] ader1990 commented on #717
The problem has been identified:
https://github.com/LIS/LISAv2/blob/master/LISAv2-Framework.psm1#L246

This code breaks the PowerShell wrapper,  exiting with exit code 1.
[code]

Longterm fix:
The test controller should clear all the global variables it has set.

Quick fix: remove this line

[2019-02-12 13:04] chvalean commented on #731
@LiliDeng @lizzha I think you introduced this as part of the nested test cases.
Can you please ack and fix?
Thank you!

[2019-02-12 15:39] #710 closed

[2019-02-12 15:41] ader1990 commented on #717
Fixed by: https://github.com/LIS/LISAv2/pull/732

[2019-02-12 15:41] #717 closed

[2019-02-12 15:43] ader1990 commented on #711
BVT-CORE-RELOAD-MODULES-SMP fixed by PR https://github.com/LIS/LISAv2/pull/730

[2019-02-12 16:49] iamshital opened #733 "HyperV: Infinite loop in checking IP after creating VM Checkpoint"
**Logs**
[code]

[2019-02-12 16:54] chvalean commented on #733
This looks similar with issue #446, probably your fix will also address that.

[2019-02-12 17:35] juhlee-microsoft commented on #723
Acked, @adriansuhov and I work on new branch merging to master soon. We can make a change in new PR. Sounds better?

[2019-02-12 18:45] iamshital commented on #728
Feature request approved by : @juhlee-microsoft @chvalean
I'll start working tomorrow.

[2019-02-12 23:45] juhlee-microsoft commented on #571
duplicated and implemented.

[2019-02-12 23:45] #571 closed

[2019-02-13 00:02] juhlee-microsoft commented on #723
PR #736

[2019-02-13 00:37] juhlee-microsoft commented on #582
Can not reproduce this issue any more. Tested below pipeline and they are all passed.

https://penguinator.westus2.cloudapp.azure.com/job/Microsoft-Test-Execution-Pipeline/632/
https://penguinator.westus2.cloudapp.azure.com/job/Microsoft-Test-Execution-Pipeline/633/
https://penguinator.westus2.cloudapp.azure.com/job/Microsoft-Test-Execution-Pipeline/634/

I think we can close this issue.

[2019-02-13 00:37] #582 closed

[2019-02-13 05:17] LiliDeng commented on #731
@chvalean thanks, we used Desktop version by default not Core version of PowerShell? we need disable the collect log part when L1 VM is windows os.

[2019-02-13 05:18] lizzha commented on #731
@LiliDeng the fix would be to use a different variable name as it's reserved

[2019-02-13 05:24] lizzha commented on #719
@xian123 tested but cannot repro it. @iamshital could you please double check whether it can be reproed? If not, we can close this one.

[2019-02-13 07:15] LiliDeng opened #738 "$customLISBranch is always empty, and in shell script it will use master branch."
@ader1990 @lizzha We can pass -CustomLIS, but can't pass the branch name in current code, not sure if we need add another parameter like -CustomLIS or specify it in -CustomParameters  #737

[2019-02-13 07:20] xian123 commented on #711
The test cases are fixed by PR #739 @lizzha

[2019-02-13 07:28] xian123 commented on #719
The bug cannot be reproduced by manually. Maybe it's a bug in the pipeline.

[2019-02-13 07:31] ader1990 commented on #723
@juhlee-microsoft  How is PR 736 fixing the issue?

[2019-02-13 07:36] chvalean commented on #738
@iamshital are you using this in the LIS pipeline?
Otherwise I'm not aware of using this on our end.

[2019-02-13 08:37] LiliDeng commented on #738
I use it when run VERIFY-NVIDIA-CUDA-DRIVER-FOR-NC12/24/24r-VM cases against centos and redhat 7.5, from this guideline [Here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/n-series-driver-setup.md), need install latest LIS, I tried, it downloaded 4.2.8 it didn't work, using 4.3.0, it works. So that's why I found I can't specify the branch name during test

[2019-02-13 11:14] iamshital commented on #719
@lizzha @xian123 Will check and update by tomorrow.

[2019-02-13 11:35] #711 closed

[2019-02-13 19:52] asofron commented on #729
STOR-VSS-BACKUP-RESTORE-MOUNT-MULTI-PATHS will fail because of Drive not found issue,this will be addressed a later PR

[2019-02-14 04:56] lizzha commented on #645
It can be refactored to use switch block with regex pattern match, also the line https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L106 duplicates multiple times

@LiliDeng could your team take this?

[2019-02-14 04:58] LiliDeng commented on #645
@lizzha Got it.

[2019-02-14 08:38] asofron commented on #729
sdb (resource disk)  ignore is already  in sh files

[2019-02-14 08:38] asofron commented on #729
STOR-VSS-BACKUP-RESTORE-MOUNT-MULTI-PATHS fails but not related to update

[2019-02-14 19:39] #733 closed

[2019-02-14 19:50] iamshital commented on #723
This PR doesn't resolve the issue.
Actually, Adrian is right. If the "Replaceable Key" is present in testname, then it will replace the testname as well.

[2019-02-14 20:10] iamshital commented on #723
https://github.com/LIS/LISAv2/pull/748 Probably this will fix.

[2019-02-14 22:01] juhlee-microsoft opened #750 "Need new parameter OverrideVMSize in LISAv2 cmdline"
PS C:\Users\juhlee\Source\Repos\LISAv2\Utilities> .\Get-LISAv2Statistics.ps1 |grep -i gpu
VERIFY-NVIDIA-CUDA-DRIVER-FOR-NC6-VM                                                  Azure      Functional             GPU                           gpu,pci_hyperv     1
VERIFY-NVIDIA-CUDA-DRIVER-FOR-NC12-VM                                                 Azure      Functional             GPU

[2019-02-14 22:52] juhlee-microsoft opened #751 "Need MSI/MSI-X interrupt test"
Validate MSI/MSI-X interrupts in existing SR-IOV and GPU test cases.

Take a snapshot of /proc/interrupts
Load or unload VF driver or GPU driver; or running traffic over VF.
Wait a few seconds. If there is any traffic running, wait for minutes.
Take another snapshot of the interrupts.

Compare each and verify at least 1 interrupt per device should be increased.
if nvme, it will show an interrupt p

[2019-02-15 09:37] chvalean commented on #750
discussed in a meeting this, lisav2 has a -OverrideVMSize flag

[2019-02-15 09:37] #750 closed

[2019-02-15 10:42] asofron opened #756 "Fix test-cases support for SLES"
Following testcases should also checked and have support for SLES :

- INITRD-MODULES-CHECK
Thu Feb 14 14:07:36 2019 : The test parameter hv_modules is not defined in constants file.
- KVP-BASIC-CHECKS
Error: kvp_client64 tool is not on the system
Error: kvp_client64 tool is not on the system
- BVT-VERIFY-UUID-FSTAB
Has only support for sles 15 , maybe also add sles12

[2019-02-16 06:40] #728 closed

[2019-02-17 12:55] iamshital commented on #719
Will check and close by Monday.

[2019-02-17 20:24] chvalean commented on #751
@juhlee-microsoft  can you please create a TFS task for this and close this?

[2019-02-18 05:26] juhlee-microsoft commented on #751
Done. Sent the internal email for new task item.

[2019-02-18 05:27] #751 closed

[2019-02-18 06:09] lizzha commented on #749
The existing memory cases for HyperV doesn't apply to Azure. This issue is for adding new cases.
Suggest to create one issue for each case, so that the workload of one issue won't be too much.

There's a case named BVT-HOT-VM-RESIZE which can be imported from azure-linux-automation. It deploys the VM, verifies core number/memory size, then resize the VM, verifies new core number /memory size. It c

[2019-02-18 06:12] lizzha commented on #515
@iamshital  could you please share the initial design of why the TestCaseName in database table comes from testTag value?

[2019-02-18 06:17] juhlee-microsoft commented on #749
OK, I will close this issue as soon as I create new internal task items.

[2019-02-18 07:56] iamshital opened #759 "HyperV: RHEL distros need to be registered before using them"
HyperV tests are failing due to RHEL local VHDs are not registered to receive the software packages.

Fix needed:
1. Add support to register local RHEL VHDs.

[2019-02-18 08:59] lizzha opened #760 "Upload test results to database in framework level"
Now test results are uploaded by each case, it should be handled in framework level

[2019-02-18 09:17] chvalean commented on #759
This is what we used in LIS deploy tests in lis-test:
https://github.com/LIS/lis-test/blob/master/WS2012R2/lisa/remote-scripts/ica/Register_vm_rhel.sh

[2019-02-18 13:06] iamshital commented on #759
@chvalean Thank you Chris. We're working on getting this into LISAv2.

[2019-02-19 02:01] lizzha commented on #749
I‘ve created an internal task for adding case VM-HOT-RESIZE

[2019-02-19 04:36] sireeshapotnuru opened #763 "Testcase result is getting updated to aborted, since $resultPass is null"
Current LISAv2 Framework has removed $resultPass,$ resultFail variables,
So, Even though Testcase is passed , Testcase result is getting updated to aborted.

02/16/2019 02:15:09 : [INFO ] Info: VM memory changed successfully!
**02/16/2019 02:15:09 : [INFO ] Test case script result does not match known ones: Aborted
02/16/2019 02:15:09 : [ERROR] Failed to retrieve a known test result: Aborted**

[2019-02-19 04:51] LiliDeng commented on #763
I will update code for this, the global name changed
		Set-Variable -Name ResultPassed  -Value $passResult -Scope Global
		Set-Variable -Name ResultSkipped -Value $skippedResult -Scope Global
		Set-Variable -Name ResultFailed  -Value $failResult -Scope Global
		Set-Variable -Name ResultAborted -Value $abortedResult -Scope Global

[2019-02-19 05:22] LiliDeng commented on #763
@sireeshapotnuru Could you please let know which test cases you run hit issues?

[2019-02-19 05:35] iamshital commented on #763
@LiliDeng , Are you going to work on this today?

[2019-02-19 05:37] iamshital commented on #763
Because, we're blocked on other P0 task, that depends on this task.

[2019-02-19 05:43] LiliDeng commented on #763
@iamshital I am working on it, and could you please list which test cases you hit issue, then I can run testing against updated code.

[2019-02-19 05:44] LiliDeng commented on #763
If you already start working one this, then I will un assign it to me.

[2019-02-19 05:55] iamshital commented on #763
I haven't started working. @sireeshapotnuru , Please list the test cases.

[2019-02-19 05:58] LiliDeng commented on #763
We will create PR for this soon, I doubt that some cases will hit issues which the same with this PR #739 fixed

[2019-02-19 06:06] iamshital commented on #763
@LiliDeng , Do we need to fix this in test cases or in LISA2 framework?

[2019-02-19 06:08] LiliDeng commented on #763
Per @ader1990 , we need fix them in test cases.

[2019-02-19 06:11] iamshital commented on #763
That is bad. @ader1990 , Could you please explain this?

[2019-02-19 06:20] lizzha commented on #763
why not update the global variable name back, since they're already used in muliple cases
ResultPassed  -> ResultPass
ResultFailed  -> ResultFail

[2019-02-19 06:28] LiliDeng commented on #763
Ok, I will take update the global name task firstly, for specify test cases like https://github.com/LIS/LISAv2/pull/739  @sireeshapotnuru will confirm the owneship with Chris about this,

[2019-02-19 06:32] sireeshapotnuru commented on #763
@LiliDeng  Below all the list of Testcases where we need fix

        LIVEMIGRATE
        LIVEMIGRATE-FAILOVER
        LIVEMIGRATE-MEM4GB-CORE8
        LIVEMIG_MEM8GB_CORE16
        LIVEMIG_MEM16GB_CORE32
        QUICKMIGRATE
        COPYFILE-DURING-MIGRATION
        QUICKMIG_MEM4GB_CORE8
        QUICKMIG_MEM8GB_CORE16
        QUICKMIG_MEM16GB_CORE32
        SECUREBOOT-BASIC
        SECUREBOOT-UPD

[2019-02-19 06:36] asofron commented on #763
I`m already working on fixing PRODUCTION-CHECKPOINT, DYNAMIC_MEMORY, AND RUNTIME_MEMORY

[2019-02-19 07:27] asofron commented on #448
@LiliDeng  this should help for sles https://software.opensuse.org/download.html?project=network%3Autilities&package=aria2

[2019-02-19 08:22] LiliDeng commented on #731
#752 merged, so close it.

[2019-02-19 08:45] ader1990 commented on #763
at this moment, it is easier to rename them back to ResultPass/ResultFail, as the new namings have not been used for other tests.

[2019-02-19 08:51] #645 closed

[2019-02-19 11:10] asofron commented on #763
Test cases should not fail anymore but output like : [INFO ] Test case script result does not match known ones: True False True PASS still need to be fixed ( working on it )

[2019-02-19 14:05] ader1990 opened #767 "lisav2 is duplicating the backing vhd file on hyperv"
Due to PR https://github.com/LIS/LISAv2/pull/694/files#diff-accdabd42ae9ba14f2b523565689e2ceR339, there is a duplication of VHDs if LISAv2 is run using HyperV platform and the OsVhd path is a local one.

How to fix the issue:
Do not cache the VHD if lisav2 is creating vms on the same server where it runs.

[2019-02-19 16:23] iamshital commented on #767
I got this. I just need to skip the copy VHD if `-OsVHD <LocalVHD>` and `LISAv2 executer == Server under test`. Otherwise, I still need to copy the VHD. @ader1990 Please Confirm.

[2019-02-19 17:54] iamshital commented on #763
@asofron , Can you just check the status in last item of returned array?
`$TestResult = $ReturnedResult[-1]`

[2019-02-19 18:05] asofron commented on #763
@iamshital  Fixing the escaped output will make it easier to fix the test cases and debug them , also this way we will not encounter this issue the future

[2019-02-19 18:18] ader1990 commented on #763
this is already being done in lisav2 framework, but I would like to remove that code that checks for abort|fail in the testcase output, which is very frail and prone to errors. If the test case runs a command that outputs to the console a string like "pass" or "fail", lisav2 can give false positives/negatives.

[2019-02-19 21:07] #723 closed

[2019-02-20 03:24] LiliDeng commented on #564
Upload retry times 9 - 4 mins
Download retry times 19 - 9 mins
Should we reduce the retry max times for download files? @lizzha

[2019-02-20 08:09] lizzha commented on #749
https://github.com/LIS/LISAv2/pull/768

[2019-02-20 19:26] chvalean commented on #556
No longer seeing this, verified with RHEL 8.0 Beta image from Azure gallery.
Test fails as python is not included in the Beta, but the port error is not showing up.

[2019-02-20 19:26] #556 closed

[2019-02-21 06:16] LiliDeng commented on #564
Not repro.

[2019-02-21 06:16] #564 closed

[2019-02-21 10:54] iamshital opened #786 "HyperV: Join-Path fails, if the drive is not present in current machine"
Start the LISAv2 in server A with test location server B
Server A has c:\ and d:\ drives.
Server B has c:\, d:\, f:\ drivers.
Join-Path command fails to join to paths on server B if the main path drive (f:\) is not on the server A.

Resolution: Just concatenating the strings will be sufficient.

https://github.com/LIS/LISAv2/blob/master/Libraries/HyperV.psm1#L329

[code]

[2019-02-21 11:37] iamshital opened #787 "LISAv2: Distro should be detected as soon as VM is created"
... and detected distro should be available for further operations.
This will enable some functions to do distro specific operations.
E.g. `Register-RhelSubscription`. This way we can skip unnecessary steps.

[2019-02-21 12:25] iamshital opened #788 "Replace .\tools\plink.exe with Run-LinuxCmd"
As of now, I'm seeing 30+ occurrences of direct use of `.\tools\plink.exe`.
In order to maintain a continuity throughout the framework, we need to use `Run-LinuxCmd`.

![image](https://user-images.githubusercontent.com/7985635/53168886-8ede3200-3590-11e9-9fd1-456f53cab731.png)

[2019-02-21 17:08] juhlee-microsoft commented on #781
[https://docs.microsoft.com/en-us/azure/virtual-network/setup-dpdk](https://docs.microsoft.com/en-us/azure/virtual-network/setup-dpdk)

<Snapshot of current supported OS>
[code]

[2019-02-21 18:29] iamshital commented on #759
Fixed by #768

[2019-02-21 18:29] #759 closed

[2019-02-22 00:22] juhlee-microsoft commented on #301
@adriansuhov @chvalean  please review this issue and close it if this is no longer applicable.

[2019-02-22 00:46] juhlee-microsoft opened #792 "Block the run-time in install-package'"
SetupRDMA.sh line 62 show below line. 'install-package' pops up question during run-time below. This is not supported image but there is customer who wants SLES12 sp3 standard image with package installation. Need to remove this question 'Continue'.

<command in the script>
`install_package "kernel-devel-3.10.0-862.9.1.el7.x86_64 python-devel valgrind-devel redhat-rpm-config rpm-build gcc-gfortran

[2019-02-22 01:28] juhlee-microsoft opened #793 "CustomLIS parameter should only work for Redhat/CentOS/Oracle-Redhat-kernel"
### Command
PS C:\Users\juhlee\Source\Repos\LISAv2> .\Run-LisaV2.ps1 -TestPlatform "Azure" -TestLocation "<xxx>" -ARMImageName "<xx ub 18004 xx>" -RGIdentifier "<xxx>" -TestNames "VERIFY-SRIOV-LSPCI" -XMLSecretFile <secret file path> -CustomLIS lisnext

### Test result

In the middle of run-time, it shows below.

02/22/2019 01:02:00 : [INFO ] .\tools\plink.exe -t -pw ****** -P 22 root@xx.xx.xx.xx

[2019-02-22 01:33] LiliDeng commented on #793
This is not the exact error for case fail. since the last line shows executed successfully
02/22/2019 01:02:06 : [INFO ] cp -ar /home/lisa/*.sh . executed successfully in 5.51 seconds.

[2019-02-22 02:05] juhlee-microsoft commented on #793
I am confirmed CustomLIS installation is only allowed for CentOS, RHEL and Oracle images. Please add filtering in the beginning of execution.

[2019-02-22 02:43] LiliDeng commented on #792
@juhlee-microsoft I install a new fresh VM (SUSE Linux Enterprise Server 12 SP3), copy utils.sh, run install_package "expect glibc-32bit glibc-devel libgcc_s1 libgcc_s1-32bit make gcc gcc-c++ gcc-fortran rdma-core libibverbs-devel librdmacm1 libibverbs-utils bison flex", didn't hit this issue.

Could you please share the command line for running case?

[2019-02-22 02:51] juhlee-microsoft commented on #792
This is from Pxxx jenkins. You can find below values from the job log.
job 741: SUSE SLES 12-SP3 2018.09.04
Or, you can start Microsoft-Launch-Start > Build with Parameters -> SUSE / SLES / 12-SP3 / <last value>

[2019-02-22 05:11] iamshital commented on #793
@juhlee-microsoft I'm aware about this error and cause as well. Just need a minor fix. But this is not related to LIS installation failure and this not breaking LISAv2. Please change the subject and make this issue P2 / P3. Also, you tried ubuntu, which is not supported.

[2019-02-22 07:32] #419 closed

[2019-02-22 08:44] LiliDeng commented on #792
Break in below line, remove bold lines or using non-interactive, testing using update code now
             expect -c "spawn zypper in libibmad-devel
                 **expect -timeout -1 \"Choose from\"
                 send \"2\r\"**
                 expect -timeout -1 \"Continue\"
                 send \"y\r\"
                 interact
             "
zypper --non-interactive in  libibmad-devel

[2019-02-22 08:54] LiliDeng opened #794 "Perf-Network tests: Add support for OracleLinux"
  |   | Ubuntu 18.04 | Debian 9 | RedHat 75 | CentOS 75 | OracleLinux | SLES 15 | CoreOS | ClearOS-basic
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
5 | PERF-NETWORK-TCP-THROUGHPUT-MULTICONNECTION-NTTTCP-Synthetic | PASS | PASS | PASS | PASS | Aborted | PASS | PASS | PASS
6 | PERF-NETWORK-TCP-THROUGHPUT-MULTICONNECTION-NTTTCP-SRIOV | PASS | PASS | PASS | PASS | Aborted | PASS | PASS | Aborted

[2019-02-22 15:36] LiliDeng commented on #792
First solution, need do regression testing for other sles version.

https://github.com/LiliDeng/LISAv2/commit/180e664b91d55eb0d9423e17756e588147cd7259
···

[LISAv2 Test Results Summary]
Test Run On           : 02/22/2019 11:27:48
ARM Image Under Test  : SUSE : SLES : 12-SP3 : 2018.09.04
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:41

   ID TestC

[2019-02-22 15:37] LiliDeng commented on #792
Second solution, https://github.com/LiliDeng/LISAv2/commit/a70ac73f88157692e2ba077ed25be3159948e49c
during testing, less possibility to bring in regression issue

[2019-02-22 17:55] juhlee-microsoft opened #798 "Add VMsize filtering in RDMA IB test case"
New filter will display warning when unsupported VM Size is selected in RDMA IB tests.

[2019-02-22 18:29] juhlee-microsoft commented on #792
@LiliDeng Please limit your regression in SLES 12 SP4 and SLES 12 SP3. If you can make it in SLES 15, it would be better. No other images.

[2019-02-22 18:30] juhlee-microsoft commented on #793
Need to filter for CustomLIS parameter. This should be only available for above distros

[2019-02-23 00:37] juhlee-microsoft opened #800 ""-CustomLIS" parameter encounters the error during installation"
This parameter should add customized LIS installation but failed with below error even in supported distro image.

### PS Cmd
.\Run-LisaV2.ps1 -TestPlatform "Azure" -TestLocation "xxxx" -ARMImageName "RedHat RHEL 7.5 7.5.2018081519" -RGIdentifier "xxx" -TestNames "VERIFY-SRIOV-LSPCI" -XMLSecretFile <secret file> -CustomLIS https://github.com/LIS/lis-next/archive/v4.2.8.1.tar.gz

### Actual LISAv2

[2019-02-23 01:49] juhlee-microsoft commented on #800
This is input error - incorrect lis package.

[2019-02-23 01:49] #800 closed

[2019-02-23 02:00] juhlee-microsoft opened #802 "CustomLIS installation hit exception"
Command
.\Run-LisaV2.ps1 -TestPlatform "Azure" -TestLocation "westus2" -ARMImageName "RedHat RHEL 7.5 7.5.2018081519" -RGIdentifier "juhlee" -TestNames "VERIFY-SRIOV-LSPCI" -XMLSecretFile C:\Users\juhlee\Source\Repos\AzureSecrets.xml -CustomLIS https://download.microsoft.com/download/6/8/F/68FE11B8-FAA4-4F8D-8C7D-74DA7F2CFC8C/lis-rpms-4.2.8-1.tar.gz

Exception
02/23/2019 01:51:27 : [ERROR] EXCEPTI

[2019-02-23 02:13] juhlee-microsoft commented on #798
Recently discussed with @LiliDeng
If new proposal comes, we will review for this issue also.

[2019-02-23 02:14] juhlee-microsoft commented on #794
Missing information, why doesn't it work in Oracle Linux?

[2019-02-23 12:16] LiliDeng commented on #794
For example, no entry for oraclelinux distro when install ntttcp.
https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/utils.sh#L2599

[2019-02-25 04:17] #802 closed

[2019-02-25 04:54] LiliDeng commented on #756
Fix BVT-VERIFY-UUID-FSTAB against SLES12.3 is in progress.

[2019-02-25 05:34] LiliDeng opened #807 "Download files failed against clear-os"
02/25/2019 05:24:12 : [INFO ] Downloading /home/azureuser/state.txt from azureuser : 23.100.36.151,port 22 to E:\lili\fix_bug\Test\TestResults\2019-24-02-21-17-44-2180\BVT-ROOT-DEVICE-TIM
EOUT-CHECK using Password authentication
02/25/2019 05:24:17 : [INFO ] Download command returned exit code 1
02/25/2019 05:24:17 : [INFO ] .\Tools\pscp.exe : Fatal: Received unexpected end-of-file from server At

[2019-02-25 06:22] LiliDeng commented on #807
File download successfully. But is has an error

runtest.sh                | 0 kB |   0.0 kB/s | ETA: 00:00:00 | 100%
Using SCP1
Connected to 40.83.164.113
Sending file modes: C0755 44 runtest.sh
Server sent command exit status 0

Fatal: Received unexpected end-of-file from server

.\Tools\pscp.exe -scp -pw $password -v  -P $port $username@${downloadFrom}:/home/azureuser/runtest.sh "E:\lili\fix_bu

[2019-02-25 06:44] LiliDeng commented on #807
Solution
Add "Subsystem sftp internal-sftp" into file /etc/ssh/sshd_config
Then restart sshd

[2019-02-25 08:30] LiliDeng commented on #756
#808

[2019-02-25 14:27] chvalean commented on #798
Tests should not be tied to a certain element like feature.
Tests should have checks for basic feature presence to allow them to run, but otherwise I would say to not hardcode this.
New VMs might appear, so the tests should be capable to run on those without this being restricted.
Also, one should know the feature requirements, and not the test drive that.

[2019-02-25 23:05] #792 closed

[2019-02-26 09:57] #794 closed

[2019-02-26 13:14] iamshital commented on #719
Didn't repro'ed this issue. Closing.

[2019-02-26 13:16] iamshital commented on #219
@chvalean It was about setting ulimit value to 204800 before running the ntttcp tests. It is already part of LISAv2 now. Closing.

[2019-02-26 13:16] #219 closed

[2019-02-26 13:19] iamshital commented on #129
WALA issue is still open.

[2019-02-26 13:23] iamshital commented on #787
@juhlee-microsoft  This is falls under "improvement" category and not blocking anything now. Hence moved to March - 2019.

[2019-02-26 13:47] iamshital commented on #738
We had -CustomLISBranch parameter in earlier automation. But, I don't recommend to add it back. I propose to support `-CustomLIS "lisnext\master"`.

@LiliDeng  @chvalean  Let me know.

[2019-02-26 13:54] asofron commented on #129
@iamshital  I`ll re-test to check if there any change , as well

[2019-02-26 13:59] iamshital commented on #515
@lizzha , We made it to support better powerbi filtering.

for example: We are running a full test pass against, LIS 4.2.8, so we used to tag all the functional / network / performance tests with tag - 'LIS-4.2.8'. And with one powerbi filter, we could see all results on one page.
Earlier, there was no common column was present, that we could control externally to tag specific test case and later

[2019-02-26 14:58] chvalean opened #818 "SRIOV-VERIFY-VF-MAX-CONNECTION-MAX-VCPU: Add grub param before test"
Add **hv_storvsc.storvsc_ringbuffer_size=131072** flag to grub for this test in order to avoid a known issue.
Mark this as a work-around for Azure until it will be fixed in a couple of months.

[2019-02-26 18:14] simonxiaoss commented on #818
we should fail this test case because it is related to a real issue here.

[2019-02-26 18:14] #818 closed

[2019-02-26 19:32] juhlee-microsoft commented on #798
@LiliDeng Please check out if VM Size has letter 'r' or 'mr'. 'r' means it supports RDMA.

[2019-02-27 08:23] #786 closed

[2019-02-27 08:26] chvalean commented on #738
lisnext\branch sounds like a good option to me, just needs to be documented as well.
If \branch is not specified, the code should default to master branch.

[2019-02-27 08:27] LiliDeng commented on #807
Fix #813 merged

[2019-02-27 08:28] LiliDeng commented on #787
#813

[2019-02-27 08:42] #807 closed

[2019-02-27 08:43] #787 closed

[2019-02-27 09:30] LiliDeng commented on #821
I can't repro this issue on my local machine.

[2019-02-27 09:40] iamshital commented on #821
@LiliDeng , I also checked that I can't repro it. But somehow, in our jenkins jobs, this is reproducing. I'm debugging.

[2019-02-27 09:44] asofron commented on #821
@iamshital  i saw it yesterday as well try mutiple restarts

[2019-02-27 09:59] iamshital commented on #719
I was able to reproduce this issue today -

**Complete Logs**

[code]

[2019-02-27 10:00] iamshital commented on #719
@LiliDeng , I've reopened it and was able to repro at local my machine with below command -
[code]

[2019-02-27 10:58] iamshital commented on #821
The repro looks inconsistent. Will keep an eye on this.

[2019-02-27 15:17] iamshital commented on #738
PR opened #823

[2019-02-27 22:22] #793 closed

[2019-02-28 05:25] iamshital commented on #821
@juhlee-microsoft , I think this is Azure side (temporary) issue and not the LISAv2.

[2019-02-28 05:26] lixuemin2016 opened #825 "Hyper-V: Failed to update configuration files. -XMLSecuretFile [FilePath] is not provided."
Two possible issues here:

1. When run test for platform "Hyper-V", if do not provides -XMLSecuretFile, will get the error "Failed to update configuration files. -XMLSecuretFile [FilePath]' is not provided. ", this parameter -XMLSecuretFile should be optional for Hyper-v? Currently will output the red error log even it does not block test.

2. Cannot find xmlSecretFile template in the XML folder.

[2019-02-28 16:43] iamshital commented on #719
**Summary**

We've two PRs to resolve this issue. #826 is merged and #822 is open.

[2019-03-01 10:20] iamshital opened #834 "LISAv2 : Telemetry data upload to DB is not working."
In database.psm1, there are two definitions of Upload-TestResultToDatabase().
Need to combine these into one.

[2019-03-01 10:26] LiliDeng commented on #834
it can enter into correct one if provide the proper parameter?

[2019-03-01 10:26] iamshital commented on #834
@lizzha , As far as I know, function overloading is not supported in Powershell. The last definition will override previous definition.
And in #804 , You created the same function with different parameter. Looks like, it happened by mistake.
Can you confirm?

[2019-03-01 10:28] iamshital commented on #834
It is not happening. I checked that, it is always entering into the last definition of
Upload-TestResultToDatabase()

[2019-03-04 08:07] #834 closed

[2019-03-04 17:51] juhlee-microsoft commented on #840
Please fix the typo also.

Tmdout, behaviour

[2019-03-05 18:36] chvalean commented on #760
@lizzha can you please close this one if the PR is enough, or create a new feature addition for the other test to move to the new model?

[2019-03-06 02:19] LiliDeng commented on #756
All fix merged, so close this.

[2019-03-06 02:19] #756 closed

[2019-03-06 03:02] lizzha commented on #763
The issue seems to have been fixed, what else need to be done regarding this issue? If not, we can close it.

[2019-03-06 03:03] lizzha commented on #719
The two PRs are merged, the issue is fixed.

[2019-03-06 03:03] #719 closed

[2019-03-06 03:06] lizzha commented on #760
The PR is only a pilot. Performance cases and nested cases need to be updated to use the new model.

[2019-03-06 03:09] #129 closed

[2019-03-06 03:09] lizzha commented on #129
Issue is fixed

[2019-03-06 10:18] chvalean commented on #590
@juhlee-microsoft should we go ahead and close this enhancement idea?
It would be a nice to have feature, but since the priority on issues for lisav2 has changed, this one might no longer have to be implemented.

[2019-03-06 10:24] chvalean commented on #301
VERIFY-SRIOV-LSPCI - backend function VerifyVF handles now the pciutils package installation.

Closing this issue, will track other missing dependencies and other tests have been improved in the meantime.

[2019-03-06 10:24] #301 closed

[2019-03-06 10:30] chvalean commented on #309
Closing this, will revise if needed at a later time.

[2019-03-06 10:30] #309 closed

[2019-03-06 10:34] chvalean commented on #448
@LiliDeng do you have the capacity to close this in March?

[2019-03-06 10:34] #449 closed

[2019-03-06 10:36] LiliDeng commented on #448
@chvalean Thanks for reminder, will finish it within March.

[2019-03-06 10:36] chvalean commented on #592
Not going to pursue framework level changes/refactor, closing this item.

[2019-03-06 10:36] #592 closed

[2019-03-06 15:01] #763 closed

[2019-03-06 17:23] juhlee-microsoft commented on #590
Unfortunately, I can not hold other issues unless P0. I believe this is one of them doing good for usability though.

[2019-03-06 17:23] #590 closed

[2019-03-06 17:24] juhlee-microsoft commented on #798
Close because we only hold P0

[2019-03-06 17:24] #798 closed

[2019-03-06 17:24] juhlee-microsoft commented on #481
Close because we only hold P0

[2019-03-06 17:24] #481 closed

[2019-03-06 17:24] juhlee-microsoft commented on #575
Close because we only hold P0

[2019-03-06 17:24] #575 closed

[2019-03-06 17:25] juhlee-microsoft commented on #767
Close because we only hold P0

[2019-03-06 17:25] #767 closed

[2019-03-06 18:28] juhlee-microsoft commented on #446
Close non-P0 issues

[2019-03-06 18:28] #446 closed

[2019-03-06 18:29] juhlee-microsoft commented on #821
Close non-P0 issues

[2019-03-06 18:29] juhlee-microsoft commented on #788
Close non-P0 issues

[2019-03-06 18:29] #788 closed

[2019-03-06 18:29] juhlee-microsoft commented on #760
Close non-P0 issues

[2019-03-06 18:29] #760 closed

[2019-03-06 18:29] juhlee-microsoft commented on #560
Close non-P0 issues

[2019-03-06 18:29] juhlee-microsoft commented on #515
Close non-P0 issues

[2019-03-06 18:29] juhlee-microsoft commented on #448
Close non-P0 issues

[2019-03-06 18:29] #448 closed

[2019-03-06 18:30] juhlee-microsoft commented on #509
Close non-P0 issues

[2019-03-06 18:30] #509 closed

[2019-03-06 18:30] juhlee-microsoft commented on #524
Close non-P0 issues

[2019-03-06 18:30] juhlee-microsoft commented on #781
Close non-P0 issues

[2019-03-06 18:31] juhlee-microsoft commented on #391
Close non-P0 issues

[2019-03-06 18:31] juhlee-microsoft commented on #490
Close non-P0 issues

[2019-03-06 18:31] juhlee-microsoft commented on #521
Close non-P0 issues

[2019-03-06 18:31] #521 closed

[2019-03-06 18:31] juhlee-microsoft commented on #738
Close non-P0 issues

[2019-03-06 18:31] #738 closed

[2019-03-06 18:32] juhlee-microsoft commented on #754
Close non-P0 issues

[2019-03-06 18:32] juhlee-microsoft commented on #825
Close non-P0 issues

[2019-03-06 18:32] #825 closed

[2019-03-06 18:32] juhlee-microsoft commented on #840
Close non-P0 issues

[2019-03-07 06:51] chvalean commented on #840
As this issue had an owner and a date set, it is already work in progress and to be finished very shortly.

[2019-03-07 06:58] chvalean commented on #391
Reopening this, @asofron is already working on a fix and this will be handled shortly.

[2019-03-07 07:40] iamshital commented on #391
@asofron , How are you handling this error? are you going to wait and retry with timeout?
I'm also seeing another issues (but not consistently)-
1. Unable to snapshot (error unknown).
2. Unable to restore VM to earlier snapshot (error unknown).

[2019-03-07 07:53] asofron commented on #391
@iamshital don`t intend to wait for retry and timeout ( too much time to aborted ) . As for the other two issues that your talking about are they happening after setup script ?

[2019-03-07 13:24] iamshital commented on #391
@asofron Yes. Sometimes, it happened at creating the ICABase snapshot. and sometimes, at restoring ICABase snapshot. But again, repro is not consistent. So, I would put this low priority.

The important one is - How are you going to handle "Failed to start VM" error.

My suggestion is -
1. Delete the VMs if they are failed to start.

Scenario 1 : Single VM test -
VM 1 fails to start -> proceed  to

[2019-03-12 01:07] juhlee-microsoft commented on #11
Good to see saving rum-time

[2019-03-12 09:00] chvalean commented on #18
Up for discussion if we want to define any other specifics here.

[2019-03-12 12:57] ader1990 opened #20 "dpdk version is empty on v19.02"
The dpdk version was retrieved from the file pkg/dpdk.spec, which was removed in the last stable version 19.02 by this commit:
https://github.com/DPDK/dpdk/commit/36dd40acfedfabd88bdb397585dac6438f1c5e6c

A fix is needed, as the results uploaded to the db do not have a version and those results cannot be plotted in power bi.

[2019-03-12 14:07] chvalean commented on #19
Please update Description with the context on why this change is required.

[2019-03-12 16:29] chvalean commented on #19
hasWALA should not be that important in the framework hierarchy to get to be a global var, but I'm missing the context there.
If this gets approved, please also change in this PR the documentation - https://github.com/LIS/LISAv2/blob/master/Documents/How-to-use.md

[2019-03-12 16:58] #20 closed, assigned to ader1990

[2019-03-13 07:57] iamshital commented on #19
@juhlee-microsoft  @lizzha ,

I would insist going through our traditional LISAv2 approach-
1. Add support for one more custom parameter - "-CustomParameter **ImageType=Specialized**"
Note: ImageType could be Specialized / Generalized
2. This data will be passed through AddtionHWConfig to Generate-AzureDeployJsonFile automatically. No need of any global variable.
3. If the ImageType is set as "Spe

[2019-03-13 08:00] iamshital commented on #19
CustomWALA discussion was to install the wala from any external wala repository. This is not the case here.

[2019-03-13 08:26] lizzha commented on #19
@iamshital that's a feasible approach

[2019-03-13 10:21] iamshital commented on #19
@prashantmhetar Please go ahead with the `-CustomParameters "ImageType=Specialized"` approach.

[2019-03-13 10:29] prashantmhetar commented on #19
@iamshital @lizzha Modified the code to have custom parameter

[2019-03-13 22:07] vyadavmsft commented on #19
We have a test result for this PR and its regression test passed.

[2019-03-14 08:20] chvalean commented on #17
@iamshital  is this still under testing? Please merge otherwise.
PS: had to update the branch in order to merge this PR.

[2019-03-14 11:06] iamshital commented on #17
Verified execution
-------------------
[code]

[2019-03-15 05:34] juhlee-microsoft commented on #35
Can test log includes before/after interrupt count snapshot as raw data?

[2019-03-15 05:41] adriansuhov commented on #35
@juhlee-microsoft They include the interrupts/vcpu before & after the test run. Here is an example:
[lisa@LISAv2~]$ cat TestExecution.log
Thu Mar 14 23:16:13 2019 : Testscript running on redhat_7
Thu Mar 14 23:16:13 2019 : Successfully initialized testscript!
Thu Mar 14 23:16:31 2019 : yum_install ruby: Success
Thu Mar 14 23:16:31 2019 : Expected VF count: 1. Actual VF count: 1
Thu Mar 14 23:16:31

[2019-03-15 09:05] adriansuhov commented on #35
I've further consolidated the test script & also did a test run on Hyper-V:
[LISAv2 Test Results Summary]
Test Run On           : 03/15/2019 08:20:59
VHD Under Test        : ****\Ubuntu\ubuntu_18.04.1\ubuntu_18.04.1_gen1_gen2.vhdx
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:24

   ID TestCaseName

[2019-03-15 10:47] LiliDeng commented on #36
Run two cases
[code]

[2019-03-18 06:07] LiliDeng commented on #36
@lizzha I will update code based on Ju's comment, could you please review again? any comments?

[2019-03-18 06:56] lizzha commented on #36
@LiliDeng I will approve once you resolve Ju's comment

[2019-03-18 07:23] LiliDeng commented on #36
I update test area manually for BVT-IS-ROOT-PASSWORD-DELETED, just for a test.
[code]

[2019-03-20 21:45] chvalean opened #47 "HyperV, LTP: use VHDx instead of VHD for test disk (for both Gen1 and Gen2)"
Current test definition is adding a VHD disk to be used during LTP, this does not work however for Gen2VM for example.
We can easily use the other setupScript AddVhdxHardDisk/RemoveVhdxHardDisk which supports VHDx and is independent of VM generation.

@LiliDeng @lizzha @mbivolan @ader1990 @iamshital @juhlee-microsoft please let me know if you make use of VHD in this TC by any chance.

Reference:
h

[2019-03-20 21:55] chvalean opened #48 "better handle dhclient commands"
SLES15 local Hyper-V image does not include the dhclient tool.
Automation assumes incorrectly that dhclient is present in an image, when it can surely happen that any distro might not have it by default.

This makes teste that rely on it like BVT-NET-IFUP-IFDOWN or BVT-CORE-RELOAD-MODULES to fail, but this is a false-positive failure as the tool is missing, not that it returns an error that is che

[2019-03-21 10:12] ader1990 opened #50 "SLES 15: Fix log collection"
When running lisav2 with SUSE 15 image:

[code]

[2019-03-22 11:01] ader1990 opened #52 "SLES: add suport for -CustomKernel "localfile:""
Lisav2 does not support installing custom kernel on SLES 15/SLES 12.

[2019-03-22 11:04] ader1990 opened #53 "HyperV: Add support for custom kernel install for generation 2 VMs"
LISAv2 fails to modify the proper grub.cfg on efi systems, as the path is no longer /boot/grub/grub.cfg.

Depending on the distro version, that path can be:

1. RHEL - /boot/efi/rhel/grub/grub.cfg
1. SLES - /boot/efi/sles/grub/grub.cfg

Ubuntu path must be checked too.

[2019-03-25 17:45] stefanlupsa commented on #53
Have checked for the following for default locations:

* Ubuntu 18.04: `/boot/efi/EFI/ubuntu/grub.cfg` `/boot/grub/grub.cfg`
* CentOS 7.6: `/boot/efi/EFI/centos/grub.cfg` `/boot/grub2/grub.cfg`
* SLES 15:  `/boot/efi/EFI/BOOT/grub.cfg` `/boot/grub2/grub.cfg`

[2019-03-26 02:26] lizzha commented on #56
Approved for code change, will merge after test results posted

[2019-03-26 14:21] stefanlupsa commented on #56
**CentOS 7.6**:
[code]

[code]
---
**SLES 15**:
[code]
[code]

[2019-03-26 14:24] #52 closed, assigned to nobody

[2019-03-26 14:24] #53 closed, assigned to nobody

[2019-03-26 16:23] ader1990 opened #63 "Cleanup duplicate DPDK install code in the dpdkSetup.sh and dpdkUtils.sh"
The code from dpdkSetup.sh and dpdkUtils.sh should be unified and duplicates removed.

[2019-03-26 16:26] ader1990 opened #64 "The Is-VmAlive retry count of 20 is too small on custom kernel installs on VMs with multiple nics on Azure"
On Azure, the VMs that have multiple nics take a longer time to reboot and enable the networking stack, making the Is-VMAlive function fail.

The function has a retry count of 20 as default and a 3 second timeout between retries (around 60 seconds).

We should increase the default retry 50 to cater for the lazy networking. This increase should not affect kernel panics check, as that scenario is ha

[2019-03-27 09:28] lizzha commented on #65
Have you tested on HyperV?

[2019-03-27 09:45] LiliDeng commented on #65
no, I will post results for HyperV later, thanks for remind.

[2019-03-27 09:55] ader1990 commented on #66
this is a duplicate of my fix: https://github.com/LIS/LISAv2/pull/30

[2019-03-27 09:57] ader1990 commented on #66
@LiliDeng can you add the code from my PR to this PR and test with the merged code?

[2019-03-27 12:12] asofron commented on #50
That is the output on the cat /etc/issue  on the SLES 15 image :
Welcome to SUSE Linux Enterprise Server 15 (x86_64) - Kernel \r (\l).
eth0: \4{eth0} \6{eth0}
eth1: \4{eth1} \6{eth1}

[2019-03-27 15:12] stefanlupsa commented on #67
**Test log for PR changes:**

[code]

[2019-03-27 17:28] juhlee-microsoft commented on #71
Can you put the reason for the revert this patch?

[2019-03-27 17:30] ader1990 commented on #71
@juhlee-microsoft  this patch has a change that can impact all the lisav2 tests, more test results are required. @stefanlupsa  please post the test results for all the BVT suire on HyperV.

[2019-03-27 17:33] juhlee-microsoft commented on #71
@ader1990 you don't see the LISAv2 failure with this patch actually, right? Are you concerning because there is no test result?

[2019-03-27 17:36] ader1990 commented on #71
@juhlee-microsoft  this is the main concern change: https://github.com/LIS/LISAv2/pull/71/files#diff-2411aaddd5536a1d954db78a819c3f6fL2102
We need more test results in order to be sure it does not impact all the tests, the method check_exit_status is widely used.

[2019-03-27 17:41] juhlee-microsoft commented on #71
understood. @stefanlupsa  please open a new PR with BVT test results.

[2019-03-27 17:46] juhlee-microsoft opened #73 "LISAv2 to support running a test with multiple VM sizes (OverrideVMSize accepts multiple values)"
Some tests are naming like <TC_name-VMSize>. A single test clones to multiple because of VM sizes.

**Suggestion:** Keep the single test case in the repo but add a new param, 'AllowedVMSize' in TC xml file. This variable is an array of supported VM sizes, so that the framework can filter out if this run-time is correct or not, depending on the result of AllowedVMSize filtering. This param is optio

[2019-03-28 04:32] LiliDeng commented on #65
Add Hyperv results -
[code]

[2019-03-28 06:46] LiliDeng commented on #66
Scenario 1
Run a case in a normal usage - Pass

Scenario 2
Run a case without cleanup - PASS
Run a case against above RG again without keep, it will delete resources under this RG except for availability set - Pass
Now RG only has one availability set, manual delete it, run case using an empty RG - Pass

Scenario 3
Run a case without cleanup - PASS
Manual delete VM, run case against this RG - PASS

[2019-03-28 10:40] ader1990 commented on #66
thank you @LiliDeng. Can I remove my old PR now?

[2019-03-28 11:48] stefanlupsa commented on #72
[code]

[2019-03-28 18:01] ader1990 commented on #68
Test results:

[code]

[2019-03-28 20:09] juhlee-microsoft commented on #66
@ader1990 please remove your PR safely.

[2019-03-29 09:41] LiliDeng commented on #74
@lizzha Ava already did testing by herself, to double check I will do testing and post results against latest code.

[2019-03-29 18:54] juhlee-microsoft opened #78 "UseExistingRG param shall support even if no LoadBalancer exists"
Sometimes LoadBalancer does not exist in RG, so it blocks automation run-time with '-UseExistingRG'. Suggest to create a new LoadBalancer if none is there.

[2019-04-01 03:56] LiliDeng commented on #74
PERF-NETWORK-TCP-THROUGHPUT-MULTICLIENTS-NTTTCP-SRIOV
[code]

[2019-04-01 06:57] LiliDeng commented on #74
PERF-STORAGE-4K-IO
[code]

[2019-04-01 20:03] juhlee-microsoft commented on #74
@v-sijliu please resolve the conflict. I can not merge it.

[2019-04-02 00:19] LiliDeng commented on #74
PERF-STORAGE-OVER-NFS-Synthetic-TCP-4K
[code]

[2019-04-02 00:21] LiliDeng commented on #74
AZURE-NESTED-KVM-STORAGE-SINGLE-DISK
[code]

[2019-04-02 12:37] #50 closed, assigned to asofron

[2019-04-02 14:54] stefanlupsa commented on #84
Pending test results with gen2 Vm

[2019-04-02 16:10] stefanlupsa commented on #84
Ubuntu 16.04 gen2:

[code]

[2019-04-02 17:41] #47 closed, assigned to stefanlupsa

[2019-04-03 02:36] LiliDeng commented on #78
Current if no LB exists, -UseExistingRG will create one. Could you please clarify the detailed requirement? When using -UseExistingRG, what resources already in existed RG? What resources need create?

[2019-04-03 20:41] juhlee-microsoft commented on #90
@glewis9999 please add more context in Description. We did not see prompt issue so far. This is infra change.

[2019-04-03 21:06] juhlee-microsoft commented on #86
PR is still under testing. Please check out Debian's case, because you added grub> prompt, and I wonder if no change in each distro.
As we talked, please check out with the same version of kernel in case. For example, 1014 over 1014 like old case.

[2019-04-03 21:27] juhlee-microsoft commented on #78
Case 1.
 1) They need the subscription id, Availability Set name and Resource Group name. No VM exists.
Case 2.
 2) if no LoadBalancer, it should be created and assign public IP to each VM.

[2019-04-03 21:46] vyadavmsft commented on #90
Gordon reported in some scenario IP changes in every reboot and prompts for "yes" and this needs to be echoed.

[2019-04-03 21:53] juhlee-microsoft commented on #90
@vyadavmsft I suggest this change will be validated against the most of distro images. This change is in infra not test case. We have not seen the issue before.

[2019-04-04 01:52] LiliDeng commented on #90
In function GetAndCheck-KernelLogs, it will upload a random file to the VM to avoid enter yes when ssh a new fresh IP, see https://github.com/LIS/LISAv2/blob/master/Libraries/TestLogs.psm1#L264

[2019-04-04 05:27] LiliDeng commented on #73
let me know if my understanding is incorrect, if current size is in AllowedVMSize which contains in test case definition, then this case can continue, otherwise will mark it skip? if not specified this AllowedVMSize in xml file section, it means this case is not limited in special size?

[2019-04-04 09:00] #64 closed, assigned to stefanlupsa

[2019-04-04 09:00] chvalean commented on #90
@glewis9999 I would suggest to provide more context and some logs that will show the need for this.
Otherwise this seems unlikely and the issue you're facing might be somewhere else, but IMO the changes in this PR are not required.

[2019-04-04 09:41] iamshital commented on #90
@glewis9999
If after every reboot, the IP is changing, the best way to handle this is - Upload a random file to machine after the reboot.
Upload uses pscp.exe with echo 'yes', and this will add the remote machine key to trusted one.
So, later, you don't need to do echo 'yes' in RunLinuxCmd.

[2019-04-04 09:59] LiliDeng commented on #90
Usually reboot won't make public IP change, shutdown=>start will change public IP on azure.

[2019-04-04 10:20] ader1990 commented on #86
Execution tested:
If the kernel deps cannot be installed:

[code]

If the kernel gets installed correctly:

[code]

[2019-04-04 11:26] chvalean commented on #48
Closing item, would be nice to have it fixed if we run into issues again, otherwise this is very rare occurrence.

[2019-04-04 11:26] #48 closed, assigned to nobody

[2019-04-04 23:00] glewis9999 commented on #90
Thank you for the comments.  I think I can close out this pull request and use the suggestions in this thread.

[2019-04-05 09:43] chvalean opened #94 "SR-IOV: Generic fixes"
1. All mlx4 references must expanded to also support mlx5 driver (Hyper-V case only for now with CX4 cards).
Reference: https://github.com/LIS/LISAv2/search?q=mlx4_core&unscoped_q=mlx4_core
2. This line might be NA on SLES15, evaluate adding the proper command for sles15 and still support older sles12 releases.
https://github.com/LIS/LISAv2/search?q=rcSuSEfirewall2&unscoped_q=rcSuSEfirewall2

[2019-04-05 13:27] ader1990 opened #95 "LISAv2 archives the LIS archive on custom LIS install => creating log archive of more than 7GB"

[2019-04-05 13:29] ader1990 commented on #95
When running tests that require LIS install from custom source, the LIS source is put in the test result directory of each test. As one LIS source file has around 800MB and if Jenkins archives the test result, we can reach at huge amount of data being stored on the Jenkins server.

If there are 50 test cases, there will be 50*800MB = ~ 40GB stored in Jenkins.

[2019-04-05 14:44] chvalean commented on #95
This has been observed when running DPDK suite, other cases where custom LIS install option is used might also show this behavior.

[2019-04-10 21:16] juhlee-microsoft opened #107 "framework update required for SLES15"
This was found from DPDK testing, and content of LISAv2-OneVM3NIC-DPDKDaily-JV42-20190410161730-role-0-distroVersion.txt shows 'unknown'
And uptime log, LISAv2-OneVM3NIC-DPDKDaily-JV42-20190410161730-role-0-uptime.txt, shows UPTIME_COMMAND_ERROR.
This is reproducible in SLES 15.

[2019-04-10 23:35] chvalean opened #108 "LISAv2: Introduce SupportedVMSize flag to test cases"
new tag in xml:
	<test>
		<testName>INFINIBAND-INTEL-MPI-2VM</testName>
        <eligibleVMSize>Standard_NC6,Standard_NV24</eligibleVMSize>

This can be overrided by the -CustomParameter flag to lisav2.
Flag can also support wildcard matching - Standard_NV*

First phase to cover: NVME, GPU, DPDK and RDMA.

[2019-04-11 00:03] chvalean commented on #95
Remove lis archive after the install function is done.

[2019-04-11 00:04] ader1990 commented on #95
We should remove the lis rpm tar.gz after it gets installed in this method:
https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/customLISInstall.sh

[2019-04-12 22:25] #73 closed, assigned to nobody

[2019-04-15 14:01] iamshital opened #117 "Post VM deployment failures are not captured in telemetry database"
**Targetted issues -**
Azure:
1. OSProvisioningTimedOut

**Why this is required?**
When running thousands of tests, it is not possible to go through the console logs to check all the results.
So we rely on power-bi reports / junit captured results.
But, the trivial error - 'OSProvisioningTimedOut' is not making it's way to Telemetry DB. So this gives a false sense of security.

[2019-04-15 22:20] #107 closed, assigned to LiliDeng

[2019-04-15 23:38] chvalean commented on #63
Closing this as it is low priority, will review it at a later time.

[2019-04-15 23:48] ader1990 commented on #122
Execution tested with multiple values.

This is one of the most complex run:

[code]

[2019-04-16 00:27] lizzha opened #123 "GetDistro() in utils.sh detects CentOS 7.6 as rhel_6"

[2019-04-16 04:55] juhlee-microsoft opened #124 "Need slim-style LISAv2 automation design"
Would like to remove PS wrapper because target host does not have PS cmdlet available, pinned resource group has no internet connection, or special requirements there.

1. It is nice to have new utility to generate constants.sh, all required test scripts in to a single tar-ball file without execution. So testing package can be transferred to the target system and executed manually (Semi-automation

[2019-04-16 17:59] ader1990 commented on #122
Closing PR, as it is not needed.

[2019-04-17 10:43] LiliDeng commented on #123
@lizzha $DISTRO is centos_7 when test on CentOS 7.6, where did you see this error?

[2019-04-17 16:13] lizzha commented on #123
Doesn't repro now, close the issue

[2019-04-17 16:13] #123 closed, assigned to Tong-Xu

[2019-04-17 17:23] chvalean commented on #123
I recall fixing something about 6.x detection but cannot track it.
Maybe you were using some different/old branch/fork.

master lisav2 utils:
[root@centos76 ~]# echo $os_RELEASE
7.6
[root@centos76 ~]# cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

[2019-04-18 00:38] LiliDeng opened #128 "-ResourceCleanup Delete not work when -DeployVMPerEachTest specified"

[2019-04-18 01:44] LiliDeng commented on #128
Not related with DeployVMPerEachTest , Start-Job sometimes not work properly.

[2019-04-18 01:44] #128 closed, assigned to LiliDeng

[2019-04-18 09:20] xian123 commented on #129
[code]

[2019-04-18 18:36] ader1990 commented on #108
Closing this, as it will implemented in another way in the future.

[2019-04-18 18:36] #108 closed, assigned to ader1990

[2019-04-18 23:54] ader1990 opened #133 "Azure: Do not wait for RG cleanup"
Remove the code for waiting for resource clean up on Azure, as it takes too much time (around 5 minutes of test time).

[2019-04-19 04:57] LiliDeng commented on #133
Sometimes, start-job didn't really do the cleanup work, can we have a logic check there?

[2019-04-19 12:56] stefanlupsa opened #136 "OverrideVMSize: redeploys on the same vm size as the previous test case"
While running GPU tests, we found an issue related to the implementation of #73

After the 1st test case runs on all it's vm sizes, the 2nd test case only deploys on the last size of the previous test case.

---

-TestNames 'NVIDIA-GRID-DRIVER-VALIDATION,GPU-PCI-RESCIND'
-OverrideVMSize 'Standard_NV6,Standard_NV12,Standard_NV24'

**[LISAv2 Test Results Summary]**
[code]

---

**2nd Test case, 1st

[2019-04-19 17:35] juhlee-microsoft commented on #137
Please add description.

[2019-04-19 22:21] ader1990 opened #139 "Show all test number when using multiple override vm sizes"
Issue reported by @lizzha here: https://github.com/LIS/LISAv2/pull/138

[2019-04-22 12:57] ader1990 commented on #136
Fixed by https://github.com/LIS/LISAv2/pull/138

[2019-04-22 12:57] #136 closed, assigned to ader1990

[2019-04-23 08:54] ader1990 opened #148 "XML global config file contains sensitive information after the run is complete"
After a LISAv2 run with secrets file path given as a parameter, XML\GlobalConfigurations.xml contains the secrets and it may leak sensitive information.

Possible fix: create a copy of the existing XML\GlobalConfigurations.xml and revert the XML\GlobalConfigurations.xml contents to the initial copy at the end of the lisav2 run.

[2019-04-23 10:01] ader1990 commented on #149
Please do not merge until it gets tested.

[2019-04-24 17:25] chvalean commented on #154
Please do not merge this until I can run at least the new tests and check the new priority totals.

[2019-04-25 05:23] chvalean commented on #154
Test results for the new tests:

[code]

[2019-04-25 10:50] ader1990 commented on #133
Implemented by PR: https://github.com/LIS/LISAv2/pull/140

[2019-04-25 10:50] #133 closed, assigned to ader1990

[2019-04-25 16:50] #94 closed, assigned to stefanlupsa

[2019-04-25 16:51] chvalean commented on #148
@juhlee-microsoft please advise on the priority to fix this.

LE: this has been confirmed and requires fix.

[2019-04-25 17:39] lizzha commented on #148
In current LISAv2 code, GlobalConfigurations.xml is loaded to memory once and then config is updated in memory and written back to the file on disk. But the file will not be read again after being changed. So we can just don't write back the updated global config to the GlobalConfigurations.xml file, so that it keeps unchanged.
@LiliDeng could you please make this change and validate it ASAP?

[2019-04-25 21:49] lizzha commented on #154
Seems some cases are not covered, e,g, LIS-Tests, NestedVmTests, do you plan to cover them in a separate PR?

[2019-04-26 06:30] chvalean commented on #154
updated nested, seems to have missed it.
Thank you!

[2019-04-29 02:38] #148 closed, assigned to LiliDeng

[2019-04-30 00:07] #139 closed, assigned to ader1990

[2019-04-30 13:30] #95 closed, assigned to nobody

[2019-05-02 10:19] iamshital opened #170 "LISAv2 summary is missing some aborted tests"
In below logs, Test ID 17 and 18 are missing.

[code]

[2019-05-06 10:14] iamshital opened #176 "[P0] Upload timeout is causing big delay in aborting test"
[code]

[2019-05-06 10:17] iamshital opened #177 "[P0] Get-IPv4ViaKVP : 8 hours delay in aborting single test"
[code]

[2019-05-06 12:16] iamshital opened #178 "[P0] Test passes even if sub-test is failed"
[code]

[2019-05-07 17:42] ader1990 commented on #183
Execution tested:

[code]

[2019-05-07 18:24] juhlee-microsoft opened #184 "Add additional verification point with md5sum before/after file-copy"
In FCOPY-NON-ASCII.ps1 we do md5sum for the file.
It might go as a separate work item to maybe compute md5sum for all fcopy tests, but not in this PR.

_Originally posted by @chvalean in https://github.com/LIS/LISAv2/pull/175_

[2019-05-07 19:39] chvalean opened #185 "RHEL8: python check failure in lisav2"
These logs repeat endlessly in RHEL8 RTM:

[Azure Functional WALA x] 05/07/2019 18:28:14 : [ERROR] Opened main channel
[Azure Functional WALA x] 05/07/2019 18:28:14 : [ERROR] Allocated pty (ospeed 38400bps, ispeed 38400bps)
[Azure Functional WALA x] 05/07/2019 18:28:14 : [ERROR] Started a shell/commandSent EOF messageServer sent command exit status 0Disconnected: All channels closed
[Azure Functio

[2019-05-09 09:11] ader1990 commented on #186
Execution tested:

[code]

[2019-05-09 20:10] juhlee-microsoft opened #192 "Run-LISAv2.ps should take -TestPriority param"
This new parameter should be added to infra and pick up the tests with priority base.

[2019-05-09 20:13] lizzha commented on #192
It does, we have -TestPriority param supported

[2019-05-09 20:14] juhlee-microsoft commented on #192
Cool

[2019-05-09 20:14] #192 closed, assigned to nobody

[2019-05-09 22:28] juhlee-microsoft opened #193 "Current LISAv2 has PowerShell dependency"
LISAv2 should be launching in PowerShell console today, and this limitation does not help for certain condition like Windows Core only, or internal project. Need new design of LISAv2 packaging or launching.

[2019-05-10 06:21] chvalean commented on #193
the whole framework is based on PS, so this is not something that can be swapped or added as a module like the other components.

[2019-05-10 06:21] #193 closed, assigned to nobody

[2019-05-10 07:27] chvalean opened #194 "Infiniband tests: Fix test failure exit"
RDMA tests are not supported on RHEL8, however the automation will not ack this and exit immediately.
The test will continue to run until getting into timeout.
Logging is correct, but the test execution should end and exit immediately.

If RHEL8 is to be supported, packages must be updated/handled separately, as RHEL8 has many obsolete packages, or different names for some (like python -> python3)

[2019-05-10 07:28] chvalean commented on #194
@adriansuhov @juhlee-microsoft please ack this and discuss on the required fix and/or support for RDMA on rhel8.
Thank you!

[2019-05-13 09:16] #185 closed, assigned to LiliDeng

[2019-05-13 13:54] ader1990 opened #199 "DPDK new TC step"
We need to add a test step that verifies that testpmd can be started successfully with --no-pci flag.

Improve VERIFY-DPDK-BUILD-AND-TESTPMD-TEST to also have this step run at the begining. Testpmd with --no-pci flag was reported to trigger a kernel crash/hang.

Example of command:

[code]

[2019-05-13 13:55] ader1990 opened #200 "DPDK: skip TC VERIFY-OVS-DPDK on non debian platforms"
VERIFY-OVS-DPDK supports only DEBIAN based platforms for the moment, so it makes sense to skip the test on the other platforms.

[2019-05-14 00:29] juhlee-microsoft opened #203 "Azure Gen2 VM support"
In the API this is referenced by the HyperVGenerationType property, as defined here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json#L4690

[2019-05-14 00:38] LiliDeng commented on #200
Is any way to skip them against upstream kernel?

[2019-05-14 00:40] LiliDeng commented on #203
any link to introduce the azure gen2 VM?

[2019-05-14 13:54] ader1990 commented on #201
Execution tested:

[code]

[2019-05-14 14:48] ader1990 commented on #201
Execution tested:

[code]

[2019-05-14 15:05] ader1990 commented on #201
Check with VERIFY-DPDK-OVS on no Debian:

[code]

[2019-05-14 15:14] ader1990 commented on #201
Test run:

[code]

[2019-05-15 06:52] #200 closed, assigned to ader1990

[2019-05-15 06:52] chvalean commented on #200
This should be handled by excluding the dpdk tests in the upstream pipeline in my opinion.

[2019-05-15 06:54] chvalean commented on #203
I updated the description.

[2019-05-15 07:06] LiliDeng commented on #200
Thanks Chris for your reply! Yes, that's what I did currently.

[2019-05-15 07:14] LiliDeng commented on #203
Thanks @chvalean , if we specify gen2 , then azure deploy gen2 VM, then start testing, otherwise keep current behavior?

[2019-05-15 08:43] chvalean commented on #203
Right, it should follow the same pattern as for Hyper-V vm generation parameter that exists in lisav2:
- if vmgeneration param is not specified at all (or explicitly given as gen1), default to gen1.
- if "vmgeneration 2" is specified, go with that.

[2019-05-15 14:06] sireeshapotnuru commented on #209
[LISAv2 Test Results Summary]
Test Run On           : 05/15/2019 13:28:29
VHD Under Test        : rh67-nsteiyxuv-osdisk.vhd
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:33

   ID TestArea             TestCaseName                                                                TestResult TestDuration(in minutes)
------------------------------------

[2019-05-15 14:52] iamshital commented on #203
@chvalean @LiliDeng , Azure will deploy Gen2 VM if the VM size is designated to Gen2. I don't think that, we can control this behavior through LISAv2.

[2019-05-15 15:36] iamshital commented on #211
Affected code in action
---------------------------
[code]

[2019-05-15 15:40] juhlee-microsoft opened #212 "Handle obsolete packages in RHEL 8.x"
obsolete packages - rhel8 has a long list of obsolete packages, automation is failing due to not finding them (We found this in 8.0 GA testing, and fix in the package update call)

[2019-05-15 15:43] juhlee-microsoft opened #213 "Unable to install ntpd. <- Test NA since chrony"
Need to change infra - pckg installation ans verification points in each test script.

There should be some fallback and test redesign:
- by default go with chronyd
- fallback to ntpd if chronyd is not available

[2019-05-15 15:47] juhlee-microsoft opened #214 "package installation update for file system tests (RHEL 8.x)"
pass after manual changes. missing dependencies in rhel8: indent and llvm-ocaml-devel and btrfs-progs-devel and python (replaced with python36)
--

[2019-05-15 15:48] juhlee-microsoft opened #215 "Update KDUMP test cases"
grub setup changed in rhel8, crashkernel must be now added to /boot/grub2/grubenv
--

[2019-05-15 15:49] juhlee-microsoft commented on #212
Nested  -

missing packages in rhel8 - bridge-utils. Missing epel for rhel8 - required for qemu-system-x86
--

[2019-05-15 15:53] lizzha commented on #211
It needs fully test for different size families

[2019-05-15 16:49] juhlee-microsoft commented on #203
Azure market gallery image got updated as "GEN2: SUSE Linux Enterprise Server (SLES) 12 SP4 for SAP Applications", for example. So Penguinator or other pipeline can pick up the Gen2 image in run-time. However, we would put the information label in pipeline page 'If you choose Gen2 image above, you would select suport VM size in 'OverrideVMSize' field.

[2019-05-15 16:49] #203 closed, assigned to nobody

[2019-05-15 16:54] iamshital commented on #211
I've verified that VM family is accurately detected. But still I'll run test with at least one VM size in each VM size family.

[2019-05-15 17:24] juhlee-microsoft opened #216 "Need to update regex of VM family section for M_v2"
New VM size, Mv2 released but the LISAv2 code has missing regex for Mv2.

https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L128

[2019-05-15 17:26] iamshital commented on #216
@juhlee-microsoft PR is open.
#211

[2019-05-15 17:48] juhlee-microsoft commented on #211
I am ok with this change. Look forward to the result.

[2019-05-16 09:15] xian123 commented on #219
**Test result on Azure:**
[code]

**Test result on Hyper-V: The status is failed, because there is no NVME resource on the host. The result is expected, before fix, this case always pass**
[code]

[2019-05-16 09:23] LiliDeng commented on #220
@Tong-Xu Please post test results here, thanks!

[2019-05-16 14:29] iamshital commented on #211
Verified "VERIFY-DEPLOYMENT-PROVISION" test with below size families -
--------------------------

Size Family | Is Size family detected correctly? | Test Result
-- | -- | --
standardA0_A7Family | Yes | PASS
standardDSv2Family | Yes | PASS
standardDv2Family | Yes | PASS
standardEv3Family | Yes | PASS
standardFFamily | Yes | PASS
standardFSFamily | Yes | PASS
standardGFamily | Yes | PASS
standardHF

[2019-05-16 16:57] #216 closed, assigned to nobody

[2019-05-16 17:19] juhlee-microsoft opened #222 "[P0] Revert to Managed Disk for Gen2 VM provision"
[Azure VERIFY-DEPLOYMENT-PROVISION eastus] 5:17:37 PM - Resource Microsoft.Compute/virtualMachines 'LISAv2-OneVM-microsoft-BY76-20190516171703-role-0' failed with message '{
[Azure VERIFY-DEPLOYMENT-PROVISION eastus]   "error": {
[Azure VERIFY-DEPLOYMENT-PROVISION eastus]     "code": "BadRequest",
[Azure VERIFY-DEPLOYMENT-PROVISION eastus]     "### message": "Generation 2 Hypervisor Image and VM S

[2019-05-17 12:56] ader1990 opened #226 "Linux kernel headers deb fails to install on Ubuntu 19.04"
It seems there is a libssl dependency issue:

dpkg: dependency problems prevent configuration of linux-headers-4.19.24-c52ea7b07f93:
 linux-headers-4.19.24-c52ea7b07f93 depends on libssl1.0.0 (>= 1.0.0); however:
  Package libssl1.0.0 is not installed.

On Ubuntu 19.04. libssl 1.1 is installed.

[2019-05-17 19:15] juhlee-microsoft opened #230 "Channel information in big VM has limit, 64"
Test case: ETHTOOL-GET-SET-CHANNEL

LISAv2-OneVM-juhlee-mv2-KS42-20190517091637-role-0:/home/lisa # ethtool -l eth0
Channel parameters for eth0:
Pre-set maximums:
RX:             0
TX:             0
Other:          0
Combined:       64
Current hardware settings:
RX:             0
TX:             0
Other:          0
Combined:       8

For bigger VM size, this is not correct. No information of 'hw s

[2019-05-20 13:19] #199 closed, assigned to ader1990

[2019-05-21 13:55] iamshital opened #243 "LISAv2 abnormal exit due to unhandled exception"
[code]

[2019-05-21 14:11] iamshital commented on #244
Execution Verified.
------------------------
[code]

[2019-05-21 15:57] #243 closed, assigned to iamshital

[2019-05-23 01:06] juhlee-microsoft opened #246 "Optional OFED driver installation"
A change request comes from HPC team for CentOS HPC image.

[2019-05-23 19:30] #215 closed, assigned to LiliDeng

[2019-05-24 10:13] chvalean opened #257 "VERIFY-VHD-PREREQUISITES: Fix compatibility with redhat8"
Test fails on redhat8:

[code]

[code]

[2019-05-24 10:57] chvalean opened #258 "VM-HOT-RESIZE: refine list of tested VM sizes"
Current test takes over 3 hours and goes through 48 VM sizes.

@adriansuhov suggestion to improve this is to take only the smallest and largest VM size from each SKU family.

For example, current code goes through each of these: "“Standard_A0 Standard_A1 Standard_A2 Standard_A3 Standard_A5 Standard_A4 Standard_A6 Standard_A7”"

With the changes, it will deploy only A0 and A7 from the A series.

@x

[2019-05-24 13:24] LiliDeng commented on #170
test case abort before summary added, is it not expected?

[2019-05-24 13:27] LiliDeng commented on #178
#256, it use $? in PowerShell, update using state.txt, still need improvement in shell file for current not supported distro

[2019-05-25 07:29] LiliDeng commented on #212
#248 is not fix for this issue.

[2019-05-27 03:09] xian123 commented on #258
I'm working on it.

[2019-05-27 07:40] LiliDeng commented on #262
@xian123 Please post test results and execute time here, thanks!

[2019-05-27 08:22] #214 closed, assigned to LiliDeng

[2019-05-27 10:13] xian123 commented on #262
The execute time is about 10 ~ 20 mins for economy mode test.
[code]

[2019-05-27 14:02] ader1990 commented on #240
Execution tested on RHEL 7.5

[code]

[2019-05-28 00:45] LiliDeng commented on #257
#261 Fix it.

[2019-05-28 00:45] #257 closed, assigned to LiliDeng

[2019-05-28 08:01] #258 closed, assigned to xian123

[2019-05-28 08:40] chvalean opened #270 "PRODUCTION-CHECKPOINT-3CHAIN-VHD: revise test case"
On Hyper-V this test must be made compatible with lisav2 functionality.
It should not remove icabase main snapshot, and must be seen how to handle the existing checkpoints with previous test failures.

[code]

[2019-05-28 09:22] ader1990 commented on #240
Discussing internally if the VPP should test the failsafe and/or native DPDK pmd driver. Currently, the native DPDK MLX driver is not working on RHEL and the test will fail.

[2019-05-28 09:46] ader1990 commented on #240
RHEL test execution, which currently fails (current expected failure, as the kernel seems to not have all the required patches):

[code]

[2019-05-28 12:30] chvalean opened #272 "SRIOV-VERIFY-MAX-VF-CONNECTION-MAX-VCPU: stabilize test-case"
Sometimes, the test will fail at least in Azure with the below.
On retry or manual check of the interfaces, all are present, so it's probably a bad timing in script execution.

[code]

[2019-05-29 00:26] LiliDeng opened #275 "Update ntttcp version once new version release"
#264

[2019-05-29 03:18] xian123 commented on #177
Root cause: The $StepTimeout is set a large number in Wait-ForVMToStartKVP function.

$NewIP = Get-IPv4AndWaitForSSHStart -VmName $VMName -HvServer $HvServer -Vmport $VMPort `
            -Password $VMPassword -User $VMUserName  -StepTimeout **1000**

Get-IPv4AndWaitForSSHStart calls Wait-ForVMToStartKVP:
    Wait-ForVMToStartKVP $VmName $HvServer **$StepTimeout**

Wait-ForVMToStartKVP calls Get-I

[2019-05-29 03:31] xian123 commented on #276
Test result:
[LISAv2 Test Results Summary]
Test Run On           : 05/29/2019 03:11:28
VHD Under Test        : D:\xhx\vhds\Ubuntu_18.04.1.vhdx
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:17

   ID TestArea             TestCaseName                                                TestResult TestDuration(in minutes)
---------------------------------

[2019-05-29 04:04] LiliDeng commented on #276
@chvalean Do you know why can't get the IP from VM?

[2019-05-29 05:42] xian123 commented on #212
Missing epel for rhel8: There is no EPEL repository published to support it yet. On the [Fedora wiki](https://fedoraproject.org/wiki/Infrastructure_2020/EPEL-8) page the beta date is marked as 2019.07.01.This may or may not change.

[2019-05-29 07:09] chvalean commented on #276
The most basic case is that the kvp daemon is not present.
So that will definitely end up in the timeout.

What we can't separate that is the boot time, wondering how this would work for the TB RAM VMs on Hyper-V.
Otherwise, any time reduction fixes are welcomed

[2019-05-29 07:13] LiliDeng commented on #276
But most of cases pass, only few cases keep get the IP for a long time, do you mean the kvp daemon not start?

https://linuxpipeline.westus2.cloudapp.azure.com/job/upstream-kernel-pipeline/job/master/1554/console

[2019-05-29 07:34] chvalean commented on #276
No no, I was talking more generic about kvp.
The only way to determine why the job took so long in the IP wait state, you have to check the VM as that happens.
That way you can see exactly - like in Hyper-V or PS if you see the VM IP, check if kvp daemon is running, check the syslog/messages for kvp.

[2019-05-29 15:42] juhlee-microsoft opened #278 "Handle kernel versions in DPDK run-time"
https://docs.microsoft.com/en-us/azure/virtual-network/setup-dpdk defines the min-supported kernel versions in each distro.
Need to determine how it handles if dpdk compilation failed in each new kernel version, if we need to validate dpdk compilation in each kernel pipeline, and how it handles dependent packages likes kernel source or etc.

Source: #223

[2019-05-30 16:44] ader1990 opened #282 "DPDK VERIFY-DPDK-FAILSAFE-DURING-TRAFFIC perf results fail to be inserted into DB"
TestMode is empty, this needs to be fixed to txonly.

Query failure:

INSERT INTO <> (Rxpps,DPDKVersion,Rxpackets,TestPlatFrom,Tx_PacketSize_KBytes,TestDate,Txpps,Max_Rxpps,Fwdpps,Rxbytes,Rx_PacketSize_KBytes,ProtocolType,GuestOSType,Cores,HostType,Txpackets,GuestSize,Fwdpackets,Txbytes,HostBy,HostOS,Fwdbytes,DataPath,TestMode,TestCaseName,LISVersion,GuestDistro,KernelVersion,IPVersion) VALUES (0,

[2019-05-30 17:23] ader1990 opened #283 "Azure retry deploy if the deployment fails"
Add a configurable retry number for deployments, as when deploying bug vm sizes, it might fail with error 'The vm did not start in the alloted time'

[2019-05-31 06:27] chvalean commented on #212
Right, he should wait for epel and see if some packages might be available there.
Put this as low priority until epel gets released for rhel8.

[2019-05-31 10:01] ader1990 opened #286 "DPDK: retry failed dpdk sources download"
Sometimes, there are network connectivity or server down issues when downloading DPDK sources. A retry should be added in those scenarios.

Example:
[code]

[2019-05-31 10:01] chvalean commented on #276
@xian123  @LiliDeng I'm fine with the changes as long as you have confirmed that at least a full run on Hyper-V yields better running times with this fix.

[2019-05-31 10:04] ader1990 commented on #286
wget already supports retries:

--tries 3 --retry-on-host-error --retry-on-http-error=429,503,504

[2019-05-31 15:30] #270 closed, assigned to stefanlupsa

[2019-06-03 09:20] LiliDeng opened #292 "RELOAD-MODULES-SMP"
Failed against Canonical UbuntuServer 16.04-LTS 16.04.201905303, even the ip is still there, we can't reconnect using ssh, but can ssh if run dhclient -r and dhclient

[2019-06-03 09:28] LiliDeng commented on #292
one more issue - no bc tool on this image

[2019-06-03 10:17] chvalean opened #293 "GPU-NVIDIA driver install: Improve log collection"
To better track driver installation, the following changes should be done in terms of logging:

1. Use a global copy for make.log for dkms - on ubuntu 16.04 the path is different - example /var/lib/dkms/nvidia-418/...
Code to use: find /var/lib/dkms/nvidia* -name make.log -exec cp {} /root/make.log \;

2. Capture apt install cuda-driver to a log file
3. See for GRID driver which logs/output can be

[2019-06-03 10:38] LiliDeng commented on #283
maybe it is a distro issue?

[2019-06-03 11:08] ader1990 commented on #283
If it is a distro issue, that can be caught by special TCs ran multiple times. If I want to run DPDK test cases, I would like to test the DPDK install and not have failures because Azure or the distro itself has provisioning issues X% of the time.

[2019-06-03 13:59] ader1990 commented on #283
@LiliDeng there is also another reason why LISAv2 might fail to deploy a VM which is not handled in the current code and cannot be - race condition on resource starvation.

Let's consider the following scenario:

One LISAv2 run has one test case to be run which requires to deploy 3 big VMs (total of 90 cores) on Azure. It checks for the subscription if it has the CPU family and quota available and

[2019-06-03 16:08] ader1990 opened #294 "Add failure cause in the test case summary"
If LISAv2 fails, there is currently very hard to find in one easy to see line why a test failed.

[2019-06-04 08:28] chvalean opened #295 "[P3] lisav2: code_style: added SC2045,SC2068,SC2076 shellcheck rules"
These are additional checks for PR checker, the fixes required are in the PR checker report.
SC codes reference in the wiki pages - https://github.com/koalaman/shellcheck/wiki

Changes required are visible from current PR checker run as in PR #187

[2019-06-04 09:10] LiliDeng opened #296 "modinfo hv_vmbus not working against build-in module"

[2019-06-04 09:12] LiliDeng opened #297 "current URL for LIS_CURRENT_URL and LIS_OLD_URL is 404"

[2019-06-04 10:15] chvalean commented on #292
Created a TFS task for this, @adriansuhov  will work on it this month.

[2019-06-04 10:34] chvalean commented on #297
LIS_CURRENT_URL should be pointed to aka.ms/lis
That will give the latest released LIS version.

[2019-06-04 10:35] chvalean commented on #296
Where is this observed?

[2019-06-04 11:09] LiliDeng commented on #297
Close this issue, below URLS are valid now.
https://github.com/LIS/LISAv2/blob/master/XML/Other/ReplaceableTestParameters.xml#L400 and https://github.com/LIS/LISAv2/blob/master/XML/Other/ReplaceableTestParameters.xml#L405

[2019-06-04 11:09] #297 closed, assigned to LiliDeng

[2019-06-04 14:45] #286 closed, assigned to ader1990

[2019-06-04 14:52] ader1990 commented on #294
Part 1:

  * add to the test summary the error cause if the provider fails to deploy for any reason (quota, RAM or disk issue)

Part 2:

* add in the test summary all the error logs (LogErr from bash) to the TC summary

[2019-06-04 18:06] #230 closed, assigned to stefanlupsa

[2019-06-05 05:22] #293 closed, assigned to chvalean

[2019-06-05 05:32] LiliDeng commented on #276
@juhlee-microsoft @chvalean
We have tested it in pipeline https://linuxpipeline.westus2.cloudapp.azure.com/blue/organizations/jenkins/upstream-kernel-pipeline/detail/master/1584/pipeline/288

Before
[code]
After
[code]

[2019-06-05 08:38] LiliDeng commented on #276
Close this one, will create a new PR. Thanks for your review.

[2019-06-06 10:55] xian123 commented on #302
A full test about the dynamic cases is undergoing.

[2019-06-06 14:11] LiliDeng opened #303 "INFINIBAND-OPEN-MPI-2VM - Improve find way for mpirun"
In distro vendor provided distro, sle_hpc 15.1, existed three paths for mpirun, one of them is not our expected one, in test script find this tool by name will cause find the unexpected one, then test fail.

[2019-06-06 15:05] LiliDeng commented on #275
https://github.com/microsoft/ntttcp-for-linux/commit/1f520c7ec6ca5a998230131ea77d202a71c52d66
1. '-R' -> '--show-tcp-retrans'
2. '-K' -> '--show-nic-packets'
3. '-I' -> '--show-dev-interrupts'

[2019-06-06 17:16] ader1990 opened #305 "DPDK: fix VERIFY-DPDK-FAILSAFE-DURING-TRAFFIC for DPDK master"
In file included from /root/dpdk-next-net/app/test-pmd/macfwd.c:30:0:
/root/dpdk-next-net/app/test-pmd/macfwd.c: In function ‘pkt_burst_mac_forward’:
/root/dpdk-next-net/app/test-pmd/macfwd.c:101:66: error: invalid application of ‘sizeof’ to incomplete type ‘struct ether_hdr’
 ipv4_hdr = rte_pktmbuf_mtod_offset(mb, struct ipv4_hdr *, sizeof(struct ether_hdr)); ipv4_hdr->dst_addr = rte_be_to_cpu_32

[2019-06-07 04:13] LiliDeng commented on #304
PERF-NETWORK-TCP-THROUGHPUT-MULTICONNECTION-NTTTCP-Synthetic
[code]

PERF-NETWORK-TCP-THROUGHPUT-MULTICONNECTION-NTTTCP-SRIOV
[code]

[2019-06-07 04:18] LiliDeng commented on #304
#275

[2019-06-07 07:11] juhlee-microsoft commented on #302
Patches look ok. Please post the test result.

[2019-06-07 08:37] ader1990 opened #308 "Add exact failure cause in case of a deployment failure"
In case of Azure, when the deployment fails it should be clear if it is a quota issue, a bad custom kernel install, a custom config issue, a boot issue, etc (will add more to this list).

In case of HyperV, when the deployment fails it should be clear if it is a RAM/CPU/storage issue, a bad custom kernel install, a custom config issue, a boot issue, etc (will add more to this list).

[2019-06-07 16:26] #294 closed, assigned to nobody

[2019-06-07 19:38] juhlee-microsoft commented on #309
@ader1990 any chance you can post the result? The code change looks ok to me.

[2019-06-08 02:04] LiliDeng commented on #304
@lizzha Hi, could you please review this PR? any situation I miss? now the possible versions now should be v1.3.4, 1.4.0 and master. should we have a default version here? https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/utils.sh#L2664

[2019-06-08 06:24] LiliDeng commented on #304
Run SRIOV against mater, v1.3.4 and 1.4.0 - Pass

[2019-06-10 10:05] LiliDeng opened #310 "SRIOV-INTERRUPTS-CHANGE failed against RHEL7.5"
cat /proc/interrupts | grep -i MSI | awk '{$1=""} NF{NF-=5}1' =>
cat /proc/interrupts | grep -i MSI | awk '{$1=""} NF{NF-=2}1'

[2019-06-10 15:29] ader1990 opened #311 "CustomKernelInstall: handle unexpected kernel upgrade in Ubuntu"
The removal of linux-cloud-tools-common on Ubuntu 16.04 does also upgrade the kernel, if there is newer kernel available. We need to handle this unexpected behaviour, otherwise a custom kernel install will fail if the upgraded kernel is the same as the custom kernel from the debian files which we want to install.

https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/customKernelInstall.sh#L

[2019-06-10 21:35] juhlee-microsoft commented on #309
have you tested and proved the result?

[2019-06-10 21:37] juhlee-microsoft commented on #302
Any update for test result post?

[2019-06-11 00:55] #275 closed, assigned to LiliDeng

[2019-06-11 03:44] xian123 commented on #302
[LISAv2 Test Results Summary]
Test Run On           : 06/10/2019 05:22:29
VHD Under Test        : D:\xhx\vhds\Centos_7.5V.vhdx
Test Area             : DYNAMIC_MEMORY
Total Test Cases      : 19 (16 Passed, 2 Failed, 1 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:4:35

ID TestArea             TestCaseName                          TestResult TestDuration(in minutes)
---------------------------------

[2019-06-11 04:42] xian123 commented on #302
The DYNAMIC-MEMORY-MIN-MEMORY-HONORED is aborted because memory is not enough to start the VM.

[2019-06-11 09:10] xian123 commented on #302
Update the code for DYNAMIC-MEMORY-HOT-REMOVE-THEN-PRESSURE test, and its result is PASS now.

[2019-06-11 09:11] ader1990 commented on #309
@juhlee-microsoft work still in progress

[2019-06-11 11:16] LiliDeng commented on #314
In this image Canonical UbuntuServer 16.04-LTS 16.04.201905303, the default route is missing after run below commands, similar with [Here](https://github.com/rancher/os/issues/796)
ip link set eth0 down
ip link set eth0 up

[2019-06-11 21:08] juhlee-microsoft commented on #309
ok, I put 'pr-under-test' label until it is ready.

[2019-06-11 21:10] juhlee-microsoft commented on #302
@xian123  DYNAMIC_MEMORY DYNAMIC-MEMORY-HOT-ADD-EAT-MEM-UP ?

[2019-06-11 23:42] LiliDeng commented on #292
@chvalean Please close TFS task, thanks!

[2019-06-12 02:38] xian123 commented on #302
@juhlee-microsoft   For DYNAMIC_MEMORY DYNAMIC-MEMORY-HOT-ADD-EAT-MEM-UP, sometimes, the VM is unresponsive after running the memory stress test.

[2019-06-12 04:26] ader1990 opened #317 "LISAv2 cannot find test cases which have two areas"
If there is a test case that has two areas defined, Run-LISAv2 will not find any test case if the TestNames flag and the TestArea flag is defined.

Example:

[code]

[2019-06-12 06:28] juhlee-microsoft commented on #302
then you need to identify the root-cause and put remedy in automation if this is by-design or VM power limit. @LiliDeng  please consult @xian123  about bug characterization/isolation. if it turns out a real bug, please add it in TFS bug.

[2019-06-12 06:35] LiliDeng commented on #302
the windows server host has limit memory, if we allocate the big memory when create a VM, the VM can't be started, it is expected, we will discuss such issue with Chris to find a host in a good state.

[2019-06-12 07:59] xian123 commented on #302
It's a stress test, the eatmemory eats the memory again and again. If the memory is exhausted, the VM is unreponsive.

[2019-06-12 09:23] LiliDeng commented on #310
#322

[2019-06-12 10:05] ader1990 commented on #309
will reopen for fix once the DPDK code stabilizes.

[2019-06-12 13:09] ader1990 commented on #317
Closing this, as I have removed the double areas from DPDK tests.

[2019-06-12 13:09] #317 closed, assigned to ader1990

[2019-06-12 13:50] chvalean opened #324 "LSVMBUS test: investigate/fix failures"
Running on this setup the test failed:
[code]
Errors:
[code]

Network adapter is weird, running again lsvmbus does show the network adapter, but during initial test execution saved log, there is no NIC visible.

scsi adapter does use 2 cores on a 6 cores VM.
The problem is in the lsvmbus automation, where it uses expr to do the math.
That results in 6/4 to equal 1, instead it must round up to 2, w

[2019-06-13 10:14] chvalean commented on #311
Ping'd Joe to see if he has any suggestions.

Can use this image ID to repro issue:
Canonical UbuntuServer 16.04-LTS 16.04.201905303

[2019-06-14 11:06] #310 closed, assigned to LiliDeng

[2019-06-14 12:51] #292 closed, assigned to adriansuhov, Tong-Xu

[2019-06-17 08:59] xian123 commented on #329
Test result:
[code]

[2019-06-18 07:16] xian123 commented on #330
Test result:
[code]

[2019-06-18 08:30] LiliDeng opened #331 "SR-IOV: Add support for CoreOS"
OS Version not supported in InstallDependencies!

[2019-06-18 10:19] chvalean commented on #331
Better rename to SR-IOV: Add support for CoreOS?
That distro was not on the list of supported distros when implemented, so probably all code will have to be checked.

[2019-06-18 10:23] #308 closed, assigned to stefanlupsa

[2019-06-18 20:20] LiliDeng opened #333 "Test case LIS-PREINSTALL-DISK-SIZE-VERIFICATION issue"
Still available 70 M before install LIS for negative case
LIS can be installed if have more than 468K space
installing package kmod-microsoft-hyper-v-4.3.3-20190608.x86_64 needs 468KB on the / filesystem

[code]

[2019-06-18 20:43] LiliDeng commented on #331
@chvalean Thanks, update

[2019-06-18 20:45] LiliDeng opened #334 "Test case - VERIFY-BOOT-ERROR-WARNINGS against Ubuntu 18.04 + Linux Next"
[code]

[2019-06-18 20:47] LiliDeng opened #335 "WALA-VERIFY-WAAGENT-LOG: Add new ignore text message"
[code]

[2019-06-19 08:15] chvalean commented on #335
this does not have to be tracked here.
We already have it opened here - https://github.com/Azure/WALinuxAgent/issues/1523

Closing this, it is also documented in the existing kernel results document I sent you over email.

[2019-06-19 08:16] chvalean commented on #334
can just be added to the ignore xml list IMO?

[2019-06-19 11:27] LiliDeng commented on #335
#301 not fix the issue, need another PR

[2019-06-19 12:05] stefanlupsa opened #336 "PCI-DEVICE-DISABLE-ENABLE-SRIOV-NVME: Code is not detecting all virtual functions properly"
https://github.com/LIS/LISAv2/blob/47ee7d2c59658e0b6c90ca2b3180b7c02cca1eee/Testscripts/Linux/disableEnablePci.sh#L28-L38

Seen on SLES 15

The test is not detecting the  SR-IOV Virtual functions properly as in they show up in lspci

[code]

[2019-06-19 13:38] stefanlupsa commented on #334
Very similar errors for snapd seen on Ubuntu 16.04 latest without custom kernel as well
the errors aren't exactly the same but have the same sources.

[code]

[2019-06-19 14:02] stefanlupsa opened #338 "VERIFY-VHD-PREREQUISITES: sudoers check fail SLES 15"
`06/19/2019 03:07:16 AM : ERROR : Defaults targetpw is present in /etc sudoers but it is not commented.
`

/etc/sudoers:

[code]

[2019-06-19 14:07] stefanlupsa opened #339 "KDUMP-CRASH-16-CORES SLES 15: Failed to start kdump service and does not collect logs"
Seen with repro rate is about 15% (once in 7 runs)

LISAv2 only shows the following log error:

`06/19/2019 13:36:14 : [ERROR] Running KDUMP-Execute.sh script failed on VM!
`

Other logs are not collected from the vm even though they exist:
[code]

Kdump service status:
[code]

[2019-06-19 14:11] stefanlupsa opened #340 "WALA-VERIFY-WAAGENT-LOG | SLES 15: Ignorable message"
[code]

[2019-06-19 14:14] #335 closed, assigned to Tong-Xu

[2019-06-19 14:16] stefanlupsa opened #341 "NETWORK.ETHTOOL-GET-SET-MSG-LEVEL Not supported"
Setting the MSG level seems to be unsupported by some kernels and the test fails because of it,
Maybe we could skip the test if the action is not supported?

[code]

[2019-06-19 15:11] stefanlupsa opened #342 "SRIOV-VERIFY-MAX-VF-CONNECTION | Ubuntu 18.04: NIC does not have IP before test starts"
Seen on `Canonical UbuntuServer 18.04-LTS 18.04.201906170`
[code]

[2019-06-19 19:17] chvalean commented on #334
a wildcard for stateengine.go might do in the ignore, might be a temporary error but still can be ignored.

[2019-06-20 00:49] LiliDeng commented on #340
@Tong-Xu Please work on it.

[2019-06-20 06:30] LiliDeng commented on #334
@Tong-Xu Please add it into ignore list for case VERIFY-BOOT-ERROR-WARNINGS

[2019-06-20 06:35] LiliDeng commented on #334
msft debug kernel + ubuntu18.04
[code]

[2019-06-20 06:38] #340 closed, assigned to Tong-Xu

[2019-06-20 14:20] ader1990 opened #347 "DPDK: skip run on SLES 12"
Skip DPDK tests on SLES 12, as according to https://docs.microsoft.com/en-us/azure/virtual-network/setup-dpdk, only SLES 15 is supported.

[2019-06-20 14:38] stefanlupsa opened #348 "DetectDistro in azuremodules.py - Python script fails to run on SLES 12-SP4"
LIS-MODULES-CHECK - python script failed
manual run:
[code]

[2019-06-20 14:52] stefanlupsa opened #349 "GPU: skip run on SLES"
SLES is not spported for NVIDIA GPU drivers on N-series VM

Ref: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup

[2019-06-20 15:19] stefanlupsa commented on #348
also seen on WALA-VERIFY-HOSTNAME
[code]

[2019-06-20 15:41] stefanlupsa commented on #348
at the same time in the Runtime.log:
[code]

[2019-06-20 15:49] stefanlupsa opened #350 "TIMESYNC-NTP : Distro is not properly detected for SLES 12-SP4"
https://github.com/LIS/LISAv2/blob/d4f262fbc816bd970a9c784f41f4985fcd55f083/Testscripts/Linux/TIMESYNC-NTP.sh#L113-L120

TestExecution.Log:
[code]

[2019-06-20 21:09] LiliDeng commented on #338
@juhlee-microsoft [Here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/suse-create-upload-vhd.md ) have below section for SLES distro, so that's the initial case design, I am not sure currently, should we remove this check?

[code]

[2019-06-20 21:29] LiliDeng commented on #349
From [here]( http://developer.download.nvidia.com/compute/cuda/repos/), there is cuda package for sles, not sure why can't work on azure, I ever tried, also failed, need further investigation here.

[2019-06-21 07:09] chvalean commented on #341
Add a skip condition in this test if the below checks are not met:

To check if the patch is applied, you may look up the function symbols from ko file. The following outputs means the patch is applied:

[code]

[2019-06-21 07:23] chvalean commented on #349
@LiliDeng Please start an internal thread with Josh to clarify if the docs.microsoft documentation is up-to-date, because if so then it remains as Stefan noted, that no gpu testing on sles is to be done.

[2019-06-21 09:56] #324 closed, assigned to nobody

[2019-06-21 14:23] #350 closed, assigned to Tong-Xu

[2019-06-24 05:38] LiliDeng commented on #338
mail sent to distro vendor, wait for reply, then take further action.

[2019-06-24 05:40] LiliDeng commented on #296
#313

[2019-06-24 05:40] #296 closed, assigned to LiliDeng

[2019-06-24 05:41] LiliDeng opened #361 "VERIFY-LINUX-DISK-SETUP - RedHat RHEL 7-LVM 7.6.2019060521"
No UUID filter from dmesg
[code]

[2019-06-24 06:44] LiliDeng commented on #272
SRIOV-VERIFY-MAX-VF-CONNECTION RedHat RHEL 7-RAW 7.6.2019060521
Expected VF count: 8. Actual VF count: 8
Successfully sent file from VM1 to VM2 through eth0
Successfully sent file from VM1 to VM2 through eth1
Unable to ping 10.0.0.5 through eth2

[2019-06-24 08:37] #334 closed, assigned to LiliDeng, Tong-Xu

[2019-06-25 12:49] iamshital opened #365 "CustomLIS: Add support to install from aka.ms/lis"
Current -CustomLIS option only supports -
1. lisnext
2. tar.gz downloadable url.

We need to add support for downloading from aka.ms/lis link and install it.

[2019-06-25 12:49] iamshital commented on #365
Assigning to @sireeshapotnuru

[2019-06-25 13:03] chvalean commented on #365
maybe have -CustomLIS "latest" which would map to aka.ms link?

[2019-06-25 13:10] iamshital commented on #365
Yes. Sounds good.

[2019-06-26 01:14] LiliDeng commented on #361
@v-sijliu Please take over this.

[2019-06-26 07:22] iamshital opened #367 "FIO test is stuck. Force exit not working."
[code]

[2019-06-26 07:23] LiliDeng commented on #367
@iamshital Does it happen against CentOS distro, right?

[2019-06-26 07:42] iamshital commented on #367
@LiliDeng Yes

[2019-06-26 09:37] #341 closed, assigned to stefanlupsa

[2019-06-26 09:38] adriansuhov commented on #336
Closing this as it's not an automation issue.

[2019-06-26 09:38] #336 closed, assigned to stefanlupsa

[2019-06-26 11:32] adriansuhov opened #370 "SR-IOV TCs: Add VF count check on dependency VM"
The comparsion between expected and actual VF number is made ony on the main VM (here is the code: https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/SRIOV-VerifyVF-Connection.sh#L99 ). The same check must be run on the dependency VM also to spot if there are any env issues with it.

[2019-06-26 23:43] juhlee-microsoft opened #371 "KVP test should be skipped if daemon is not running by default"
https://github.com/LIS/LISAv2/blob/master/Testscripts/Linux/KVP-BasicChecks.sh#L44

[2019-06-27 05:53] LiliDeng commented on #331
Work in progress. affected case SRIOV-INTERRUPTS-CHANGE

[2019-06-27 05:54] LiliDeng commented on #347
Image: "SUSE SLES 12-SP4 2019.06.17"
VERIFY-DPDK-COMPLIANCE ：PASS
VERIFY-DPDK-FAILSAFE-DURING-TRAFFIC: ABORTED for reason #305

[2019-06-27 08:00] #371 closed, assigned to chvalean

[2019-06-27 09:44] LiliDeng commented on #367
Known issue - when run NVME fio against CentOS, Oracle and SLES, hit cpu softlockup issue.
At that time, ssh maybe disconnect, or display connected, get the last console output keep no change.
In SLES, I have a try that run the script in the background, after several hours, it finished run, and results are expected.
Didn't get a chance to try against CentOS.

[2019-06-27 09:46] LiliDeng commented on #342
@stefanlupsa Could you give the detailed arm image name, please?

[2019-06-27 12:33] #331 closed, assigned to LiliDeng

[2019-06-27 23:49] juhlee-microsoft opened #380 "All EXT4 tests passed but test case aborted"
https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/FILE-SYSTEM-VERIFICATION-TESTS.ps1#L88

All EXT4 tests got passed, but because the timer sees the run-time issue, this test got aborted. if all tests passed, then it should be 'passed' not 'aborted'

[2019-06-29 09:46] LiliDeng opened #382 "STORAGE-HOT-ADD-DISK"
This case failed sometimes when check https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/DiskHotAddRemove-Serial.ps1#L26 here, at that time, the state is updating.

[2019-06-29 16:21] #361 closed, assigned to LiliDeng

[2019-07-01 12:45] chvalean commented on #380
@adriansuhov  please ack or comment

[2019-07-02 20:55] juhlee-microsoft opened #391 "Need to upgrade kexec tool to v2.0.15"
Latest version tool kexec install from trusty repo is 2.0.6, KDUMP cases failed for existed bug 1713940 which fix in version 2.0.15.

Target test case: KDUMP test category
--

[2019-07-02 20:58] juhlee-microsoft commented on #391
Verify with default kernel and linuxnext in Trusty, Xenial, Bionic, Cosmic andf Disco.

[2019-07-02 21:01] juhlee-microsoft opened #392 "Upgrade util-linux to v2.23 for blkdiscard"
The util-linux version is 2.20.1-5.1ubuntu20.9 in Trusty, which no command blkdiscard, upgrade it from util-linux-v2.23 which contains blkdiscard.

Target tests: NVME-FSTRIM, NVME-BLKDISCARD, SRIOV-VERIFY-LSPCI

Verify in Trusty with default kernne land linuxnext.

[2019-07-02 21:12] juhlee-microsoft commented on #391
Also there is a known issue of this test failure; emergency mode and hung during reboot. if this is detected, should we print out the bug information in the log?

[2019-07-02 21:57] juhlee-microsoft opened #393 "NVIDIA-CUDA-DRIVER-VALIDATION: Sub test failure will occur the final test result"
[LISAv2 Test Results Summary]
Test Run On           : 07/02/2019 21:37:27
VHD Under Test        : http://lisawestus2.blob.core.windows.net/vhds/EOSG-AUTOBUILT-canonical-u4.15.0-1050.55_14.04.1-6_29.vhd
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:16

   ID TestArea             TestCaseName

[2019-07-02 22:31] juhlee-microsoft opened #394 "Need to revise NVMe functions"
Target test: NVME-DISK-VALIDATION
Issue: no need install gcc-c++ kernel-devel, lack of make package in function install_nvme_cli

Target test: NVME-FSTRIM
No need install gcc-c++ kernel-devel, lack of make package in function install_nvme_cli, lack of package xfsprogs for mount xfs system

Target test: NVME-BLKDISCARD
no need install gcc-c++ kernel-devel, lack of make package in function install_n

[2019-07-02 23:04] juhlee-microsoft opened #395 "Need to update error/warn xml file"
Found new lines in Trusty kernel below.

lisa@LISAv2-OneVM-trusty-BA58-20190702224809-role-0:~$ more VERIFY-BOOT-ERROR-WARNINGS_summary.log
07/02/2019 10:50:17 PM : INFO : Checking for ERROR and WARNING messages in system logs.
07/02/2019 10:50:17 PM : DEBUG : 551:Jun 29 06:38:21 LISAv2-OneVM-lilitest-LW14-20190628233613-role-0 HV_FCOPY: open /dev/vmbus/hv_fcopy failed; error: 2 No such file or di

[2019-07-02 23:07] juhlee-microsoft commented on #395
This is for Xenial.

07/01/2019 06:23:50 PM : ERROR : Found ERROR/WARNING/FAILURE messages in logs.
07/01/2019 06:23:50 PM : INFO : warnings: 1296:Jun 29 06:57:47 LISAv2-OneVM-lilitest-OU49-20190628235329-role-0 hv_fcopy_daemon[10869]: WARNING: hv_fcopy_daemon not found for kernel 4.15.0-1049
07/01/2019 06:23:50 PM : INFO : warnings: 1306:Jun 29 06:57:47 LISAv2-OneVM-lilitest-OU49-20190628235329-r

[2019-07-02 23:07] juhlee-microsoft commented on #395
This is for Bionic.

07/01/2019 06:20:43 PM : ERROR : Found ERROR/WARNING/FAILURE messages in logs.
07/01/2019 06:20:43 PM : INFO : warnings: 1465:Jun 29 07:13:35 LISAv2-OneVM-lilitest-YL88-20190629000811-role-0 hv_fcopy_daemon[11400]: WARNING: hv_fcopy_daemon not found for kernel 4.18.0-1023
07/01/2019 06:20:43 PM : INFO : warnings: 1474:Jun 29 07:13:35 LISAv2-OneVM-lilitest-YL88-20190629000811-r

[2019-07-02 23:21] juhlee-microsoft opened #396 "All RDMA/IB tests default region should be westUS2"
And the VM size should be Standard_HC44rs by default. This makes pipeline automation easier.

[2019-07-03 05:21] chvalean commented on #394
@juhlee-microsoft  if I recall, those messages are from trusty only.

trusty is EOL, why update automation with something that we should no longer support?

[2019-07-03 05:48] juhlee-microsoft commented on #394
I am not sure if I saw any EOL declaration yet. We also have new kernel arrival. Let me check out its EOL schedule

[2019-07-03 07:35] LiliDeng commented on #394
Code is ready, if needed, I will send out PR.

[2019-07-03 07:40] #393 closed, assigned to LiliDeng

[2019-07-03 07:42] #396 closed, assigned to LiliDeng

[2019-07-03 07:59] chvalean commented on #283
Closing this, it is a user responsibility to ensure enough quota is present for the tests to run, or increase the quota based on the requirements.

[2019-07-03 07:59] #283 closed, assigned to nobody

[2019-07-03 08:01] #272 closed, assigned to LiliDeng

[2019-07-03 08:02] chvalean commented on #178
resolved in https://github.com/LIS/LISAv2/pull/398

[2019-07-03 08:02] #178 closed, assigned to iamshital

[2019-07-03 12:04] stefanlupsa commented on #342
This seems to have been a one off, closing this for now unless it arises again.

[2019-07-03 12:04] #342 closed, assigned to nobody

[2019-07-03 16:00] juhlee-microsoft commented on #394
Please do. We will support Trusty, as I forwarded the email to you.

[2019-07-04 00:05] #333 closed, assigned to iamshital

[2019-07-04 08:24] chvalean commented on #392
Verified this, and there is no new util-linux package for trusty 14.04.
Created a PR that will skip NVME-BLKDISCARD on it, I don't see a dependency on the other mentioned tests.

[2019-07-04 08:26] chvalean commented on #391
ubuntu 14.04 does not have a newer kexec-tools version.
We also cannot skip the test, as that version might still work with kdump and other kernels.

[2019-07-04 08:27] chvalean commented on #394
@LiliDeng  please exclude changes to NVME-BLKDISCARD.
I created a separate PR #405 to address that

[2019-07-04 09:41] LiliDeng commented on #394
@chvalean Sorry I miss your message here.

[2019-07-04 10:12] chvalean commented on #395
@juhlee-microsoft @LiliDeng the discussion that needs to happen for test VERIFY-BOOT-ERROR-WARNINGS is how to redesign it.

Currently it will get all boot log and compare warnings/errors against an ignore list.

This is clearly producing too much noise, as the messages are usually comming from all system components, which don't relate to LIS nor are relevant to us.

One idea would be just to filte

[2019-07-04 12:48] LiliDeng opened #408 "Test case issue - VERIFY-DPDK-VPP"
VERIFY-DPDK-VPP failed against below kernel.
proposed-azure + Canonical UbuntuServer 16.04-LTS latest
proposed-edge + Canonical UbuntuServer 16.04-LTS latest

[2019-07-04 13:41] juhlee-microsoft commented on #391
Any suggestion?

[2019-07-04 17:58] chvalean commented on #408
@ader1990 please check/ack this.

[2019-07-04 18:00] chvalean commented on #391
@LiliDeng has some code in PR that will compile kexec-tools from sources.
I would suggest to do that strictly for ubuntu_14.04 (and in the future extend it where needed), otherwise go with whatever the distro provides.

[2019-07-04 19:21] juhlee-microsoft commented on #391
@LiliDeng please add comment in the PR

[2019-07-05 02:17] LiliDeng opened #409 "NVIDIA-CUDA-DRIVER-TENSORFLOW abort on U16.04 + proposed-azure and proposed-edge"
Test case abort when run tensorflow against ubuntu 16.04 + proposed-azure/proposed-edge kernel.
When run python tf_cnn_benchmarks.py with batch_size 512 hit memory issue.

[2019-07-05 07:54] LiliDeng commented on #348
#399 fix this issue.
[code]

[2019-07-05 07:54] #348 closed, assigned to johnsongeorge-w

[2019-07-05 14:48] chvalean commented on #339
Got only a 1 in 20 failure for this test (and even so the failure does not contain any relevant logs).
Test image: SUSE SLES 15 latest

Iteration job: [URL]/job/Azure/job/job-azure-cloudtest-manual/2357/console

Closing this bug until we get a higher repro rate.

[2019-07-05 14:48] #339 closed, assigned to nobody

[2019-07-08 05:04] juhlee-microsoft commented on #409
It needs to isolate/characterize the problem in details, but if this is simply occurring with new kernel, I believe Canonical should be interested. Please add Joe if it is the case.

[2019-07-08 07:57] LiliDeng commented on #413
Test results -
[code]

[2019-07-08 08:58] LiliDeng opened #414 "lsvmbus /usr/bin/env: ‘python’: No such file or directory on Ubuntu 19.04"
ln -s /usr/bin/python3 /usr/bin/python can resolve issue.
Affect case NVIDIA-GRID-DRIVER-VALIDATION

[2019-07-08 10:48] LiliDeng opened #417 "INFINIBAND-OPEN-MPI-2VM - subtest fail, but overrall results is pass"
[code]

[2019-07-08 12:33] #408 closed, assigned to LiliDeng

[2019-07-09 05:23] #303 closed, assigned to LiliDeng

[2019-07-09 05:35] #370 closed, assigned to stefanlupsa

[2019-07-09 05:48] juhlee-microsoft commented on #413
Can you try with large VM size? 32vcpu or 64 vcpu? The change looks ok for me.

[2019-07-09 05:51] #392 closed, assigned to chvalean

[2019-07-09 06:38] LiliDeng commented on #413
@juhlee-microsoft CoreOS CoreOS Stable 2135.5.0 + Standard_E64_v3

[code]

[2019-07-09 17:49] #394 closed, assigned to LiliDeng

[2019-07-09 17:51] #391 closed, assigned to LiliDeng

[2019-07-09 18:59] #417 closed, assigned to Tong-Xu

[2019-07-10 01:36] #409 closed, assigned to xian123

[2019-07-10 05:27] #365 closed, assigned to iamshital

[2019-07-11 06:04] juhlee-microsoft opened #429 "Automatic trimming of the list of test cases"
-TestNames "VERIFY-DEPLOYMENT-PROVISION"
-TestNames "PERF-NETWORK-TCP-NETPERF-SINGLE-PPS-SRIOV,PERF-NETWORK-TCP-NETPERF-MAX-PPS-Synthetic,PERF-NETWORK-TCP-NETPERF-MAX-PPS-SRIOV"

This parameter will take a single test case or the list of test cases. If the list or the test case entry has extra space before or after, its run-time automatically trims out.

Bad case: PERF-NETWORK-TCP-NETPERF-SINGLE-P

[2019-07-11 12:03] #305 closed, assigned to nobody

[2019-07-11 12:08] #414 closed, assigned to nobody

[2019-07-12 05:18] #382 closed, assigned to LiliDeng

[2019-07-12 05:22] #429 closed, assigned to Tong-Xu

[2019-07-12 06:49] LiliDeng commented on #380
@juhlee-microsoft could you please let know which image you using, is it because the tests hung in ext4/023 cause timeout?

[2019-07-12 09:12] #282 closed, assigned to ader1990

[2019-07-12 10:35] chvalean commented on #222
This comes from Azure cannot be controlled, it is user driven.
I mean the user must be aware of his deployment options, and not the framework job to work-around a bad input.
Thinking that in the case of custom vhd to create Mv2 in Azure, having any form of correction would be even more complicated.

[2019-07-12 16:38] juhlee-microsoft commented on #380
I don't recall it was from Mv2 or test kernel testing. I will close this.

[2019-07-12 16:38] #380 closed, assigned to adriansuhov

[2019-07-15 06:32] juhlee-microsoft opened #438 "custom parameter for extra verification in VM provisionining"
Recently new VM size test requirement demands the number of vCPU and memory size verification. The VM provision test 'VERIFY-DEPLOYMENT-PROVISION' can take a custom parameter 'vCPU''. If any parameter is set in CustomParameter section in LISAv2, the test will verify the number of vCPU.

[2019-07-15 07:50] chvalean commented on #438
Script: https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/VERIFY-DEPLOYMENT-PROVISION.ps1

Assigning this to @stefanlupsa

[2019-07-15 10:20] LiliDeng commented on #439
Test results -
[code]

[2019-07-15 21:15] juhlee-microsoft opened #443 "Add new warn in xml file"
Found new warning from test kernel testing, Ubuntu 16.04

WARNING Daemon VM is provisioned, but the VM unique identifier has changed -- clearing cached state

Please add this to VERIFY-BOOT-ERROR-WARNINGS test xml file.

[2019-07-15 23:42] juhlee-microsoft commented on #441
@ader1990  add the description

[2019-07-16 01:33] LiliDeng commented on #443
@Tong-Xu Please repro it firstly.

[2019-07-16 02:15] juhlee-microsoft commented on #443
FYI, this was from test kernel. If you need, take look at my work today in manual pipeline

[2019-07-16 07:01] #443 closed, assigned to Tong-Xu

[2019-07-16 08:27] chvalean commented on #441
this is just to bisect the kernel issue when running this test.
The PR will not be merged in the end, it will be closed/deleted as it's only temporary.

[2019-07-16 09:19] xian123 commented on #446
Test results:
[code]

[2019-07-16 09:46] chvalean commented on #446
where is this required or where was it broken?

[2019-07-16 09:58] xian123 commented on #446
@chvalean  On CentOS7.5
# fdisk -l /dev/sda
Disk /dev/sda: 68.7 GB, 68719476736 bytes, 134217728 sectors
Units = sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 4096 bytes
I/O size (minimum/optimal): 4096 bytes / 4096 bytes
Disk label type: dos
Disk identifier: 0x000b3027

   Device Boot      Start         End      Blocks   Id  System
**/dev/sda1   *        2048     2099

[2019-07-16 10:08] ader1990 opened #447 "PERF-STORAGE-4K-IO fails on Ubuntu 18.04"
The TC PERF-STORAGE-4K-IO fails on Ubuntu 18.04 with the following error:

Current Test Status: fio: native_fallocate call failed: No space left on device

[2019-07-16 10:23] chvalean commented on #447
Problem might come from the disks used:

sda to sdl (L) are 1TB, sdm is 224GB?

Disk /dev/sdm: 224 GiB, 240518168576 bytes, 469762048 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 4096 bytes
I/O size (minimum/optimal): 4096 bytes / 4096 bytes
Disklabel type: dos
Disk identifier: 0x913ce696

Device     Boot Start       End   Sectors  Size Id Type
/dev/sdm

[2019-07-16 11:21] sireeshapotnuru commented on #448
[LISAv2 Test Results Summary]
Test Run On           : 07/16/2019 07:17:17
ARM Image Under Test  : OpenLogic : CentOS : 7.4 : latest
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:9

   ID TestArea             TestCaseName                                                                TestResult TestDuration(in minutes)
-----------------------------

[2019-07-16 19:06] LiliDeng commented on #449
Test results -

[code]

[2019-07-16 21:31] juhlee-microsoft opened #450 "kernel versions display"
This issue comes back from the old discussion, and I still need it inside of Test Summary. Add the initial kernel version and final kernel version lines in Test Summary page?

[2019-07-16 22:02] santoshx commented on #449
I posted a PR to lagscope that removes dependency on C++.
https://github.com/microsoft/lagscope/pull/20

Please update this PR accordingly.

[2019-07-17 06:11] LiliDeng opened #452 "Update device name hardcoded in FILE-SYSTEM-VERIFICATION-TESTS"
Below are from Ubuntu 18.04 gallery image + Linux-next, we use hardcode /dev/sdc1 to do testing, will cause the VM enter into disconnected state.
[code]

[2019-07-17 08:21] chvalean commented on #452
I don't think that's the root problem.
We see in storage perf the wrong disks being used, so it must be some function that changed which is causing this.

These tests per say are known to be functional, it cannot be that stor perf or file-system tests were broken and not ack.

[2019-07-17 12:11] DivyaJyothiKasam opened #453 "CustomKernelInstall: skip if kernel is already installed"
Testcase CAPTURE-VHD-BEFORE-TEST fails in installation of custom kernel, if the kernel passed as parameter(-CustomKernel) is already installed  in the VM.
This need to be modified to skip if kernel is already installed and CAPTURE-VHD-BEFORE-TEST should be Passed.

07/17/2019 10:48:53 : [ERROR] Kernel upgrade failed in 1 VMs.
07/17/2019 10:48:53 : [ERROR] Custom Kernel: https://lisbuildstorage04.b

[2019-07-17 12:19] chvalean commented on #447
The key factor is the use of upstream/upstream stable kernel.
Only when using upstream kernel the disks order is getting changed, so sdb which was before known as the ephemeral disk gets changed in letter.

Could not repro this with only the default image "ARMImageName = Canonical UbuntuServer 18.04-DAILY-LTS latest" 3 out of 3 attempts. This is with the distro kernel.

[2019-07-17 12:19] chvalean commented on #452
I researched this today and noted in issue #447  on the behavior change which is due to the kernel.

[2019-07-17 12:25] chvalean commented on #447
Code to be changed is here - https://github.com/LIS/LISAv2/blob/1b4d991e69ae04ca640f4996a4246b101f078665/Testscripts/Linux/perf_fio.sh#L151

As we can no longer rely on the fact that sdb is the ephemeral one, it can be any of the sd devices letter.

[2019-07-17 13:01] chvalean commented on #453
If you skip that step then it might not be very clear that it's the same kernel.
And if it's already the same kernel, then you might want to either stop or do something else, and not just continue.
Otherwise, if you mean as in Skip state, then that is not very transparent on what it is.

[2019-07-17 13:14] sireeshapotnuru commented on #448
LIS-deploy-scenario-3 is failing on azure in Install-customLIS function,
when Install-customLIS is called 2nd time, build-CustomLIS.txt already exists in the Logfolder
Hence if condition fails and the lisSuccess count will not be incremented

[2019-07-17 13:57] stefanlupsa commented on #438
@juhlee-microsoft I've done some testing with this and vMem never matches what the VM sees, i don't know of a better way to get the memory inside the vm other than `grep MemTotal /proc/meminfo` but this never matches the exact amount the VM is supposed to have either in HyperV or Azure. Can you please clarify what is to be done?

[2019-07-17 14:58] chvalean commented on #438
I don't think a check to memory is possible, due to the variations in actual size, plus the old discussion on how the linux kernel reserves for mapping the memory.

An example is that for Size: Standard D12 v2 (4 vcpus, 28 GiB memory), meminfo shows a total of
MemTotal:       28776524 kB
which is over 28.7 GB of memory.

So we never have a good mapping of allocated vs what the VM reports, to do a

[2019-07-17 16:04] juhlee-microsoft commented on #438
@stefanlupsa @chvalean I understand the problem here, and I will change the requirement to vCPU only. At least we capture it from the VM name.

[2019-07-18 12:23] #447 closed, assigned to stefanlupsa

[2019-07-18 16:21] #438 closed, assigned to stefanlupsa

[2019-07-18 16:23] #450 closed, assigned to Tong-Xu

[2019-07-18 16:53] juhlee-microsoft commented on #448
@iamshital @johnsongeorge-w please participate with your feedback. Also sign off if you are ok with this.

[2019-07-18 22:08] lizzha commented on #458
Could you please also update the document, including the examples?

[2019-07-18 22:34] johnsongeorge-w commented on #448
@sireeshapotnuru : Is **Added a new entry in the ignore expected warning file** modification due to enhancement of version check of LIS modules ? If not please add it as a other commit in the same PR.

[2019-07-19 01:34] LiliDeng commented on #458
This is test results, actually it only run test against one image, confused for the output.
[code]

Actually you can run LISAv2 two times to reach the goal, otherwise you need take care of multiple places.
Like below summary, which image specify here? which image's kernel version put here?
And like some global variable https://github.com/LIS/LISAv2/blob/master/Libraries/CommonFunctions.psm1#L923,

[2019-07-19 05:00] sireeshapotnuru commented on #448
@johnsongeorge-w added the warning as separate commit , since it is not part of enhancement

[2019-07-19 11:33] LiliDeng commented on #460
Will send a new one

[2019-07-19 12:49] iamshital commented on #441
I just read Chris comment. Ignore my review please.

[2019-07-19 14:14] chvalean commented on #452
@LiliDeng  I've asked @stefanlupsa  to fix the file-system tests as well and no longer default to sdc1.

[2019-07-19 15:57] seansp-zz commented on #458
I agree with Lili's comments about additional interactions that this could cause.
This is specifically for enabling one test to have two dissimilar ARMImageNames which is not in the current feature set for LISAv2.
I am closing the PR for the time being.  All requested code changes have been applied.

[2019-07-19 18:46] #347 closed, assigned to ader1990, Tong-Xu

[2019-07-22 14:14] iamshital commented on #453
@DivyaJyothiKasam , can you check if you can get kernel version from rpm package version before going for install?
Based on this, we can either continue installing the kernel or skip it.

[2019-07-22 14:47] ader1990 commented on #453
This behaviour is there by design.

Also, the kernel version can be the same, but from different builds.

To "improve" or fix your scenario, you need to make sure it does make sense for all the other scenarios where you actually want to fail the test case.

In other words, why do you try to run tests with a custom kernel when you already have that kernel in the image? From a higher-level view, thi

[2019-07-22 17:44] #452 closed, assigned to LiliDeng, stefanlupsa

[2019-07-22 22:33] juhlee-microsoft opened #467 "CreateServicePrincipal.ps1 broken in privilege assignement"
This utility script can not handle the error as expected. I have new Sub and wanted to generate new secret file.

What kind of privileges do you want to assign to the Service Principal?
1) Contributor (Default)
2) Owner
Please choose by entering 1 or 2:
1
Assign roles to Service Principal...
New-AzRoleAssignment : Principal dd51d834b65b48cf962ba048f64e2e84 does not exist in the directory 72f988bf-

[2019-07-22 22:42] juhlee-microsoft opened #468 "Support any name of AvailabilitySet"
Azure teams gave us different name of AvailabilitySet. Sometimes it is hard to rename it under pinning condition. Can LISAv2 support variable AvSet name?

[2019-07-23 02:31] LiliDeng commented on #194
#465

[2019-07-23 03:22] LiliDeng commented on #468
Could you please clarify detailed requirement? you mean specify the AVset name as parameter when run LISAv2, or generate a random name in code? Or you need run tests against existed environment with a different AVset name?

[2019-07-23 05:08] juhlee-microsoft commented on #468
1. Introduce a new parameter, -UseExistingAV, then it will use the same named one in the existing EG. This parameter should be dependent on -UseExistingRG.
  a) If it is with -UseExistingRG,
    1) If it is with -UseExistingAV, then it should use the existing AVSet in the specific RG.
    2) Otherwise, it will use the existing RG but it can create the default AVSet, AvailabilitySet.
  b) If it is

[2019-07-23 06:37] LiliDeng commented on #468
https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L860 will use existed AV in existed RG when run .\Run-LisaV2.ps1 with -UseExistingRG

https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L419 will make sure the AV is not deleted

[2019-07-23 09:22] xian123 commented on #470
Test results on CentOS 7.5  and Ubuntu 18.04:
[code]

[2019-07-23 10:34] chvalean commented on #246
Addressed in PR #466

[2019-07-23 10:34] #246 closed, assigned to mbivolan

[2019-07-23 10:56] chvalean commented on #226
I've asked @stefanlupsa to research this and decide if this requires a build vm upgrade from current 16.04 ubuntu, or see what other solution is available.

[2019-07-23 11:35] LiliDeng commented on #469
@ader1990 VERIFY-DPDK-OVS abort during execute ./StartOvsSetup.sh, is it known issue? also hit without this change.

[code]

[2019-07-23 12:47] chvalean commented on #467
This is due to lack of privileges on subscription, must be Owner in order to create a SPN.

[2019-07-23 12:47] #467 closed, assigned to iamshital

[2019-07-23 14:20] chvalean commented on #470
@xian123 I think this is a 2nd PR with a fix to a custom centos 7.5 image that you use.

Can you please review that or double-check the behavior on an Azure image?
I really think this has to do with the image used and not an issue in automation.

[2019-07-23 14:22] LiliDeng commented on #470
Yes, last time we fix P0 hyperv test case, now we fix the P1.

[2019-07-23 14:26] chvalean commented on #470
from the vhd name it doesn't seem to be the same vhdx as used by the automation, at least.
So that's why my comment above.

[2019-07-23 14:32] LiliDeng commented on #470
I think they are from the OSTC file share, he renamed it, but still wait for @xian123 update, thanks for review!

[2019-07-23 16:14] juhlee-microsoft commented on #467
No, this is not about a matter of priv but about timing of PS cmd in the while loop. Running the script in PS cmd itself failed with the above error, but when it ran in PS ISE and step-by-step, it got the return value. I suspect on the line "$ErrorActionPreference = "Continue"" There might be a known issue when Get-AzADServicePrincipal cmd returns values. Need further investigation.

[2019-07-23 21:03] santoshx opened #472 "Default OS vhd size reduction"
It appears that VHDs are getting created with a default size of 30GB. Do we need 30GB? Can this be set to lower size?

RHEL distros recommend minimum 5GB of disk. Can we do with 5GB for all distros?

[2019-07-23 21:45] lizzha commented on #472
If the VM is created from marketplace image, we cannot change its size. If the VM is created from custom VHD, we can decide the size of the VHD.

[2019-07-23 21:58] #468 closed, assigned to LiliDeng

[2019-07-23 22:01] santoshx commented on #472
Okay, it appears we already using the optimally sized VMs from marketplace. Thank you.

[2019-07-23 22:01] #472 closed, assigned to nobody

[2019-07-24 03:49] xian123 commented on #470
1. For Redhat/CentOS, the same behavior  exists on Azure images.
2. The vhds are from OSTC file share. I just renamed them.