[2019-07-24 15:13] stefanlupsa commented on #226
I could repro the issue and tried a potential fix but this does not solve the problem:

If the kernel builder is on xenial the header install will fail on distros that have libssl1.1 as xenial has libssl1.0 and no release candidate for libssl1.1

I tried adding the libssl1.1 from a bionic repo to the xenial kernel builder, this fixes the problem on disco but creates the same problem when installin

[2019-07-25 01:37] LiliDeng commented on #469
@ader1990 Could you please review again? Thanks!

[2019-07-25 02:24] xian123 commented on #474
Test results with Ubuntu and CentOS:
[code]

[2019-07-25 05:29] LiliDeng commented on #349
Double confirm with PM.

[2019-07-25 05:30] LiliDeng commented on #194
@chvalean #465 fix this?

[2019-07-25 11:08] stefanlupsa opened #477 "TcpClient.Connect exception makes LISAv2 exit without running remaining tests."
https://github.com/LIS/LISAv2/blob/4c3c28212d287858dde3ffee2d28fb2b919555b1/Libraries/TestHelpers.psm1#L708-L726

[code]

This has happened when running Hyper-V P0 tests in sequence and LISAv2 exits without attempting to run the remaining tests, during NET-IFUP-IFDOWN test.

More Details:

[code]

[2019-07-25 17:37] ader1990 commented on #469
@LiliDeng did you run lisav2 with the default DPDK version or with a custom one?

[2019-07-25 17:42] ader1990 commented on #469
@LiliDeng the 18.11 DPDK version (the default version in LISAv2) is not compatible with the OVS master anymore, that s why it fails. The TC with the latest DPDK version passes.

[2019-07-25 18:46] #477 closed, assigned to nobody

[2019-07-25 20:10] juhlee-microsoft commented on #474
@xian123 Actually Azure Linux GOS does not have network manager as far as I know, so this should not be the case we make the change. If failed with your reason, this must be investigated. The change is for test script passed, but this is not our goal here. If you agree, please close the PR.

[2019-07-25 20:19] juhlee-microsoft commented on #475
@santoshx please review and sign-off.

[2019-07-26 00:59] LiliDeng commented on #474
@juhlee-microsoft Thanks for review, this is for hyperv platform

[2019-07-26 09:44] xian123 commented on #482
Test results:
[code]

[2019-07-26 20:25] juhlee-microsoft opened #483 "Get-IPv4AndWaitForSSHStart must have consistent return value type"
This function returns the text string value or $false, logical value. Instead of $false, it should be '$null'

[2019-07-26 20:27] juhlee-microsoft commented on #481
@lizzha Any test results available here?

[2019-07-26 20:48] lizzha commented on #481
@juhlee-microsoft  let me send you the test result internally

[2019-07-27 08:32] LiliDeng commented on #480
@iamshital Thanks for implementing this, I have a tested, seems it only delete the VM in the RG.

[2019-07-29 07:26] xian123 commented on #484
Test results on Debian and CentOS:
[code]

[2019-07-30 01:25] LiliDeng commented on #194
@chvalean Let know any further work need do for this issue, thanks!

[2019-07-30 01:52] #483 closed, assigned to Tong-Xu

[2019-07-30 04:11] juhlee-microsoft commented on #480
@iamshital  @LiliDeng  @lizzha  please review and sign off

[2019-07-30 08:26] iamshital commented on #480
@juhlee-microsoft , I'm blocked actually for this PR.
https://github.com/Azure/azure-powershell/issues/9448
Trying to resolve the background azure authentication issue.

[2019-07-30 10:14] chvalean opened #488 "VERIFY-BOOT-ERROR-WARNINGS.py: fix test case"
Test case is not running properly on redhat. Run the script directly, not through lisav2 to observe this better.

Release: 7.7 Snapshot 5 (most likely 7.6 should also have this behavior)

Issues to be fixed:
- ignore if syslog is not present (that exists only on ubuntu/debian).
[root@rhel77gen2 Linux]# python VERIFY-BOOT-ERROR-WARNINGS.py
2.7.5 (default, Jun 11 2019, 14:33:56)
[GCC 4.8.5 20150623

[2019-07-30 13:51] #278 closed, assigned to nobody

[2019-07-30 14:01] iamshital commented on #480
A new approach has been implemented. I've done the basic testing. It is working.
Will update here once PR is verified completely.

[2019-07-31 06:31] LiliDeng commented on #488
@v-sijliu Please cover this

[2019-07-31 07:58] LiliDeng commented on #488
@chvalean Could you please let know which distro you use?

[2019-07-31 08:29] #194 closed, assigned to adriansuhov

[2019-07-31 17:08] iamshital commented on #480
Removed the DO NOT MERGE. PR is ready to review.
@juhlee-microsoft @LiliDeng @lizzha Please take a look at the implementation.
Let me know, if you have any questions, while I continue testing corner cases as well.

[2019-07-31 18:08] juhlee-microsoft commented on #480
PR is still under test. Will PR review with the result.

[2019-08-01 01:02] juhlee-microsoft opened #490 "Utility script CreateServicePrincipal.ps1 broken in timing"
https://github.com/LIS/LISAv2/blob/master/Utilities/CreateServicePrincipal.ps1

It shows the run-time error but passed in Admin priv Powershell ISE with debug mode. There must be something related to the timer issue.

[2019-08-01 04:30] LiliDeng commented on #480
Works well, segment of log from pipeline
[code]

segment of log from local
[code]

[2019-08-02 03:31] LiliDeng commented on #490
hi what's the failure rate when you not use ISE?

[2019-08-02 04:15] juhlee-microsoft commented on #490
So far, 100%

[2019-08-02 16:53] #488 closed, assigned to nobody

[2019-08-05 14:33] iamshital commented on #480
Scenario 1 - Delete 2 VMs with unmanaged VHDs
---------------------------
[code]
*Total VM Clenaup time*  : 15 seconds. (VHD cleanup continues in background after this)
*Total background job time* : 70 seconds.

Scenario 2 - Delete 32 VMs with unmanaged VHDs
---------------------------
[code]
*Total VM Clenaup time*  : 23 seconds. (VHD cleanup continues in background after this)
*Total background

[2019-08-06 00:28] #63 closed, assigned to ader1990

[2019-08-06 05:52] juhlee-microsoft opened #497 "The source machine name in the new tag"
LISAv2 supports the 'tagging' feature. When the user ran with '-UseExistingRG', the existing tags were not updated. In order to keep updating the RG with the latest tag information, LISAv2 should update tag information when it uses 'UseExistingRG'.

=> update the tracking tags, by appending the latest access info (user name and build hostname ONLY)
=> also any other PS scripts under Utilities will

[2019-08-06 06:08] LiliDeng commented on #497
![image](https://user-images.githubusercontent.com/10083705/62514984-8b471a80-b853-11e9-8b8c-59c5d8928a63.png)

tags if run from local machine, could you please let know what tag you want to add.

[2019-08-06 06:15] juhlee-microsoft commented on #497
'BuildMachine' tag is already implemented? Why can't I find this tag in the existing RG use case? If we use '-useExistingRG', is it updating all tags?

[2019-08-06 17:51] iamshital opened #498 "UDP results are not uploaded to DB after 32 connections"
[code]

[2019-08-06 18:01] juhlee-microsoft commented on #497
Updated the description of the issues above with the team's decision today.

[2019-08-06 19:37] iamshital opened #499 "Hot Add disk always uses "Managed" disk mode, even if VM is using "unmanaged" disks"
[code]

[2019-08-07 12:47] iamshital commented on #480
In recent change -
1. Background cleanup job logs will be shown at the end of LISAv2. This is done to log all the background activities into the log files.
2. Skipped foreground cleanup if background cleanup is started (Minor fix).

[2019-08-08 02:58] juhlee-microsoft opened #503 "Add dpkg_configure in prior to every apt-get update statement"
I found 11 places showing "apt-get update". If "dpkg_configure" is required newly, please add it to the rest of 10 places. I see this change in PR #495

[2019-08-09 09:07] iamshital commented on #480
Logs from latest changes -
[code]

[2019-08-09 09:07] iamshital commented on #480
@juhlee-microsoft @LiliDeng Can you review and approve?

[2019-08-09 15:32] juhlee-microsoft commented on #509
@vyadavmsft please review and sign off.

[2019-08-12 22:47] johnsongeorge-w opened #513 "GPU validation test for CUDA driver is failing in RH73 due to "failure to install pre-requisite package""
There are 2 scenarios which needs to be handled for installation of GPU drivers:
1. In function InstallRequirements (Linux/gpu-driver-install.sh), the **installation status of kernel-header and kernel-devel package is not checked**. Due to the failure to install the devel package, nvidia driver installation will fail because nvidia driver will not be compiled. **Currently _test is failing in the l

[2019-08-13 00:27] msftclas commented on #514
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/signed)](https://cla.opensource.microsoft.com/LIS/LISAv2?pullRequest=514) <br/>All CLA requirements met.

[2019-08-13 01:57] #503 closed, assigned to nobody

[2019-08-13 05:59] juhlee-microsoft commented on #514
Please post the local test result

[2019-08-13 06:30] LiliDeng commented on #498
@iamshital which test case?

[2019-08-13 08:53] LiliDeng opened #515 "Add timeout for install custom kernel."
Hit this issue when upgrade kernel in disco, it hung during install package, and our code keep check state in a loop and never exit, we need add a timeout in https://github.com/LIS/LISAv2/blob/master/Libraries/CommonFunctions.psm1#L578

[2019-08-13 17:52] juhlee-microsoft commented on #497
This task moves to the internal implementation. Will close it.

[2019-08-13 17:52] #497 closed, assigned to LiliDeng

[2019-08-13 21:49] abhimarathe commented on #514
![image](https://user-images.githubusercontent.com/13867573/62979968-1d15d100-bdda-11e9-9180-98bb67a382f6.png)

[2019-08-13 21:54] abhimarathe commented on #514
![image](https://user-images.githubusercontent.com/13867573/62980029-433b7100-bdda-11e9-8e94-d0c8bca4d7d2.png)

[2019-08-13 21:55] abhimarathe commented on #514
![image](https://user-images.githubusercontent.com/13867573/62980075-5f3f1280-bdda-11e9-9830-4dae80872bb4.png)

[2019-08-13 21:56] abhimarathe commented on #514
![image](https://user-images.githubusercontent.com/13867573/62980101-73830f80-bdda-11e9-9ed4-5314b59376db.png)

[2019-08-14 11:05] LiliDeng commented on #514
@abhimarathe what is the reason for abort or fail?

[2019-08-14 20:46] abhimarathe commented on #514
@LiliDeng I'm looking into that. Lisav2 did not generate any error messages and we don't have a 100% repro rate for most of them. One thing I'm sure of is that the abort/fail did not occurre due to this change.

[2019-08-15 16:49] juhlee-microsoft commented on #514
@abhimarathe if abort/fail is not related to this PR, then please investigate through a new issue.

[2019-08-15 16:55] #499 closed, assigned to Tong-Xu, johnsongeorge-w

[2019-08-16 03:16] LiliDeng commented on #498
Issue resolved by increase precision of TxThroughput_Gbps

[2019-08-16 03:16] #498 closed, assigned to LiliDeng, johnsongeorge-w

[2019-08-16 05:18] LiliDeng commented on #514
Ava is doing testing.

[2019-08-16 06:55] LiliDeng commented on #514
@abhimarathe Could you please run this case VERIFY-DPDK-COMPLIANCE? We found that is pass in master branch, failed in your branch.

[2019-08-16 23:58] juhlee-microsoft opened #520 "Az Module is required in LISAv2 cmdline execution"
Need to update the document - Az module installation.

[2019-08-20 09:47] LiliDeng commented on #523
@abhimarathe Hi, could you please let know why you change this, we found it break some cases like VERIFY-DPDK-RING-LATENCY

[2019-08-20 16:29] abhimarathe commented on #523
@LiliDeng  I added this change as new releases contain their version numbers in the path. So this would make one path for all the releases. I'll check why VERIFY-DPDK-RING-LATENCY is breaking. Could you please share some more details?

[2019-08-20 16:35] juhlee-microsoft commented on #523
@abhimarathe can you try to run all DPDK tests including VERIFY-DPDK-RING-LATENCY in your branch? @LiliDeng reported your change broke the existing test. It looks you should verify your change with different dpdk package options.

[2019-08-20 16:58] abhimarathe commented on #523
Sure. I just wanted to know in which cases that break was found, so that I can optimize repro.
 I will run all the scenarios after the fix.

[2019-08-21 01:14] juhlee-microsoft opened #524 "LSVMBUS reports incorrect vmbus channel count in bigger VM"
1) For synthetic network adapters (netvsc), it looks like the number of VMbus channels is the number of vCPUs, but capped at **64**.  So we should get 64 instead of 208 or 416 (Mv2 VM sizes) As you see below log, it is the correct return value.

2) SCSI controller is also 52 not 53 in Mv2 VM. It has miscalculated

<Log>
Wed Aug 21 00:32:12 2019 : Error: values are wrong. Expected for network adapt

[2019-08-21 07:43] LiliDeng commented on #523
@abhimarathe
VERIFY-DPDK-BUILD-AND-TESTPMD-TEST
VERIFY-SRIOV-FAILSAFE-FOR-DPDK

[2019-08-21 07:49] LiliDeng opened #526 "HYPERV - Add try catch in method Get-HostMemory"
Need add try catch in https://github.com/LIS/LISAv2/blob/master/Libraries/HyperV.psm1#L901
Hit below exception -
[code]

[2019-08-21 19:10] juhlee-microsoft opened #528 "TIMESYNC-NTP got kernel upgrade"
I see the test report in Summary page. It shows the kernel upgrade. why do we need its upgrade? The target kernel should be default not upgraded one.

[2019-08-22 03:10] LiliDeng commented on #528
It is not related wit test case, we specify the -CustomKernel during we run testing, since we hit it in the pipeline and repro it in pipeline.

[2019-08-22 03:10] #528 closed, assigned to nobody

[2019-08-23 06:30] LiliDeng commented on #523
Included in #531

[2019-08-25 19:30] #177 closed, assigned to iamshital, johnsongeorge-w

[2019-08-25 19:34] #453 closed, assigned to johnsongeorge-w

[2019-08-26 07:33] xian123 commented on #526
This patch [#532](https://github.com/LIS/LISAv2/pull/532) fixed the issue.

[2019-08-26 08:36] iamshital commented on #176
Identified problem here :
https://superuser.com/questions/1374076/what-does-it-mean-if-ssh-hangs-after-connection-established

[2019-08-27 03:00] #367 closed, assigned to prashantmhetar, johnsongeorge-w

[2019-08-27 06:51] LiliDeng opened #540 "RedHat RHEL 7-LVM 7.7.2019081522 - NESTED-KVM-BASIC-VERIFICATION disk is full"
Test failed for disk is full when download image file

[2019-08-28 06:35] #515 closed, assigned to johnsongeorge-w

[2019-08-28 06:36] #513 closed, assigned to iamshital, johnsongeorge-w

[2019-08-28 06:37] #540 closed, assigned to LiliDeng

[2019-08-28 22:14] juhlee-microsoft commented on #520
Any progress? @abhimarathe

[2019-08-28 22:18] #78 closed, assigned to nobody

[2019-08-29 20:37] juhlee-microsoft opened #544 "SLES_TEST_SUDOERS_VERIFICATION_SUCCESS is included in SLES15?"
The same test kept failing in SLES 15. Is it available in SLES 15 or not? If SLES 15 no longer has it, we should remove this string inclusion in the ps1 file.

[2019-08-29 20:37] juhlee-microsoft commented on #544
}
        elseif ($global:detectedDistro -imatch "SLES") {
            **$matchstrings = @("_TEST_SUDOERS_VERIFICATION_SUCCESS","_TEST_GRUB_VERIFICATION_SUCCESS", "_TEST_REPOSITORIES_AVAILABLE")**
            # to avoid extra blank space

[2019-08-30 06:47] LiliDeng commented on #544
Is it the same with #338?

[2019-08-30 17:43] juhlee-microsoft commented on #544
I am checking with PM

[2019-08-30 17:45] juhlee-microsoft commented on #524
This is no longer reproduced in the latest LISAv2 https://github.com/LIS/LISAv2/commit/f9db99da988ed0774755d8f2d643ddd974f9eb29

Close it.

[2019-08-30 17:45] #524 closed, assigned to nobody

[2019-08-30 17:47] juhlee-microsoft commented on #349
GPU CUDA driver test shall skip if the Guest OS is RHEL 8.x or SUSE. No driver available.

[2019-08-30 20:08] juhlee-microsoft commented on #520
#545

[2019-09-02 02:10] LiliDeng commented on #349
Working on it.

[2019-09-02 09:30] LiliDeng commented on #547
RHEL 8 is a special case since it needs install ISO, will submit another PR for it.

[2019-09-05 01:35] #349 closed, assigned to LiliDeng

[2019-09-06 08:27] lixuemin2016 opened #549 "Update the storage test cases which include duplicated test parameter key"
Issue:
When test parameter with duplicated key, only final key parameter will be parsed,
e.g. the SCSI=0,1,2, Dynamic;SCSI=0,2,Dynamic have same keys.

So all the cases with duplicated key parameter will be impacted, currently I see some storage test cases have duplicated key in the FunctionTests-Storage.xml.

Root cause:
In CommonFunctions.psm1, the function Parse-TestParameters will define hasht

[2019-09-09 23:34] juhlee-microsoft commented on #556
### **Open MPI result**

[LISAv2 Test Results Summary]
Test Run On           : 09/06/2019 16:04:39
ARM Image Under Test  : **Redhat : RHEL : 7.6 : latest**
Initial Kernel Version: 3.10.0-957.21.3.el7.x86_64
Final Kernel Version  : 3.10.0-957.21.3.el7.x86_64
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:31

   ID TestArea             TestCaseName

[2019-09-09 23:35] juhlee-microsoft commented on #556
### Intel MPI result

[LISAv2 Test Results Summary]
Test Run On           : 09/05/2019 23:27:00
ARM Image Under Test  : **Redhat : RHEL : 7.6 : latest**
Initial Kernel Version: 3.10.0-957.21.3.el7.x86_64
Final Kernel Version  : 3.10.0-957.21.3.el7.x86_64
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:5:8

   ID TestArea             TestCaseName

[2019-09-09 23:35] juhlee-microsoft commented on #556
### MVAPICH MPI result

[LISAv2 Test Results Summary]
Test Run On           : 09/09/2019 18:42:49
ARM Image Under Test  : **SUSE : SLES : 12-SP4 : latest**
Initial Kernel Version: 4.12.14-6.23-azure
Final Kernel Version  : 4.12.14-6.23-azure
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:4:28

   ID TestArea             TestCaseName

[2019-09-10 02:01] LiliDeng commented on #556
Looks good, I didn't see you clone latest WALA, is it expected? Or it is already the latest in gallery image (or self update?)

[2019-09-10 03:32] juhlee-microsoft commented on #556
By default, we should use the latest one or the specific version with Azure image. But sometimes it got broken or need pre-release one for our work. Last time, we pick up the specific commit and that does not need any more. @LiliDeng  Please let me know if there is anything else needs.

[2019-09-10 11:25] LiliDeng opened #558 "Azure - Starting VM hung in pipeline, need refine code when start-azvm"
https://github.com/LIS/LISAv2/blob/master/Libraries/Azure.psm1#L2332

[2019-09-10 14:33] juhlee-microsoft commented on #544
During the information exchange, all of SLES images do not have this parameter. I think we should omit in our test script.

[2019-09-10 14:35] juhlee-microsoft opened #559 "STORAGE-VHD-HOT-ADD-MULTI-DYNAMIC-SCSI failure in Gen1 image"
Found from PR #542

[2019-09-10 14:36] juhlee-microsoft opened #560 "STORAGE-VHDX-SCSI-DYNAMIC-LOCAL-COPY-FILE failure in Gen2 image"
Found from PR #542

[2019-09-11 15:29] #520 closed, assigned to juhlee-microsoft

[2019-09-11 15:32] juhlee-microsoft opened #561 "TIMESYNC-NTP in RHEL 8.1/SLES 15 replaces with chrony"
<RHEL 8.1>
https://access.redhat.com/solutions/4130881

ntpdate is no longer available in RHEL8 so what can be used to sync time immediately ?

Resolution
systemctl stop chronyd
chronyd -q
systemctl start chronyd

Root Cause
ntpdate is deprecated in RHEL8 and was replaced by chrony

Diagnostic Steps
yum provides *bin/ntpdate returns no packages.
Product(s) Red Hat Enterprise LinuxComponent ntpCate

[2019-09-11 18:36] juhlee-microsoft commented on #544
Added a bug to SUSE. We do not know if this is a planned change or not. https://bugzilla.suse.com/show_bug.cgi?id=1150407

[2019-09-24 01:43] xian123 commented on #571
Test result:
[LISAv2 Test Results Summary]
Test Run On           : 09/23/2019 11:51:45
VHD Under Test        : C:\Users\v-hoxian\Ubuntu_18.04.1V.vhdx
Initial Kernel Version: 4.15.0-38-generic
Final Kernel Version  : 5.2.5-2519374d2a6b
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:1:41

   ID TestArea             TestCaseName

[2019-09-24 01:43] xian123 commented on #571
Test result:
[LISAv2 Test Results Summary]
Test Run On           : 09/23/2019 11:55:09
VHD Under Test        : C:\Users\v-hoxian\Ubuntu_18.04.1V.vhdx
Initial Kernel Version: 4.15.0-38-generic
Final Kernel Version  : 5.2.5-2519374d2a6b
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:22

   ID TestArea             TestCaseName

[2019-09-24 09:40] lixuemin2016 commented on #549
I‘m working on this issue, done 80%, after run on all the related test cases, will submit PR. Fix on https://github.com/lixuemin2016/LISAv2/tree/parse_duplicated_parameter, later will submit PR.

[2019-09-24 23:25] abhimarathe commented on #575
[code]

[2019-09-25 09:21] LiliDeng opened #577 "linux-next + ubuntu 18.04 - NVME-FILE-SYSTEM-VERIFICATION-GENERIC test hung till timeout"
Test hung in generic/564

[2019-09-25 09:22] LiliDeng opened #578 "msft + ubuntu 18.04 - PERF-STORAGE-4K-IO abort"
Need further investigation

[2019-09-26 01:12] juhlee-microsoft commented on #575
As you merged it, I assume we no longer or less maintenance of this link. @abhimarathe

[2019-09-27 06:14] huijuanzhao commented on #582
Before fix the script:
Errors in output:
09/27/2019 01:43:10 : [ERROR] EXCEPTION: You cannot call a method on a null-valued expression.
09/27/2019 01:43:10 : [ERROR] Source: Line 1576 in script .\Libraries\CommonFunctions.psm1.

[LISAv2 Test Results Summary]
Test Run On           : 09/27/2019 01:42:11
VHD Under Test        : D:\RHEL-8.1.0-xxxx-x86_64-GEN2-A.vhdx
Initial Kernel Version: xxxx.el8.x8

[2019-09-27 08:46] msftclas commented on #582
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/signed)](https://cla.opensource.microsoft.com/LIS/LISAv2?pullRequest=582) <br/>All CLA requirements met.

[2019-09-27 09:09] huijuanzhao commented on #582
For another fix file utils.sh:
Fix the CreateIfupConfigFile to be available both for RHEL_7 and RHEL_8.  Delete "NM_CONTROLLED=no" as there is only NetworkManager to handle the network as default in RHEL_8.

Before fix the script:
Test failed in RHEL_8.
Errors in output:
09/27/2019 02:54:06 : [ERROR] Could not ping from 10.10.10.1 to 10.10.10.2

After fix the script:
1. RHEL_8 test results:
[LISAv

[2019-09-29 07:26] huijuanzhao commented on #585
Issue 2, for the CreateIfupConfigFile in utils.sh:
Fix the CreateIfupConfigFile to be available both for RHEL_6, RHEL_7 and RHEL_8. Delete "NM_CONTROLLED=no" as there is only NetworkManager to handle the network as default in RHEL_8.
The "NM_CONTROLLED=no" means do not handle network with NetworkManager. This fix will not affect other version of RHEL, such as RHEL_6, RHEL_7.

Before fix the script

[2019-09-30 18:27] juhlee-microsoft opened #586 "ETHTOOL-GET-STATISTICS failed in RHEL 6.9"
Due to below output, it failed.

[lisa@LISAv2-OneVM-juhlee1924-SY12-20190930165550-role-0 ~]$ ethtool -S eth0
no stats available

Need to confirm if this is the expected behavior.

[2019-09-30 22:27] juhlee-microsoft commented on #586
".get_ethtool_stats = netvsc_get_ethtool_stats" callback is not implemented. The pre-condition of this test is LIS package installation. Without it, it should be 'skippped'

[2019-10-03 17:08] juhlee-microsoft commented on #585
@huijuanzhao Can you reply to the comment?

[2019-10-14 22:55] juhlee-microsoft opened #597 "SRIOV-DISABLE-ENABLE-PCI failed in Bigger VM size"
RHEL 7.7 shows 3 interfaces, and I verified them in the system path. But the run-time did not pick up the eth0 name properly. It looks SR-IOV util script parses out incorrectly.

Mon Oct 14 18:33:38 2019 : VF device **upper_eth0** was not found!

[lisa@LISAv2-TwoVM2Host1Dep-juhlee-BZ78-20191014150606-role-0 ~]$ ifconfig
eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 10.0.0

[2019-10-15 07:30] #560 closed, assigned to nobody

[2019-10-15 07:30] #559 closed, assigned to nobody

[2019-10-15 07:30] #549 closed, assigned to nobody

[2019-10-15 07:31] #526 closed, assigned to xian123

[2019-10-16 22:03] juhlee-microsoft commented on #600
@LiliDeng I am surprised that there is new TestPlatform "Ready". I have no clue. What is about the background story? Please add details in Description and we might need to update README with new TestPlatform.

[2019-10-20 04:58] juhlee-microsoft commented on #599
@harz566 Please add the context in the description.

[2019-10-25 19:07] juhlee-microsoft commented on #597
https://github.com/LIS/LISAv2/pull/611

[2019-10-25 19:07] #597 closed, assigned to juhlee-microsoft

[2019-10-25 19:19] juhlee-microsoft commented on #599
@harz566 when you have time back, please reopen this PR.

[2019-10-25 21:35] juhlee-microsoft commented on #613
@harz566  I am not sure if this 'renaming' is necessary unless you would put the same one for IPv6.

[2019-10-25 22:06] juhlee-microsoft opened #614 "Update NVMe tests with VM size/OS distro filter"
$grep nvme /proc/interrupts

Limited support with RHEL 7.x
Ok with Ubuntu 16.04 & 18.04
Ok with RHEL 8.x

[2019-10-26 06:41] #614 closed, assigned to juhlee-microsoft

[2019-10-26 17:59] juhlee-microsoft commented on #586
@LiliDeng My proposed design is adding a new function VerifyCanEthtool in utils.sh. It checks the distro and its version. If it is the case the older than RHEL 6.9 or CentOS 6.9, then it should check the latest LIS is installed. All conditions should meet for the return value 'true'. Otherwise, it will return 'false' for the test skip. I found this change applied to a few test scripts and want to

[2019-11-01 05:34] LiliDeng commented on #577
Fix in xfstesting

[2019-11-01 05:34] #577 closed, assigned to LiliDeng

[2019-11-01 10:08] LiliDeng commented on #578
Pass on recently run ubuntu 1804 + msft kernel

[2019-11-01 10:08] #578 closed, assigned to LiliDeng

[2019-11-01 23:37] juhlee-microsoft opened #620 "CentOS8 has new changes"
1. python is no longer default, so it had to instaill python2 first. And create a soft link in /usr/bin/python.
2. Need to make sure how to do with kdump-tools and makedumpfile dependency installation. They are not in the official repo site.
3. c.	CENTOS_TEST_REPOSITORIES_AVAILABLE & CENTOS_TEST_GRUB_VERIFICATION_SUCCESS are missing.  The meta data shows below only.

_Last metadata expiration chec

[2019-11-04 06:07] LiliDeng commented on #620
working on it

[2019-11-04 11:38] lubaihua33 commented on #624
When running a command on VM over the default time 360s, Wait-Job will stop. Add a timeout parameter so that users can specify the time.

[2019-11-04 17:50] juhlee-microsoft commented on #624
@lubaihua33 Please post the test log in plain text here not the link or attached file. They look short so they should be fine.

[2019-11-05 00:58] #620 closed, assigned to LiliDeng, juhlee-microsoft

[2019-11-05 01:36] lubaihua33 commented on #624
Before fix:
[code]

After fix:
[code]

[2019-11-07 08:58] lubaihua33 commented on #632
Test result:
[code]
The platform of test MAX_VCPU is HyperV. In the test, VM uses Intel processor.
In this test VM the two command below are all right.
[code]

[2019-11-07 18:26] lizzha opened #636 "maxRetryCount parameter of Run-LinuxCmd doesn't work"
Setting -maxRetryCount when calling Run-LinuxCmd doesn't take effect

[2019-11-07 20:09] juhlee-microsoft commented on #632
You are right. We did not see the problem with Intel CPU, but AMD CPU shows different log pattern. If you can find one with AMD cpu system. (HB60rs)

[root@juhlee lisa]# grep -i ^processor /proc/cpuinfo | wc -l
60
[root@juhlee lisa]# grep -i processor /proc/cpuinfo | wc -l
120

[2019-11-07 20:47] juhlee-microsoft commented on #635
@yuxisun1217 Thank you for the improvement. Azure does not support LRO change by design. I suggest you should put the condition with platform variable.

[2019-11-08 05:48] yuxisun1217 commented on #635
Hi @juhlee-microsoft ,

Do you know how to identify Hyper-V and Azure inside shell script? Or shell we separate this case into 2: GRO case for HyperV+Azure and LRO case for Hyper-V only? Thanks!

[2019-11-08 06:08] juhlee-microsoft commented on #635
Please check out the ‘testplatform’ variable. 	[string] $TestPlatform = "",

[2019-11-08 09:36] yuxisun1217 commented on #635
Hi @juhlee-microsoft ,

Thank you for your reply! But it seems that cannot read "testplatform" or "TestPlatform" in shell script. I read some other cases, it seems that I have to create a .ps1 script, identify the TestPlatform in this .ps1 script, and then use it to run the shell script. Is that correct? Thanks again!

[2019-11-08 10:23] lubaihua33 commented on #642
Test results:
Debian:
[code]
Ubuntu:
[code]

[2019-11-08 11:05] LiliDeng commented on #642
Test result when deb files from local

[code]

[2019-11-08 17:58] juhlee-microsoft commented on #635
LISAv2 passed some of global or constant values via 'constants.sh' file. As you see below, we could access global variables in PS module easily.
https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/GPU-TENSORFLOW.ps1#L108

But sometimes we passed those values to Bash shell script like below example.

https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/VERIFY-INFINIBAND-MultiVM.p

[2019-11-21 15:16] LiliDeng opened #649 "Need timeout for RunTestCleanup"
See this issue in two pipelines, it enters into dead loop when delete resource group, need add timeout in method RunTestCleanup

[2019-11-21 15:16] LiliDeng commented on #649
https://github.com/LIS/LISAv2/blob/master/TestProviders/AzureProvider.psm1#L191

[2019-11-22 03:49] LiliDeng commented on #558
#646

[2019-11-22 03:49] #558 closed, assigned to LiliDeng

[2019-11-22 03:52] LiliDeng commented on #212
#623 In RHEL 8, use qemu-kvm

[2019-11-22 03:52] #212 closed, assigned to LiliDeng

[2019-11-22 05:44] juhlee-microsoft commented on #635
@yuxisun1217 I am just giving you a friendly reminder that PR opens for a long time. If you need more time, please let me know your ETA.

[2019-11-22 06:20] yuxisun1217 commented on #635
@juhlee-microsoft , thank you for reminding and sorry for late. I was busy on some other stuff these 2 weeks and I'm not quite familiar with powershell and LISAv2 structure so still need several days to finish the powershell script. Do you think it's better to open a new PR when I finished it? Or just keep this PR opened? Thanks!

[2019-11-22 06:26] juhlee-microsoft commented on #635
I am ok with a few days PR open, @yuxisun1217

[2019-12-02 01:42] yuxisun1217 commented on #635
Hi @juhlee-microsoft ,
I'm so sorry that I'm still too busy to update this PR these days. I'm closing it now and when I finished it I'll open a new PR then, to prevent keeping this PR opened for too long. Apologize again.

[2019-12-03 20:48] juhlee-microsoft commented on #652
Based on the Azure public document, all GPU tests should skip in Debian. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json

[2019-12-04 00:49] LiliDeng commented on #652
By testing, it can install grid driver, but lack of cuda driver, let me also skip grid, we will miss a bug which is lack of patch https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/drivers/pci/controller/pci-hyperv.c?id=be700103efd1050808db1cf00e52c3a2837bf802

[2019-12-04 00:50] juhlee-microsoft commented on #652
But there is no POR of Debian. Please set to test-skip.

[2019-12-04 09:44] LiliDeng commented on #652
Test results against latest change
[code]

[2019-12-05 05:27] juhlee-microsoft commented on #170
No longer reproduced the issue with CORE.

[Canonical UbuntuServer 16.04-LTS latest] [LISAv2 Test Results Summary]
[Canonical UbuntuServer 16.04-LTS latest] Test Run On           : 12/05/2019 00:19:45
[Canonical UbuntuServer 16.04-LTS latest] ARM Image Under Test  : Canonical : UbuntuServer : 16.04-LTS : latest
[Canonical UbuntuServer 16.04-LTS latest] Test Category         : Functional
[Canonical

[2019-12-05 05:27] #170 closed, assigned to juhlee-microsoft

[2019-12-05 05:32] juhlee-microsoft commented on #176
The issue got resolved in the PR 536

[2019-12-05 05:32] #176 closed, assigned to iamshital, johnsongeorge-w

[2019-12-05 06:11] juhlee-microsoft commented on #184
https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/FCOPY-NON-ASCII.ps1#L216 shows two md5 checksum comparison. Resolved.

[2019-12-05 06:11] #184 closed, assigned to juhlee-microsoft

[2019-12-10 01:01] LiliDeng opened #660 "apt install failure when there is a dpkg process running"
dpkg: error: dpkg frontend is locked by another process

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

E: Could not get lock /var/lib/dpkg/lock-frontend - open (11: Resource temporarily unavailable)
E: Unable to acquire the dpkg frontend lock (/var/lib/dpkg/lock-frontend), is another process using it?

[2019-12-11 19:04] juhlee-microsoft opened #663 "Add trial count in CheckInstallLockUbuntu"
CheckInstallLockUbuntu is recursive function call and potentially has a risk of infinite loop if apt.lock is not removed.
It is nice to have counter after converting to non-recursive.

[2019-12-15 07:25] juhlee-microsoft opened #664 "STRESSTEST-VERIFY-RESTART does not work with the big size VM"
Maybe need to tune the timer of provisioning, booting or restarting time.

[2019-12-16 12:52] LiliDeng commented on #660
Duplicate with #663

[2019-12-16 12:52] #660 closed, assigned to LiliDeng

[2019-12-16 12:53] LiliDeng commented on #338
Duplicate with #544

[2019-12-16 12:53] #338 closed, assigned to LiliDeng

[2019-12-17 06:03] LiliDeng commented on #664
@juhlee-microsoft As we talked internally, can we close it?

[2019-12-17 06:07] juhlee-microsoft commented on #664
Gave the enough time during booting and provisioning. Will investigate VM inside.

[2019-12-17 06:07] #664 closed, assigned to LiliDeng

[2019-12-17 20:32] juhlee-microsoft opened #669 "VM-HOT-RESIZE bug - nonsense logging in the test run-time"
12/16/2019 22:34:38 : [INFO ] The VM can be resized to the following sizes: Standard_DS14-4_v2

This VM size is illegal.

Here is another nonsense logs in VM-HOT-RESIZE.

01/03/2020 19:56:30 : [INFO ] The VM can be resized to the following sizes: Standard_A5
01/03/2020 19:56:31 : [INFO ] --------------------------------------------------------
01/03/2020 19:56:31 : [INFO ] Resizing the VM to size:

[2019-12-20 01:02] LiliDeng commented on #544
Remove this check for sles in PR #665

[2019-12-20 01:02] #544 closed, assigned to nobody

[2019-12-29 19:39] juhlee-microsoft opened #675 "Ready platform document update"
Introduced "Ready" platform for future development. Please add contexts about this platform in public document.

[2019-12-30 22:41] juhlee-microsoft commented on #675
Added Ready platform here, but there is no clear information about what it is and how to use in readme and how-to-use document. If anyone can do, appreciate it.

[2020-01-07 19:56] juhlee-microsoft opened #679 "Add RHEL 8 workaround for rpm-build installation"
Add "yum update dnf rpm" prior to 'yum install rpm-build' in the test script. This is regarding RHEL bug, https://bugzilla.redhat.com/show_bug.cgi?id=1787637

[2020-01-13 04:55] juhlee-microsoft opened #681 "Less variable in error handling"
if ($error.Count -gt 0) {
        $exception = $error[0].Exception
        Write-LogErr "Add-VMHardDiskDrive failed to add drive on SCSI controller $exception"
        return $False
 }

Many places use those lines. $exception variable is not used in another places, so it does not need to be there. Minimize the lines like below.

if ($error.Count -gt 0) {
        Write-LogErr "Add-VMHardDiskDrive f

[2020-01-14 22:47] juhlee-microsoft opened #684 "ib_nic="eth0" is failed sometimes"
This variable sets in VERIFY-INFINIBAND-MultiVM.ps1. The default value is eth0. Sometimes it changes to eth1 or something else. SetupRDMA should have re-evaluated this variable.

Use: ip addr show $ib_nic | grep -Po 'inet \K[\d.]+', in order to find the ip address of that interface.

[2020-01-15 00:05] juhlee-microsoft commented on #679
#685

[2020-01-15 00:05] #679 closed, assigned to juhlee-microsoft

[2020-01-19 21:50] juhlee-microsoft commented on #689
@LiliDeng Can you check out again? I see the old test log with Standard_F32s_v2 size, and passed the result. Also the pipeline select Standard storage account by default. I wonder if it is a matter of subscription scope or pipeline default value, as we have missed it.

Log:
StorageAccount = ExistingStorage_Standard

[2020-01-20 03:46] LiliDeng commented on #689
This setting is for OS disk type, here she fixed is data disk types, our default size allows attached SSD data disk, when users override the size, maybe that size doesn't allow to attached SSD type, @yuxisun1217 I suggest to add a replaceable parameter like https://github.com/LIS/LISAv2/blob/master/XML/TestCases/FunctionalTests-DPDK.xml#L11, it has a default value here https://github.com/LIS/LISAv

[2020-01-20 06:23] yuxisun1217 commented on #689
Thanks @LiliDeng ! I'll submit another patch to use parameter then.

[2020-01-22 18:27] juhlee-microsoft commented on #684
https://github.com/LIS/LISAv2/pull/685/

[2020-01-22 18:27] #684 closed, assigned to juhlee-microsoft

[2020-01-22 18:29] #222 closed, assigned to nobody

[2020-01-28 17:58] juhlee-microsoft commented on #689
@yuxisun1217 Can you share the change base test result with me? It would be nice before my final sign-off.

[2020-01-30 14:41] yuxisun1217 commented on #689
Hi @juhlee-microsoft,
Sorry the test result is removed. I'll rerun a test and send you test result later. Thanks!

[2020-01-31 20:31] juhlee-microsoft opened #696 "Fix the Nvidia driver installation broken"
https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1804&target_type=runfilelocal

[2020-02-03 14:00] yuxisun1217 commented on #689
Hi @juhlee-microsoft ,

https://github.com/yuxisun1217/temp
The 4 logs for 4 cases:
.\Run-LisaV2.ps1 -XMLSecretFile .\secret.xml -ParametersFile .\TestParameters.xml -OverrideVMSize Standard_D1_v2 -TestNames STORAGE-HOT-ADD-DISK-SERIAL -CustomTestParameters "DATA_DISK_SKU=Standard_LRS"
.\Run-LisaV2.ps1 -XMLSecretFile .\secret.xml -ParametersFile .\TestParameters.xml -OverrideVMSize Standard_DS1_v2

[2020-02-08 00:06] juhlee-microsoft commented on #702
@harz566 It looks good, but do you have any change test log?

[2020-02-08 07:04] harz566 commented on #702
02/08/2020 06:05:04 : [INFO ] End of testing: WALA-VERIFY-HOSTNAME , result: PASS
02/08/2020 06:05:04 : [INFO ] PASS    - 1
02/08/2020 06:05:04 : [INFO ] SKIPPED - 0
02/08/2020 06:05:04 : [INFO ] FAIL    - 0
02/08/2020 06:05:04 : [INFO ] ABORTED - 0
02/08/2020 06:05:04 : [INFO ] PENDING - 1

02/08/2020 06:05:04 : [INFO ] (2/2) testing started: WALA-VERIFY-MNT-RESOURCE-README

[2020-02-08 19:59] juhlee-microsoft commented on #702
Let me check some conditions and come back here. Please keep open this a while.

[2020-02-10 06:07] yuxisun1217 opened #704 "CustomTestParameters in TestParameters.xml doesn't work"
Hi all,

I met a problem these days:
I set <CustomTestParameters>DATA_DISK_SKU=Standard_LRS</CustomTestParameters> in TestParameters.xml and run .\Run-LisaV2.ps1 -ParametersFile .\TestParameters.xml, but the DATA_DISK_SKU=Standard_LRS parameter is not injected to the case.
If I run .\Run-LisaV2.ps1 -CustomTestParameters DATA_DISK_SKU=Standard_LRS , this parameter can be injected to the case.
Do yo

[2020-02-10 06:21] lizzha commented on #704
That is by design. -ParametersFile is designed to be a replacement of inputting the parameters of Run-Lisav2.ps1

[2020-02-10 06:23] lizzha commented on #704
You may need to set:
[code]
in TestParameter file

[2020-02-10 06:36] yuxisun1217 commented on #704
Hi @lizzha ,

I have this line in TestParameters.xml:
<CustomTestParameters>DATA_DISK_SKU=Standard_LRS</CustomTestParameters>
The full TestParameters.xml is here: https://github.com/yuxisun1217/temp/blob/master/TestParameters.xml
But it doesn't work...

[2020-02-10 06:39] yuxisun1217 commented on #704
And in the log:
[code]
Seems the CustomTestParameters = DATA_DISK_SKU=Standard_LRS is set at the very beginning, but then it is not injected in the STORAGE-HOT-ADD-DISK-PARALLEL case. I don't know why this happened...

[2020-02-10 06:54] yuxisun1217 commented on #704
This is the full log: https://github.com/yuxisun1217/temp/blob/master/LISAv2-Test-XR54.log

Thanks!

[2020-02-12 08:14] dragan1979 opened #707 "NET-IP-Injection.ps1 - Ubuntu 18.04 fails"
IP injection doesn't work for Ubuntu 18.04 because it uses netplan, any hint/workaround ?

[2020-02-12 09:28] LiliDeng commented on #707
Hi @dragan1979, what is your kernel version, and how did you generate the parent disk? And did you install ifupdown package?

[2020-02-12 09:40] dragan1979 commented on #707
4.15.0-76-generic

yes, i installed it (disabled netplan but issue persist)

[code]

/usr/src/linux-headers-4.15.0-55/tools/hv/hv_set_ifconfig.sh:

Note it refers to CentOS path, i changed it to /etc/network/interfaces but still nothing

[code]
Same for below python script: it's meant for RHEL/CentOS (it works fine for these distros)

/usr/sbin/hv_set_ifconfig:

[code]

Installed integration servi

[2020-02-12 09:58] LiliDeng commented on #707
Refer here - https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1766857
Root cause: The binary files about hv-kvp are placed under /usr/sbin/, but the KVP_SCRIPTS_PATH is configured as /usr/libexec/hypervkvpd.
Workaround:
[code]

Could you please try this work around before https://github.com/LIS/LISAv2/blob/master/Testscripts/Windows/NET-IP-Injection.ps1#L207

[2020-02-12 10:10] dragan1979 commented on #707
That's it!!, it works, thanks.

[2020-02-12 10:10] #707 closed, assigned to LiliDeng

[2020-02-12 10:19] LiliDeng commented on #707
You are welcome, your kernel is kind of old, the newer one contains the fix.

[2020-02-14 17:34] #704 closed, assigned to LiliDeng

[2020-02-14 21:51] lizzha commented on #709
It's not used in UpdateTestSummaryForCase. In UpdateTestSummaryForCase, in see $TestData.testName, which is the test case data

[2020-02-15 18:47] juhlee-microsoft commented on #710
@LiliDeng  lspci, wget are utitliues in basic Linux, and I am surprise they are not available in the image. What image of distro/version do you see?
Aso missing kernel-devel-$(uname -r) in CentOS 7.6 is new. It was there before, that was the way we passed the RDMA tests many times. I believe this is happening recently and need to report to the Gallery image team.
Overall weird things happen in gal

[2020-02-16 10:48] santoshx commented on #711
I did this to avoid repeating same thing for each test. Please check individual commits for easy review.

[2020-02-16 12:04] santoshx commented on #711
May not be very useful after all, will keep it in private branch, will bring back depending on future need.

[2020-02-17 01:48] LiliDeng commented on #710
@juhlee-microsoft I am not sure if any packages are mandatory needed for endorsed images.

[2020-02-20 20:59] juhlee-microsoft commented on #696
This is assigned to you, @lubaihua33

[2020-03-03 11:06] LiliDeng commented on #719
Before fix, all performance case failed.

Test results -
PERF-DPDK-MULTICORE-PPS-DS15 failed for performance is not expected.
 PERF-DPDK-SINGLE-CORE-PPS-DS4 failed build dpdk failed since it failed to install kernel-azure-devel-4.12.14-8.22.1.x86_64
[code]
[code]

[2020-03-04 19:31] juhlee-microsoft opened #720 "missing python link failed to load ib device configuration in waagent"
Workaround is creating a symbolic link in /usr/bin

[2020-03-04 19:33] juhlee-microsoft opened #721 "Open MPI 4.0.3 created segment fault in SLES 15 SP1"
TBD for more contents

[2020-03-05 06:01] juhlee-microsoft commented on #723
@dcui I forgot to test in hyper-v. Have you tested in your Hyper-v?

@lixuemin2016 the exception here looks from different place. I will take a look.

[2020-03-05 06:06] dcui commented on #723
Yes, I tested the hibernation feature on my local Hyper-V hosts (2019, 2016, 2012 R2) and basically it worked fine with the issues we already knew about on Azure.

[2020-03-09 17:32] juhlee-microsoft commented on #723
I am working on this issue still. @lubaihua33 setup may have the different reason to fail the test. It did not get the IP address of new VM. I will find if they are related.

[2020-03-23 20:58] juhlee-microsoft commented on #721
HPC team confirmed this is not in the business priority.

[2020-03-23 20:58] #721 closed, assigned to juhlee-microsoft

[2020-03-23 20:59] juhlee-microsoft opened #729 "KDUMP-CRASH-AUTO-SIZE needs to improve the result part if aborted"

[2020-03-23 21:01] juhlee-microsoft opened #730 "https://mvapich.cse.ohio-state.edu/static/media/mvapich/README-OMB.txt"
OSU benchmark test case development. It is about MPI performance.

[2020-03-23 21:03] juhlee-microsoft opened #731 "New wala test case for ib0 device initialization"
This is for HB/HC and HBv2 VM sizes only, and verify the device with ibv_device or ibv_devinfo command.

[2020-03-23 21:08] juhlee-microsoft commented on #731
Internal discussion in progress

[2020-03-23 21:25] #720 closed, assigned to juhlee-microsoft

[2020-03-23 21:26] #311 closed, assigned to nobody

[2020-03-23 21:27] juhlee-microsoft commented on #124
No business priority

[2020-03-23 21:27] #124 closed, assigned to nobody

[2020-03-23 21:39] juhlee-microsoft commented on #226
Resolved in https://github.com/dbcli/mssql-cli/issues/252

[2020-03-23 21:39] #226 closed, assigned to nobody

[2020-03-24 20:36] juhlee-microsoft opened #732 "LINUX-TEST-PROJECT-TESTS test failed all but the master result shows 'passed'"
[LISAv2 Test Results Summary]
Test Run On           : 03/24/2020 19:08:57
ARM Image Under Test  : Canonical : UbuntuServer : 18.04-LTS : latest
Initial Kernel Version: 5.0.0-1032-azure
Final Kernel Version  : 5.0.0-1032-azure
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:0:58

   ID TestArea             TestCaseName

[2020-04-01 01:49] LiliDeng commented on #738
@juhlee-microsoft Found it during run ntttcp + custom LIS in manual pipeline.

[2020-04-14 21:48] juhlee-microsoft opened #749 "Add distro filter if supported or not and print out in the SR-IOV test log"
https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli

Test log does not tell why it failed clearly with RHEL 7.3

[2020-04-16 00:31] LiliDeng commented on #751
Yes, but dev doesn't have the ETA for fixing it in waagent.

[2020-04-16 21:56] juhlee-microsoft opened #754 "Clock Source and Clock Event test should be combined"
And determine the path based on distro or kernel version. they should be not co-exist

[2020-04-26 02:46] LiliDeng commented on #760
Test results -
[code]

[2020-04-27 12:45] yuxisun1217 commented on #763
Hi,

I don't have the permission of checking PR-Checker-LISAv2 result. Could anyone please help me to add the permission? Thanks!

[2020-04-27 13:10] LiliDeng commented on #763
@yuxisun1217
[code]

[2020-04-27 14:00] yuxisun1217 commented on #763
Oh thank you @LiliDeng ! I'll fix it soon.

[2020-04-28 12:28] lubaihua33 commented on #767
[code]

[2020-04-28 12:44] lubaihua33 commented on #767
[code]

[2020-04-28 12:45] lubaihua33 commented on #767
[code]

[2020-04-28 12:46] lubaihua33 commented on #767
[code]

[2020-04-28 17:30] juhlee-microsoft commented on #767
@lubaihua33 Your 4 result posts are hard to read and understand. Can you change the format for easy read?

[2020-04-29 01:59] LiliDeng commented on #763
@yuxisun1217  Could you please run some tests?

[2020-04-29 02:28] yuxisun1217 commented on #763
Hi @LiliDeng ,

Here are the test results in RHEL-7.9 and RHEL-8.2, and results are PASS:
https://github.com/yuxisun1217/temp/blob/master/LISAv2-Test-ZC35_RHEL7.log
https://github.com/yuxisun1217/temp/blob/master/LISAv2-Test-RD50_RHEL8.log

I'm also running test in Canonical:UbuntuServer:18.04-LTS:latest image now. Will update result later.

[2020-04-29 02:44] yuxisun1217 commented on #763
Hi @LiliDeng ,
The test in Canonical:UbuntuServer:18.04-LTS:latest was failed. But I'm not familiar with Ubuntu and not sure if these error logs are acceptable. Could you please help to check that? Thanks!
[code]

[2020-04-29 17:20] juhlee-microsoft commented on #763
@LiliDeng if you do not have any other questions, please merge this PR.

[2020-05-05 15:47] LiliDeng opened #773 "RHEL82 - KDUMP-CRASH-AUTO-SIZE not expected skipped"
Actually it supports crashkernel=auto, we use CONFIG_KEXEC_AUTO_RESERVE=y to do the judgement, but it is not that case on RHEL82.

[2020-05-05 15:48] LiliDeng opened #774 "RHEL 82 - LINUX-TEST-PROJECT-TESTS LINUX-KERNEL-SELFTESTS failed for space is not enough"
We use /root folder and it is full quickly, need switch to /mnt to do the testing.

/dev/mapper/rootvg-homelv   1014M 1014M  200K 100% /home

[2020-05-05 15:50] LiliDeng opened #775 "RHEL 82 - ETHTOOL-OFFLOADING-SETTING need stop firewalld service before starting iperf3"
Otherwise run iperf will hit iperf3: error - unable to connect to server: No route to host

[2020-05-06 17:21] juhlee-microsoft opened #780 "Need improvement of kdump test with NAS or SAN option (SR-IOV)"
The current kdump tests are with local disk. New change requires to access the network storage or NFS option from Linux GOS and run kdump operation. Especially this NAS ot NFS should be set up with SR-IOV.

[2020-05-07 07:32] yuxisun1217 opened #781 "Please consider to keep /var/log/messages in case log"
Hi there,

Can we consider to keep /var/log/messages in each case? Or at least in VERIFY-BOOT-ERROR-WARNINGS case? Sometimes we may want to search for some messages in /var/log/messages in history result. If we can keep this file somewhere in each run it will be much convenience.

Thanks!

[2020-05-07 15:00] LiliDeng opened #782 "Fix VSS-BACKUPRESTORE-MULTIFS-VHDX test case"

[2020-05-08 03:11] yuxisun1217 commented on #786
Because it's hard to hit all of these messages in one run, I test it by adding these messages in /var/log/messages manually and run VERIFY-BOOT-ERROR-WARNINGS.py manually.

Test log: https://github.com/yuxisun1217/temp/blob/master/Runtime.log

[2020-05-08 03:20] LiliDeng commented on #786
@yuxisun1217 Thanks, do you have any comments for what's the reason/root cause for the warning/failure.

[2020-05-08 07:21] yuxisun1217 commented on #786
Hi @LiliDeng ,

- **Failed determining last makecache time.**
I think it because there's no enabled repo in my VM:
[code]

- **Warning: There might not be enough space to save a vmcore**
I think it because my OS disk size is small(10G)
[code]

- **NetworkManager[2930]: [1588694906.4903] dns-sd-resolved[dee3d138813c2cd9]: send-updates failed to update systemd-resolved: GDBus.Error:org.freedesktop.r

[2020-05-09 02:34] yuxisun1217 commented on #786
Hi @LiliDeng ,
I removed the "dns-sd-resolved[dee3d138813c2cd9]: send-updates failed to update systemd-resolved: GDBus.Error:org.freedesktop.resolve1.NoSuchLink: Link 2 not known" from ignorable message. Now only two new messages left:
[code]

[2020-05-09 04:38] LiliDeng commented on #786
@yuxisun1217 Thanks, merged.

[2020-05-09 04:50] LiliDeng commented on #781
@yuxisun1217
Well, it depends on how valuable this file. I suggest only add it into VERIFY-BOOT-ERROR-WARNINGS based on below points. Let know any thoughts.
- Different distro has the different file name for global system message, we store the dmesg before and after testing, but probably it will be cut based on the ring buffer setting.
- We also need consider the size of this file.
- When test fai

[2020-05-09 07:07] yuxisun1217 commented on #781
Hi @LiliDeng ,
Agree. I think it's OK to add it into VERIFY-BOOT-ERROR-WARNINGS. I checked the /var/log/messages file in a new created VM and it was 96K which is about 3 times as big as dmesg. Maybe it's too big to collect it in every case.
Thanks!

[2020-05-09 07:12] yuxisun1217 commented on #781
Hi @LiliDeng ,
But I didn't see any way to collect extra files in one case. Is there any way to do that? Thanks!

[2020-05-09 08:34] LiliDeng commented on #781
@yuxisun1217 How about logmsg?

[2020-05-09 08:51] yuxisun1217 commented on #781
@LiliDeng Do you mean write /var/log/messages into VERIFY-BOOT-ERROR-WARNINGS_summary.log, after the VERIFY-BOOT-ERROR-WARNINGS.py outputs? I think it's a little messy...But if there's no better resolution it might be a choice.
Thanks!

[2020-05-09 09:09] yuxisun1217 commented on #781
@LiliDeng Oops sorry I think I misunderstood...It seems that just copy /var/log/messages into home path and rename as ${hostname}-messages.txt is ok. I'll have a try and open a PR later.

[2020-05-11 07:44] LiliDeng commented on #793
Regression Test -
[code]

[2020-05-11 09:12] yuxisun1217 commented on #781
Close this issue since PR has been merged.

[2020-05-11 09:12] #781 closed, assigned to nobody

[2020-05-12 01:09] LiliDeng commented on #794
We'd better run regression testing against your changes.

[2020-05-12 01:14] juhlee-microsoft commented on #794
I will put this in low priority now. I am running many branch works.

[2020-05-12 16:26] juhlee-microsoft commented on #794
RHEL 7.7 also passed with this fix.

[RedHat RHEL 7.7 latest] [LISAv2 Test Results Summary]
[RedHat RHEL 7.7 latest] Test Run On           : 05/12/2020 06:04:26
[RedHat RHEL 7.7 latest] ARM Image Under Test  : RedHat : RHEL : 7.7 : latest
[RedHat RHEL 7.7 latest] Test Priority         : 0,1,2,3
[RedHat RHEL 7.7 latest] Initial Kernel Version: 3.10.0-1062.9.1.el7.x86_64
[RedHat RHEL 7.7 latest] Fin

[2020-05-13 21:47] juhlee-microsoft commented on #800
Will squash those commits in the merge time.

[2020-05-14 06:01] johnsongeorge-w commented on #800
Left some comments, please check @juhlee-microsoft

[2020-05-15 05:45] juhlee-microsoft opened #809 "2 custom kernel build module integration"
Merge to one module, Need to adjust function arguments

[2020-05-17 08:36] LiliDeng opened #811 "Ubuntu 20.04 - platform.dist() is deprecated since Python 3.5 and removed in Python 3.8"
Affected distro - ubuntu 20.04 (use python 3.8)
Affected case - WALA-VERIFY-VERBOSE-ENABLED-LOGS
Use distro.linux_distribution(full_distribution_name=False) instead

[2020-05-21 04:27] juhlee-microsoft opened #819 "GPU test cases update"
Follow up with Azure document, https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup?source=docs

[2020-05-21 04:27] juhlee-microsoft commented on #730
PR #816

[2020-05-21 05:45] abhimarathe commented on #807
`[LISAv2 Test Results Summary]
Test Run On           : 05/21/2020 00:52:22
ARM Image Under Test  : Canonical : UbuntuServer : 18.04-LTS : latest
Initial Kernel Version: 5.3.0-1020-azure
Final Kernel Version  : 5.7.0-rc6-next-20200519
Total Test Cases      : 1 (1 Passed, 0 Failed, 0 Aborted, 0 Skipped)
Total Time (dd:hh:mm) : 0:1:17

   ID TestArea             TestCaseName

[2020-05-22 03:30] yuxisun1217 opened #821 "LSVMBUS.sh doesn't fit for all VM families"
Hi,
The logic in LSVMBUS.sh is something like:
scsi_count == VCPU/4 if VCPU <= 64 else 64
But this logic is sometimes not correct in some specific VM series, such as:
In Lv2, the scsi_count == VCPU if <=64.
In M128m, the VCPU is 128 and the expected scsi_count is 64, but actually it is 32.
I didn't verify it in more VM sizes. But I think we need to make it clear and correct the steps of this case

[2020-05-25 13:11] LiliDeng opened #824 "TIME-CLOCKSOURCE update"
Our current design is based on
cat /sys/devices/system/clocksource/clocksource0/available_clocksource
hyperv_clocksource_tsc_page acpi_pm

But I saw below ones during testing, after unbind. it will switch to hyperv_clocksource not acpi_pm
/sys/devices/system/clocksource/clocksource0/available_clocksource
hyperv_clocksource_tsc_page hyperv_clocksource acpi_pm

[2020-05-25 23:31] juhlee-microsoft commented on #825
SLES 12 SP5 + MVAPICH and SLES 15 SP1 + Intel MPI

[2020-05-26 04:05] LiliDeng commented on #825
SLES 15 SP1 + INFINIBAND-INTEL-MPI-2VM
[code]

[2020-05-26 08:31] yuxisun1217 opened #826 "[URGENT] Can we make "Clear-AzContext" as optional?"
Hi there,
Can we make the "Clear-AzContext" as optional in RunTestCleanup() which was added in (#813)? We don't have a Service Principal and can only use MFA to login, so that we need to keep the context to run our automation. This change blocks our test...
Thank you so much!

[2020-05-26 12:26] LiliDeng commented on #826
@yuxisun1217 Sure, let me double check, if you can't use service principal, probably we can do clear if there is an azcontext there. Thanks for your feedback.

[2020-05-26 12:35] LiliDeng commented on #826
@yuxisun1217  I don't think it is a block for you since its error action is SilentlyContinue, what is your failure, does it say this command not exist? then you need upgrade the az module.

Clear-AzContext -Force -ErrorAction SilentlyContinue | Out-NULL

[2020-05-26 13:43] yuxisun1217 commented on #826
Hi @LiliDeng ,
It's not a command failure. Because we can only use MFA to login, we need to first login manually then keep the context there to run all the automation in this slave. So we cannot clear context after a test because we cannot login again.
Thanks!

[2020-05-27 05:35] LiliDeng commented on #826
@harz566 Can we do some adjustment when there use service principal then do clean az context?

[2020-05-27 08:26] harz566 commented on #826
Hi @yuxisun1217,  I'm looking into the issue that you reported. please help me understand your practices to run LISAv2, are you directly configure 'XML\GlobalConfigurations.xml' to run LISAv2, and never using this parameter '-XMLSecretFile' (nor service principal), right?

[2020-05-27 08:57] yuxisun1217 commented on #826
Hi @harz566 ,
I use -XMLSecretFile parameter. But I don't use LISAv2 to login. I run Connect-AzAccount and use MFA method to login manually only once before all the test, and then keep it login all the time to run my tests.

[2020-05-27 09:08] harz566 commented on #826
@yuxisun1217  So, from your XMLSecretFile, you leave a 'SubscriptionServicePrincipalKey' which is NullOrEmpty value there in your xml, right?

[2020-05-27 09:18] yuxisun1217 commented on #826
@harz566 Yes. Actually I have no such item in my secret file.
[code]

[2020-05-27 13:39] LiliDeng commented on #825
@juhlee-microsoft  SLES12 SP5 also abort in master branch, so I can't provide results for SLES12 SP5, I will file a bug for it.

[2020-05-27 18:55] harz566 commented on #826
Hi @yuxisun1217,  you are unblocked, please check the latest code from master. @LiliDeng fyi.

[2020-05-28 16:52] #826 closed, assigned to nobody

[2020-05-29 13:44] yuxisun1217 commented on #821
Close it since the fix has been merged.

[2020-05-29 13:44] #821 closed, assigned to nobody

[2020-05-29 14:39] LiliDeng commented on #773
I'd like to figure out what happen in RHEL8.2, then no need this config CONFIG_KEXEC_AUTO_RESERVE setting.

[2020-05-29 17:47] #811 closed, assigned to nobody

[2020-06-02 10:34] yuxisun1217 opened #840 "Kernel version check needed for Power-hibernate case"
Hi there,
The hibernation patch was added since kernel-4.18.0-202.el8. Shell we add a kernel version check in the shell script? How do we deal with such case before? Thanks!

[2020-06-03 10:13] yuxisun1217 opened #842 "Need update: Power-hibernate for RHEL-8"
Currently some commands in SetupHbKernel.sh doesn't work in RHEL-8. I'm working on adding commands for RHEL-8.

[2020-06-04 19:17] juhlee-microsoft opened #848 "Change LIS related tests"
curl -Ls -o /dev/null -w %{url_effective} http://aka.ms/lis

Use this command to pick up the latest LIS package in the test script

[2020-06-11 20:20] andyleejordan opened #859 "LogErr duplicates messages"
While `LogMsg` writes a message to stdout only once, there's a bug where `LogErr` accidentally writes it twice. It seems to happen because `LogErr` writes it to stdout [itself](https://github.com/LIS/LISAv2/blob/0408e03db0674119dfcf2c348f9e2566048f4e18/Testscripts/Linux/utils.sh#L185), and then calls [`UpdateSummary`](https://github.com/LIS/LISAv2/blob/0408e03db0674119dfcf2c348f9e2566048f4e18/Test

[2020-06-11 20:23] andyleejordan commented on #859
This appears to have been introduced in 6f690a00138d1269345434c74e3bf95bd8deb8e7.

[2020-06-11 20:27] andyleejordan commented on #859
@lizzha can we just remove the line in `UpdateSummary` which calls `LogMsg`? Hm...

@mbivolan said "UpdateSummary will also update the TestExecution log" so I think they added the call to `LogMsg` in order to call the code [here](https://github.com/LIS/LISAv2/blob/0408e03db0674119dfcf2c348f9e2566048f4e18/Testscripts/Linux/utils.sh#L179), which writes to the log, but the extra echo is also called.

[2020-06-17 08:12] yuxisun1217 commented on #842
Merged. Close it.

[2020-06-17 08:12] #842 closed, assigned to nobody

[2020-06-17 08:12] yuxisun1217 commented on #840
Merged. Close it.

[2020-06-17 08:12] #840 closed, assigned to nobody

[2020-06-17 08:16] yuxisun1217 opened #866 "RHEL-8.3/7.8 SRIOV-VerifyVF-Connection.sh timeout"
Hi there,

All the cases that run the SRIOV-VerifyVF-Connection.sh(and some SRIOV cases that with ssh command in shell script) has failed since Jun.17. I run this script manually and seems it hangs at ssh to dependency vm because it asks for password. Does anyone know about that? Thanks!
Failed cases: SRIOV-VERIFY-MAX-VF-CONNECTION-MAX-VCPU,SRIOV-VERIFY-MAX-VF-CONNECTION,SRIOV-VERIFY-SINGLE-VF-CON

[2020-06-17 08:48] LiliDeng commented on #866
@yuxisun1217 Let me have a try, not sure if it is related with https://github.com/LIS/LISAv2/pull/852, did you run testing successfully after this #852 ?

[2020-06-17 08:56] yuxisun1217 commented on #866
Hi @LiliDeng ,
Thanks! I'll check that. And seems I find the root cause: there are existing public keys in my VM's authorized_keys, and there's no '\n' after the end line. The new added public key is pasted in the same line after the existing public key line.

[2020-06-17 09:07] LiliDeng commented on #866
I see, I just run SRIOV-VERIFY-SINGLE-VF-CONNECTION against gallery image RedHat RHEL 7.8 latest, works well. Before it removed all files under /root/.ssh  https://github.com/LIS/LISAv2/pull/852/files#diff-8d78de391375a62481374cb1d15840a4L18, maybe need a fix there? And we should take care of different situations.

[2020-06-17 09:35] yuxisun1217 commented on #866
Ah thanks @LiliDeng !
I double checked my original authorized_keys file and found that there's no '\n' at the end line. That's why this issue happened. Maybe I should fix it from my side.
Thank you so much for helping debug this issue!

[2020-06-17 09:41] yuxisun1217 commented on #866
Hi @LiliDeng ,
Could it be acceptable if I add an empty line before writing publickey to authorized_keys in  Testscripts/Linux/enable_passwordless_root.sh? such as:
[code]

[2020-06-17 09:45] LiliDeng commented on #866
@yuxisun1217
sure if you think it can fix your issue, and create a PR, I can test ssh key authentication from my side.

[2020-06-18 03:07] #859 closed, assigned to andyleejordan

[2020-06-18 16:08] johnsongeorge-w commented on #848
This is already supported. **LatestLIS** is mapped to use the latest LIS and the above command is already used.

[2020-06-19 07:13] yuxisun1217 commented on #866
PR has been merged.

[2020-06-19 07:13] #866 closed, assigned to nobody

[2020-06-19 07:24] yuxisun1217 opened #871 "[ETHTOOL-GET-SET-LINK-KSETTING] Cannot change autoneg/duplex/speed on both HyperV and Azure"
Hi there,
There are some steps to change autoneg/duplex/speed in ETHTOOL-LINK-KSETTING.sh, but I tested in RHEL-8 on both HyperV and Azure, and all the outputs are:
[code]
I also tried it in ubuntu-18.04-lts and the result is the same.
Does anyone know that if it is as expected? Thanks!

[2020-06-25 05:32] juhlee-microsoft commented on #819
GRID driver is updated in #843

[2020-06-25 23:51] juhlee-microsoft commented on #824
I can not reproduce your question from a few times trials in Ubuntu 20.04 (5.4.0-1016-azure). Do you have specific distro or kernel information?

[2020-06-25 23:53] juhlee-microsoft commented on #848
I verified and closed it.

[2020-06-25 23:53] #848 closed, assigned to nobody

[2020-07-07 03:15] yuxisun1217 opened #890 "[ERROR] Requested VM size: Standard_xxx is not yet registered to monitor. Usage simulation skipped."
Hi there,

I've met this problem these 2 days. When I specify "-OverrideVMSize xxx" it fails and aborts the test. I'm not 100% sure but it looks like relates to the #876 . It blocks all my nightly composes test now. Could anyone please help to have a look? Thank you so much!

[code]

My command(example):
.\Run-LisaV2.ps1 -ParametersFile .\TestParameters-rhel-8.xml -XMLSecretFile .\secret.xml -Test

[2020-07-07 05:39] LiliDeng commented on #890
hi @yuxisun1217 confirmed this issue bring in by #876 , @harz566 is looking into this.

[2020-07-07 06:11] yuxisun1217 commented on #890
Thank you so much @LiliDeng @harz566 !

[2020-07-07 07:27] harz566 commented on #890
@yuxisun1217 This issue has been fixed by PR: https://github.com/LIS/LISAv2/pull/891, it has been merged, please let me know if you still got blocked.     Sorry for inconvenience!  Have a nice day~!

[2020-07-07 07:28] #890 closed, assigned to harz566

[2020-07-07 08:00] yuxisun1217 commented on #890
Thank you so much for your quick fix!! @harz566

[2020-07-13 21:25] juhlee-microsoft commented on #834
@LiliDeng Are you still working on this PR?

[2020-07-15 03:02] harz566 commented on #834
@LiliDeng   Hello, please kindly note, LISA has been refactored in its xml definition.  Generally,  if you have `<AdditionalHWConfig>` defined, you need to replace `<AdditionalHWConfig>`  with `<SetupConfig>`, otherwise, you need create a new XML Tag `<SetupConfig>`,  and move any of these xml Tags (`<SetupType>, <OverrideVMSize>, <ARMImageName>, <TestLocation>, <Networking>, <DiskType>, <ImageTyp

[2020-07-23 18:37] juhlee-microsoft commented on #834
@LiliDeng Is PR open in more than 1 month? are you still working on it?

[2020-07-24 00:40] LiliDeng commented on #834
Work on today.

[2020-07-25 18:34] harz566 opened #934 "Tool 'route' need to be checked in function GetPlatform() of utils.sh and logic of ETHTOOL-GET-SET-GRO-LRO should be improved"
ETHTOOL-GET-SET-GRO-LRO     =>

Test case updated by rhel, when testing with 'Azure' platform,  because 'route' command missing, so GetPlatform() will detect incorrectly to 'HyperV' , in that case, All test case with test distros without route command installed with FAIL,  but when HOST OS has prepared and have the latest Mellanox driver installed, so the test case ETHTOOL-GET-SET-GRO-LRO will PAS

[2020-07-29 20:04] johnsongeorge-w opened #938 "Test summary file is missing in the test results"
LISAv2 framework executes the Linux shell script and log from the script is collected in ${TestName}_summary.log
Snippet from ```RunTestScript```
``` Run-LinuxCmd -Command "bash ${Script} > ${TestName}_summary.log 2>&1"```

But this log file is not collected during ```Collect-TestLogs```

Add support for collecting ${TestName}_summary.log when Linux shell script is executed by LISAv2 framework.

[2020-07-30 09:40] LiliDeng commented on #938
during update it, we need also update the test cases which use its own ps1 test scripts.

[2020-07-30 13:35] yuxisun1217 opened #939 "[QUESTION]How can I get sbinfo?"
Hi there,

My last LISAv2 job was failed because of missing Tools/sbinfo. Could anyone please kindly show me the link of downloading this tool? I googled it for a while but cannot find it.
Thank you so much!

[code]

[2020-07-30 18:30] johnsongeorge-w commented on #938
Not mandatory. Log filename is provided by PS1 script and it can be different. In such cases, PS1 should copy it back.
As a next step, we should provide a common wrapper for PS1 to invoke the Linux test script rather directly invoking it & PS1 needs to just pass the name of the test script. This will be handled later.

[2020-07-31 00:55] LiliDeng commented on #939
@juhlee-microsoft @harz566 should we share this tool? if no, we should update the code not throw exception when some tools not exist?

[2020-07-31 03:35] yuxisun1217 commented on #939
Thanks @LiliDeng ! I temporarily workaround it by touch a fake sbinfo file. It doesn't block my CI now.
But is it possible to doc it somewhere about where to get those tools?

[2020-07-31 19:33] juhlee-microsoft commented on #939
@prash2611 confirmed this tool is in public. https://packages.microsoft.com/repos/azurecore/pool/main/a/azure-security/ and recommends to use 2.12.0.

[2020-07-31 19:33] #939 closed, assigned to nobody

[2020-08-03 07:19] yuxisun1217 commented on #939
Hi @juhlee-microsoft ,
Thank you for sharing! But is there any chance I can get the package for RHEL? Or the source code I can compile it in RHEL? Thanks again!

[2020-08-04 21:23] juhlee-microsoft opened #949 "sbinfo binary tool can be extracted from microsoft distro package."
TVM test can extract the sbinfo tool from packages.microsoft.com

[2020-08-05 21:47] juhlee-microsoft commented on #949
Please check it out, @prash2611

[2020-08-05 23:06] johnsongeorge-w commented on #938
@harz566 Can you please close this issue #933

[2020-08-05 23:35] harz566 commented on #938
This issue has been fixed in this PR https://github.com/LIS/LISAv2/pull/933

[2020-08-05 23:35] #938 closed, assigned to nobody

[2020-08-08 15:59] #782 closed, assigned to LiliDeng

[2020-08-10 15:06] LiliDeng commented on #934
This case is re-designed by #960

[2020-08-17 14:45] #934 closed, assigned to LiliDeng

[2020-08-17 15:01] LiliDeng commented on #773
![image](https://user-images.githubusercontent.com/10083705/90410932-962ac100-e0dd-11ea-8a99-a8d4afb81c00.png)

[2020-08-17 15:01] #773 closed, assigned to LiliDeng

[2020-08-26 05:53] juhlee-microsoft opened #992 "Are SR-IOV tests real?"
See those NICs are not AN enabled.

[2020-09-11 07:13] yuxisun1217 opened #1014 "VERIFY-XDP-MULTIPLE-NICS keeps retrying if Linux command is failed"
Hi there,

The "ethtool -K eth2 lro off && cd /root/bpf-samples/xdpdump && timeout 10 ./xdpdump -i eth2 > ~/xdpdumpout_eth2.txt 2>&1" command failed and keep retrying for several hours. Seems it should be stopped in 5 minutes.

[code]

[2020-09-11 07:15] yuxisun1217 opened #1015 "VERIFY-XDP-MULTIPLE-NICS hangs for several hours"
Hi there,

The "ethtool -K eth2 lro off && cd /root/bpf-samples/xdpdump && timeout 10 ./xdpdump -i eth2 > ~/xdpdumpout_eth2.txt 2>&1" command failed and keep retrying for several hours. Seems it should be stopped in 5 minutes.

[code]

[2020-09-11 07:15] yuxisun1217 commented on #1015
Duplicated.

[2020-09-11 07:15] #1015 closed, assigned to nobody

[2020-09-11 07:48] LiliDeng commented on #1014
@yuxisun1217 which file which line? and is it caused by ethtool -K eth2 lro off?  Thanks.

[2020-09-11 08:08] yuxisun1217 commented on #1014
Hi @LiliDeng ,

I think it's caused by xdpdump. I run it manually:
[code]
I'll double check why it failed here. But I don't know why it keeps retrying but not stop and mark the case as FAIL.
I think it's in the Testscripts/Windows/VERIFY-XDP-MULTIPLE-NICS.ps1 line#31

Thanks!

[2020-09-11 08:42] LiliDeng commented on #1014
please double check if you have latest code sync @yuxisun1217

[2020-09-11 09:18] yuxisun1217 commented on #1014
Hi @LiliDeng ,

The code was checkout yesterday. But I rerun this case and it's PASS this time. So I'd like to close this issue and reopen it if I hit it the next time.
Thank you so much for your help!

[2020-09-11 09:18] #1014 closed, assigned to nobody

[2020-09-11 09:19] LiliDeng commented on #1014
@yuxisun1217 YW!

[2020-10-01 18:24] juhlee-microsoft commented on #949
#1012

[2020-10-01 18:24] #949 closed, assigned to prash2611

[2020-10-01 18:25] juhlee-microsoft commented on #824
#1032 #1035

[2020-10-01 18:25] #824 closed, assigned to juhlee-microsoft, johnsongeorge-w

[2020-10-01 18:32] juhlee-microsoft opened #1036 "Redhat repo does not have stress-ng package"
https://snapcraft.io/install/stress-ng/rhel This page does not work in Azure because of below broken step

This impact many test cases failure.

/# sudo yum install snapd
Updating Subscription Management repositories.
Unable to read consumer identity
This system is not registered to Red Hat Subscription Management. You can use subscription-manager to register.
Extra Packages for Enterprise Linux M

[2020-10-08 00:04] juhlee-microsoft opened #1041 "pkey fine verification"
PKEY will always be at index 0.

Please add a comment as to what the expected PKEYs are and verify the second PKEY is 0x7fff (this applies to CX3-Pro. Don't recall if it's the same case in CX-5 and newer)
$pkeys = executeRemoteCommand $ipaddress "cat /sys/class/infiniband/mlx4_0/ports/1/pkeys/*"
if (!($pkeys[0] -match "0x8[0-9a-fA-F][0-9a-fA-F][0-9a-fA-F]" -and $pkeys[1] -eq "0x7fff"))
{
Write-Log

[2020-10-23 10:02] lubaihua33 opened #1067 "It cost one minute before returning when the gallery parameter has wrong format"
Here is log:
[code]

[2020-10-23 10:10] squirrelsc commented on #1067
@lubaihua33 can you include debug level logs also?

[2020-10-27 03:24] LiliDeng opened #1073 "Document a full example for runbook"

[2020-10-27 04:21] lubaihua33 commented on #1067
@squirrelsc I could not repro this issue in my local environment. I guess this may have a relationship with updated some python packages. Now It cost 10 seconds to return in my local environment. I think it's great.

[2020-10-27 05:43] squirrelsc commented on #1067
I see, it may related to download cache for location capabilities. I will close this as not repro. Baihua, thank you for confirming.

[2020-10-27 05:43] #1067 closed, assigned to squirrelsc

[2020-10-27 08:06] lubaihua33 opened #1075 "All the locations' data cache are downloaded though we just test in one location"
All the locations' data cache are downloaded though we just test in one location.
Here is the log:
[code]

[2020-11-20 00:00] andyleejordan opened #1105 "ANNOUNCEMENT: LIS/LISAv2 moving to Microsoft/LISA"
Just wanted to give everyone a heads up that on Monday, 11/23 I'll be transferring the LIS/LISAv2 GitHub repository to Microsoft/LISA. This should have no impact as GitHub transparently maps all references from the previous URL to the new URL indefinitely, and the result will just appear as a rename.

[2020-11-24 04:49] andyleejordan commented on #1105
The repo is transferred, however, it's not been renamed (because that's apparently an extra step) and I'm confirming that doing so will not break the automatic redirections.

[2020-11-24 18:28] andyleejordan commented on #1105
Technically it's `microsoft/lisa` because the org already used lower-case letters, so we mirrored it. All done!

[2020-11-24 18:28] #1105 closed, assigned to nobody

[2020-12-22 03:58] LiliDeng opened #1136 "Check output of failsafe"
@abhimarathe  use this issue to track comments in #1114

[2020-12-22 04:00] LiliDeng opened #1137 "Check meson version before build dpdk."
@abhimarathe use this issue to address comment in #1134

[2021-03-28 23:34] squirrelsc commented on #1075
fixed, download cache as needed.

[2021-03-28 23:34] #1075 closed, assigned to squirrelsc

[2021-04-05 23:29] squirrelsc opened #1265 "document: Add Understand LISA in README"
this info should be present in Readme. it would have been easier to go through other docs like Run Tests, Microsoft Tests if want to know about LISA architecture. For example, when hitting errors while going through Run Tests and started looking into the code.

We can add some simple explanation about LISA's concepts.

[2021-04-09 19:07] mcgov opened #1271 "dependencies are incorrect for ubuntu 18.04"
Documentation steps to set up an ubuntu VM aren't valid (anymore? I think they worked as recently as last week).
[code]

[2021-04-09 20:45] mcgov commented on #1271
`sudo apt install virtualenv` installs a version which is too old.
`sudo apt install python3-pip && pip3 install virtualenv` installs a version >20, which will satisfy the requirement for a compatible version.

[2021-04-15 17:34] #1271 closed, assigned to nobody

[2021-04-19 19:00] glima opened #1284 "Marketplace image, for Azure runs on LISAv3, do not seem to be default to any given image"
And we have to provide one from the cmd line. Apparently there should be a default (we'd better log about that choice too).

[2021-04-22 06:27] squirrelsc opened #1287 "Improve document to unify lisa command"
We want windows/linux users use the same command to start `lisa`. It helps to simplify the document and experience. The arguments are easy to adopt, but the start command is a little challenge. The Windows command is `lisa.cmd`, which can be used like `lisa`. The Linux command is `lisa.sh` cannot be started by `lisa`. Because our code folder called `lisa`, it's conflict. Current solution is to ask

[2021-04-22 15:56] #1284 closed, assigned to LiliDeng

[2021-05-07 16:59] praveen-pk opened #1308 "Installation instructions should be updated"
While following the instructions to install lisa, I ran into the following error:

[code]

poetry has a dependency on virtualenv which is not captured in the documentation.

[2021-05-07 17:07] praveen-pk opened #1309 "poetry install fails while following the docs"
While following the instructions to install lisa, I ran into the following error:

[code]

[2021-05-07 17:08] squirrelsc commented on #1308
@praveen-pk Can you share what distro are you using?

[2021-05-07 17:11] glima commented on #1308
Our notes on that seem a little bit dated, since only the curl call does all you need these days, apparently. Also, very dangerous to trust those curl calls on a non-priviledged shell, why are you doing things as root here?

[2021-05-07 17:13] glima commented on #1309
Yeah, those instructions are wrong. Just follow https://python-poetry.org/docs/#osx-linux-bashonwindows-install-instructions, please. We'll update the doc.

[2021-05-07 17:16] squirrelsc commented on #1309
@praveen-pk Please run poetry install under the code folder.
Refer to FAQ:
https://github.com/microsoft/lisa/blob/main/docs/troubleshooting.md#error-poetry-could-not-find-a-pyprojecttoml-file

[2021-05-07 17:16] #1309 closed, assigned to nobody

[2021-05-07 17:21] praveen-pk commented on #1308
[code]

I am running the instructions on a container for sanity check. I will setup my env as a non-root user once I figure out working instructions.

[2021-05-09 05:38] squirrelsc commented on #1308
Thank you point out it. Will fix the installation scripts.

[2021-05-11 03:05] #1308 closed, assigned to nobody

[2021-05-17 07:28] atinmu opened #1319 "Help (man) page for Lisa"
Current mode of LIsa installation is compile based and lisa runs as a program. If one has to know what all parameters are to be passed to a specific test, the documentation has to be referred. If we can come up with a help page that'd ease out the initial challenge. Of course using Lisa as an RPM would require effort of packaging and with that a man page can also be a possibility.

[2021-05-17 07:33] atinmu opened #1320 "Maintain one master branch"
Now that LisaV3 is almost ready to rock, can we not merge both v2 (master) and v3 (main) branches into one master branch to avoid any confusion. I understand that some of the tests/infra from v2 are to be still used as there's no benefit of porting them into v3, but to avoid developers getting confused with managing multiple branches, we can just simply maintain the code (with separate folders as

[2021-05-17 07:33] mfrw opened #1321 "Add a config switch to ship user-specified files/directories e.g `/var/log`"
In order to aid debugging a breaking-test case and understand what exactly happened while the run of a test, it would be helpful if  we could zip the contents of:  `/var/log`, for example, and ship them as well.

[2021-05-17 08:43] SRIKKANTH commented on #1321
It can be handled within testcase  doesn't have to be a feature in the framework.

[2021-05-17 09:52] atinmu commented on #1319
I do see that lisa (./lisa.sh) has a very minimalistic command line help but when it comes to detailing the variables we could perhaps expand it a bit

atmukher@atin-ubuntu-vm:~/codebase/lisa$ lisa -h
2021-05-17 09:50:35.006 INFO LISA.stdout usage: lisa [-h] [--debug] [--runbook RUNBOOK] [--variable VARIABLES] {run,list,check} ...
2021-05-17 09:50:35.006 INFO LISA.stdout positional arguments:
2021

[2021-05-17 18:03] glima commented on #1320
I never liked the fact that they live in the same repo. The same folder will be even more mind-blowing, I'd vote no. Why not migrate to a new repo?

[2021-05-17 18:05] glima commented on #1319
Yeah, it has already been asked from somewhere else. We could also get rid of that specific logging format for the help context, it's too distracting.

[2021-05-17 19:31] squirrelsc commented on #1319
Thank you, Atin and Gustavo. It's very valuable feedbacks. There are something planed. Let me bullet points all I learned, and let me know, if anything missing.
1. Package LISA, it can be RPM package and docker image. Tasks are created.
2. Introduction on variables. The variables are provided by runbook, not LISA itself. There is a task to parse what variables in runbooks, and show them in the hel

[2021-05-17 22:07] squirrelsc commented on #1320
The v2 is still playing an important role in validation, and it will be retired step by step. Because we want to leverage the same name and branding of LISA, so they are in the same repo. Yes, it's confusing to host two different codebase in same repo, but it's also confusing that if we bring two codebase into the same repo. Hope we can migrate to v3 sooner, to mitigate it.
I will close this issue

[2021-05-17 22:07] #1320 closed, assigned to nobody

[2021-05-17 22:53] squirrelsc commented on #1321
Thank you for the feedback. There is a task to create system snapshot when a test case failed, and it can be called on anytime in a test case.

[2021-05-18 03:12] atinmu commented on #1320
Since you folks understand the code structure of both the versions better than me, certainly you would be able to evaluate this better however as a developer if one has to touch upon multiple versions of a functionality to introduce/enhance a feature (for eg - a feature which brings in a change in framework (in v3) and respective changes in some tests (in v2)) PRs need to be raised in multiple bra

[2021-05-18 05:19] squirrelsc commented on #1320
Thank you for raising points. Yes, we need to manage dependencies, if this case happens. As current observation, it happens seldom. Its cost is much lower than merging them and fix all pipelines.

[2021-05-18 22:56] #1319 closed, assigned to squirrelsc

[2021-05-24 01:23] squirrelsc opened #1326 "define the order of method/variable in development document"
It needs guidance on how to order methods, and variables in classes and modules. There is no full instruction officially, we can define one and document it.

[2021-05-25 03:07] #696 closed, assigned to lubaihua33

[2021-06-23 21:28] mcgov opened #1375 "dependencies should just have a setup script"
This is a pet peeve, we should know the dependencies for an OS platform and version, so why don't we just give the user a setup script to install any package manager dependencies? Rather than saying 'here are the dependencies for ubuntu 20.04, copy and paste this from the docs, also if you're on another system have fun ✌️'

[2021-06-24 01:18] squirrelsc commented on #1375
That's doable, but the cost is higher. We may do it later. The document asks people to read and understand, the script must work as expected. People has different expectations on them.

[2021-06-30 22:13] dsrivastavv opened #1388 "Lisa azure platform fails if lisa_shared_resource doesn't exist"
Running LisaV3 using azure platforms fails if `lisa_shared_resource ` doesn't exist. We should either explicitly state this dependency in docs or handle creation of this resource group programmatically.

[2021-06-30 22:14] dsrivastavv commented on #1388
@squirrelsc Thoughts?

[2021-07-07 17:38] #1388 closed, assigned to nobody

[2021-07-07 17:38] dsrivastavv commented on #1388
Fixed in #1392

[2021-07-09 17:40] hpourreza opened #1401 "Many missing packages"
I followed https://github.com/microsoft/lisa/blob/main/docs/installation_windows.md to install LISA on Windows but when I tried .\lisa I ended up having many missing packages. First I had to switch to the virtualenv created by lisa and then I had to install them one by one. Am I missing something? I thought these dependencies should be handled by the main installation process. I also had to update

[2021-07-09 17:43] glima commented on #1401
Hi Hossein. It seems indeed we're missing mentions to poetry update calls
in there. People in charge of that part should chime in soon.

On Fri, Jul 9, 2021 at 10:40 AM Hossein Pourreza ***@***.***>
wrote:

--
Gustavo Lima Chaves

[2021-07-09 17:52] squirrelsc commented on #1401
@hpourreza Would you share the exact repro steps? Or what commands did you try?
Once you installed the poetry, all poetry command and `.\lisa` should be run in the root path of lisa. And if you want to start the LISA yourself, the python commands should start with `poetry run python ...`. The virtual path is effective, only if you run with `poetry`.

BTW, what's Python path are you using? Can you

[2021-07-09 17:54] glima commented on #1401
Yeah, now I see poetry install is there. Maybe hpourreza missed it.

[2021-07-09 18:44] hpourreza commented on #1401
@squirrelsc Here is what I get after following the instructions to install poetry, etc.:
[code]

To be able to resolve this issue, I have to activate `lisa-73kzAeSc-py3.9` and then start installing the missing packages one by one

[2021-07-09 19:28] squirrelsc commented on #1401
@hpourreza please try below command in the code folder. It will install packages into the venv path. For all other commands, they should be run from this path. And notice the case of the path `D:\Azure\Repos\LISAv2`, make sure it's the same every time, because poetry paths are case sensitive. If it's not the same, run below command again.

`poetry install`

[2021-07-09 20:32] hpourreza commented on #1401
Many thanks @squirrelsc . It indeed resolved the issue. Sorry for the overlook. Is it possible to add something to the "Verify installation" section or FAQ that if you receive an error about missing a package while running `.\lisa`, make sure you have run `poetry install`?

[2021-07-09 20:37] squirrelsc commented on #1401
@hpourreza It's great to see the problem is solved. Thank you for the suggestion. I will leave this issue opened to track the doc change.
@WenyiQ Can you help on adding one more troubleshooting item like Hossein suggested?

[2021-07-12 01:43] WenyiQ commented on #1401
@hpourreza Glad you have it resolved. Thanks for your suggestion!
@squirrelsc Yes, I will do that.

[2021-07-14 08:06] WenyiQ commented on #1401
Updated in #1410

[2021-07-14 08:06] #1401 closed, assigned to WenyiQ

[2021-07-15 03:53] slowy07 opened #1417 "LGTM issue fixing"
hello, i wanna show issue lgtm on ```microsoft/lisa``` which have:
- problem issue: ```Module 'logging' is imported with both 'import' and 'import from'``` on ```platform_.py``` and ```lisa/util/shell.py```

code for reduce the issue:
- remove ```from logging import getLogger```
- change ```getLogger()``` to ```logging.getLogger()```

[2021-07-17 00:34] dsrivastavv opened #1423 "Reduce code complexity in flake file"
Reduce code complexity to improve code quality. It's currently set to 15 in flake8 config file.

[2021-07-17 00:35] dsrivastavv commented on #1423
If reduced to 10, the following errors need to be fixed :

[code]

[2021-07-25 04:58] slowy07 commented on #1417
closed, issue fixing!

[2021-07-25 04:58] #1417 closed, assigned to nobody

[2021-08-17 21:28] mcgov opened #1479 "Timeout is too short on WALA-VERIFY-HOSTNAME-CHANGE"
https://github.com/microsoft/lisa/blob/b2e814376e62b20f2bbb69078a3d27beacce9162/Testscripts/Linux/WALA-VERIFY-HOSTNAME-CHANGE.py#L69

Recent test failed because the operation took 50 milliseconds longer than the timeout, I'd like to increase this to 300 or poll a few times to give it a longer timeout without increasing the test duration.

[2021-08-17 21:31] mcgov commented on #1479
opened PR https://github.com/microsoft/lisa/pull/1480

[2021-08-20 16:47] mcgov commented on #1479
merged PR, closing issue

[2021-08-20 16:47] #1479 closed, assigned to nobody

[2021-08-20 18:47] mcgov opened #1484 "wait_delete doesn't work"
Repro:
Make a lisav3 job, set -v "wait_delete:True" on commandline.
Resource group is still deleted at the end.

[2021-08-20 19:06] mcgov opened #1485 "Method for signals other than SIGKILL"
Some programs like to be killed with SIGINT rather than SIGKILL, it would be nice to be able to send signals other than kill for some async programs.

[2021-08-20 19:11] squirrelsc commented on #1484
@mcgov  can you share the runbook you used (be carefully to remove the sensitive information)? Check if the "wait_delete" exists. In the default runbooks, this variable is used to specify if wait the resource group to be deleted or not. It doesn't prevent to delete. If you want to keep an environment after test is done, try "keep_environment:always" with default Azure runbook.

[2021-08-20 19:20] squirrelsc commented on #1485
@mcgov Thank you for suggestions. LISA use below logic to send kill signal. Can you explain more on the suggestions?

There are several things to be considered. The built-in signal constants depends installed Python package. So the signal.SIGTERM here, may be not what want to run remotely. For example, the local is Windows, the remote is Linux. We cannot send SIGTERM to remote. We have to send the

[2021-08-23 16:37] mcgov commented on #1485
The specific instance I ran into was a program where you want to kill it by sending INT instead of KILL. KILL just kills it, INT prints some nice statistics and then kills it. I don't think we need to necessarily use the python signal.<name> definition of the signal number, but having a table of signals for each OS that has different definitions doesn't seem too difficult to manage. My general ide

[2021-08-23 17:52] squirrelsc commented on #1485
The INT may not be handled correctly by the target process, so the kill may not be effective. The KILL makes sure the process is ended immediately. Another idea is to implement a tool call `kill`, it can specify which signal to send, and fit to more scenarios. For kill, a graceful way is to send INT firstly, if it's timeout in one or two seconds, then send KILL. Would you like to create the Kill t

[2021-08-23 18:27] mcgov commented on #1485
That's true, wrapping kill or killall in a tool would fit the use case

[2021-08-23 18:28] mcgov commented on #1485
I can create those :)

[2021-08-23 18:29] #1484 closed, assigned to nobody

[2021-08-27 17:26] mcgov opened #1505 "mount tool breaks when using hugetlbfs"
A weird issue.
[code]

The bottom two lines fail during node.shell.mkdir with a permissions error. The weird bit is that the top lines don't bother to make the directory first but still succeed.

[2021-08-27 17:27] squirrelsc commented on #1505
@LiliDeng can you have a look?

[2021-08-27 17:29] squirrelsc commented on #1505
The command should call `run` as much as possible, instead of `execute`. There are rich logic in `run` of tool, like cache results, auto sudo.

[2021-08-29 03:01] LiliDeng commented on #1505
I will take a look.

[2021-09-01 18:50] kamalca opened #1510 "Virtual Environment is Broken"
Following Lisa installation instructions on Ubuntu 18.04-LTS.
I keep getting an error `The virtual environment found in /usr seems to be broken.`

I am not sure what could be causing this error. `poetry install` inside of the lisa repo installs all of the packages but then continues to say the virtual environment is broken.

[2021-09-01 21:28] kamalca commented on #1510
Resolved by updating python3 to point to python3.8 instead of python3.6.

[2021-09-01 21:28] #1510 closed, assigned to nobody

[2021-09-01 21:58] kamalca opened #1511 "Command not found (PATH does not contain /usr/sbin)"
Getting errors when using LISAv3 to deploy and test CentOS 7_9 on Azure

`[ERROR] lisa.env[generated_0].node[0].cmd[7289] not found command: Command not found: modinfo. Check that modinfo is installed and on $PATH`

`[ERROR] lisa.env[generated_0].node[0].cmd[1038] not found command: Command not found: waagent. Check that waagent is installed and on $PATH`

`[ERROR] lisa.env[generated_0].node[0].cm

[2021-09-01 22:42] squirrelsc commented on #1511
@LiliDeng can you help on looking it?

[2021-09-02 00:08] LiliDeng commented on #1511
Ack

[2021-09-08 00:05] squirrelsc commented on #1511
@LiliDeng Those commands fallback to use sudo automatically. It needs to set no error level and info level log. If it's a tool, it should be handled at command detection phase, please check why it doesn't work.

[code]

[2021-09-08 18:20] kamalca commented on #1511
I do not understand why using sudo would be the solution here. waagent and modinfo should not require sudo and from the logs the fallback that works also doesn't use sudo
`cmd: ['/usr/sbin/waagent', '-version'], cwd: None, shell: False, sudo: False, posix: True, remote: True`
It simply uses the absolute path for the command since the PATH variable is not being properly set on CentOS.

[2021-09-08 18:48] squirrelsc commented on #1511
You are right, the sudo is not necessary in this case.

[2021-09-08 21:42] kamalca opened #1528 "Gpu : is_module_loaded always returns True"
Having a generator without an `any` or `all` modifier as done in gpy.py : L135 does not produce the desired behavior. In this case, the condition always returns False, meaning that the function will always return True.

My suggested edit:
[code]

Defaulting to False is good practice.

[2021-09-08 21:43] kamalca commented on #1528
@sharsonia I would appreciate your input

[2021-09-12 08:21] #1505 closed, assigned to LiliDeng

[2021-09-13 19:52] sharsonia commented on #1528
Let me fix this.

[2021-09-17 05:16] #1528 closed, assigned to nobody

[2021-09-28 20:54] kamalca opened #1553 "YAML parsing recursion"
Getting error: `Error in atexit._run_exitfuncs` while parsing the runbook.

This error is not consistent. Usually rerunning the exact same command succeeds on the second run. Does not happen very frequently.

Investigating the debug logs provides more detail:
`2021-09-28 18:44:42.104[22696][DEBUG] lisa.notifier[Console] received message [TestRun]: TestRunMessage(type='TestRun', elapsed=0.064260000

[2021-09-29 01:57] kamalca opened #1554 "(Suspected) Missing `apt update`"
Using `Posix.install_packages("dracut-core")` fails on Ubuntu 18.04. I believe this is because `apt update` needs to be run before trying to install.

Here is the error:
`2021-09-28 20:26:46.328[19280][INFO] lisa.RootRunner                      HvModule.initrd_modules_check: FAILED   failed. AssertionError: [Failed to install ['dracut-core'], please check the package name and repo are correct or n

[2021-09-29 01:59] kamalca commented on #1554
I see where `apt update` should be running. I confirmed `_initialize_package_installation` is called and runs `apt-get update`. So now I'm not sure what is causing the issue.

[2021-09-29 13:58] LiliDeng commented on #1554
@kamalca did you meet this 100%?

[2021-09-29 22:23] squirrelsc commented on #1554
Do you have log file? Check if there is any output form `apt-get update`.

[2021-09-29 22:27] squirrelsc commented on #1553
I met this problem on Windows 11. There is some error on logger itself. It says invalid handler, but no other information. I will try to mitigate it later.

[2021-09-29 22:35] kamalca commented on #1554
[lisa-20210929-021753-556.log](https://github.com/microsoft/lisa/files/7255391/lisa-20210929-021753-556.log)

It looks like everything is running properly, but the behavior is as if `apt-get update` was never run.

~I am getting this error every time~ *Turns out this error is not occurring consistently.*

[2021-09-30 09:56] LiliDeng commented on #1554
From the log, it said that 'dracut-core' doesn't exist...

[2021-10-11 01:01] kamalca commented on #1511
# Updated Discussion
The problem is that the library being used to send commands to the node, spur, does so by calling `exec` on the provided command name and arguments. In this case, the PATH variable is only set by `/etc/environment`. No bash environment is created so setup scripts such as `bashrc` or `bash_profile` are not run. On CentOS and RHEL, this means that `/usr/sbin` (and other command

[2021-10-11 05:10] #1511 closed, assigned to LiliDeng

[2021-11-04 20:56] mcgov opened #1613 "Yum error codes are incorrect, no indication of which package is missing in logs."
at lisa\operating_system.py:973

Code mentions that Yum return 1 on 'already installed' but this isn't true for all versions of yum.
post-dnf yum indicates that 1 is returned when an error occurred that was handled by dnf.

My testing indicates 1 is returned when a package is not available and when it is already installed yum is returning 0 for success.
The issue with long package lists is that if

[2021-11-04 23:26] squirrelsc commented on #1613
Good to know that, we can fix it later. You are welcome to fix it too. :)

[2021-11-15 23:39] #1613 closed, assigned to squirrelsc

[2021-11-16 21:55] mcgov commented on #1554
I think I'm hitting this too with dpdk-dev and dpdk from the package manager

[2021-11-16 23:29] squirrelsc commented on #1554
@mcgov can you share a full log?

[2021-11-16 23:31] mcgov commented on #1554
Yep will post, I'm seeing a couple of weird errors testing so trying to sort them out.

[2021-11-19 19:02] squirrelsc opened #1635 "Remove hardcode sleeps in dpdksuite.py"
There are three hardcode sleep 10 or 15 seconds. Please use a timout loop to detect the behavior. Not use the hard code big sleep number.

[2021-11-19 19:04] squirrelsc opened #1636 "Remove hardcode sleeps in kdumpcrash.py"
There is a sleep10 seconds in kdump test case. Replace it to a timeout loop and check some condition. We need to avoid sleep a big number.

[2021-11-30 09:03] LiliDeng opened #1641 "Add a boolean on install_packages called ignore_non_exists"
It makes the logic simpler, and easy to read.

[2021-12-02 10:01] LiliDeng opened #1643 "Add wait_tcp_port_ready into reboot.py"

[2021-12-02 10:02] LiliDeng commented on #775
fixed

[2021-12-02 10:02] #775 closed, assigned to nobody

[2021-12-09 03:44] dsrivastavv opened #1657 "Add virtualization detection using Azure API to Nested VM test cases"
Based on discussion in #1624

[2022-02-15 22:49] mcgov commented on #1635
I think we removed these, there's a rewritten timeout function that runs dpdk for 10 seconds, this is required since testpmd will just continue to run until you kill it with SIGINT. Can you check https://github.com/microsoft/lisa/blob/c36e493a9011db67ab8451e7e32f146ebfc28cef/microsoft/testsuites/dpdk/dpdktestpmd.py#L216 and take a look?

[2022-02-15 22:52] mcgov commented on #1635
There's another use of the function at https://github.com/microsoft/lisa/blob/c36e493a9011db67ab8451e7e32f146ebfc28cef/microsoft/testsuites/dpdk/dpdksuite.py#L788
in the wrapper we use to run testpmd concurrently on nodes.

[2022-02-15 22:55] squirrelsc commented on #1635
It's ok to have them in a command like "timeout 10; ...". But below pattern is not encouraged, which is easy to misuse.

https://github.com/microsoft/lisa/blob/c36e493a9011db67ab8451e7e32f146ebfc28cef/microsoft/testsuites/dpdk/dpdksuite.py#L799

[2022-02-15 22:58] mcgov opened #1750 "DpdkTestpmd doesn't handle Centos or Fedora correctly"
Going through the code I used RedHat in lots of spots where using Fedora instead would have provided better compatibility. Creating an issue to remind myself for later.

[2022-02-28 18:50] squirrelsc opened #1769 "Reduce log count"
Those line will create a lot of lines in log, but it's worth to capture the errors in Python patterns. So please update the logic, copy_back the files, and then check them. It will reduce log, and the downloaded files can be used for troubleshooting.

https://github.com/microsoft/lisa/blob/035f1af3832616ad80de64c52eb22752314e6ec9/microsoft/testsuites/core/azure_image_standard.py#L247

https://gith

[2022-03-14 17:34] squirrelsc commented on #819
LISAv3 uses Azure extension to install drivers now.

[2022-03-14 17:34] #819 closed, assigned to nobody

[2022-03-14 17:35] squirrelsc commented on #992
LISAv3 enables SRIOV in arm template, it should be ok now.

[2022-03-14 17:35] #992 closed, assigned to abhimarathe, juhlee-microsoft

[2022-03-14 17:37] squirrelsc commented on #1137
@LiliDeng  is this fixed in your PR?

[2022-03-14 17:39] squirrelsc commented on #1641
fixed

[2022-03-14 17:39] #1641 closed, assigned to LiliDeng

[2022-03-14 17:40] squirrelsc commented on #774
@LiliDeng  please check if V3 fixed it.

[2022-03-14 17:40] squirrelsc commented on #681
We don't enhance on V2.

[2022-03-14 17:40] #681 closed, assigned to nobody

[2022-03-15 01:10] dsrivastavv opened #1799 "Add username tag to resources deployed to Azure"
Modify ARM template to add username tag to deployed resource group

[2022-03-15 01:12] dsrivastavv opened #1800 "Merge partition information from Blkid and lsblk"
https://github.com/microsoft/lisa/blob/8fb99d06b1848f2aebb734743bdead7bbc7df7fc/lisa/tools/blkid.py#L13-L15
Also see if there is some overlapping information from the mount command, and if mount can also be merged with these tools

[2022-03-15 01:14] dsrivastavv opened #1801 "Reduce function complexity for _prepare_environment function"
https://github.com/microsoft/lisa/blob/a874b00e28a7f3935509dd94d440ad937fc84e75/lisa/sut_orchestrator/azure/platform_.py#L305-L311

[2022-03-15 21:28] dsrivastavv opened #1804 "Move exit code check to run function"
Earlier:
https://github.com/microsoft/lisa/blob/236211f7ff36af67ece2d3384b322593df64b64c/lisa/tools/lsmod.py#L38-L48

New format:
https://github.com/microsoft/lisa/blob/8229cc9b89954de6f5407e35a138681fd2ef0118/lisa/tools/modprobe.py#L53-L62

[2022-03-24 03:49] squirrelsc commented on #1799
implemented in #1825

[2022-03-24 03:49] #1799 closed, assigned to nobody

[2022-03-24 17:32] shruti25ratnam opened #1837 "Windows installation document needs an update"
Poetry installation URL is outdated. Add a troubleshooting instruction, for the situations where windows marketplace Python is installed. The Poetry script path might break in those situations.

Please assign this to me happy to contribute.

[2022-04-04 16:21] shruti25ratnam commented on #1837
Closing this as associated updates were checked in: https://github.com/microsoft/lisa/commit/1df6f5771d20f4a29cbf66d52b4bca7f4e70651d

[2022-04-04 16:21] #1837 closed, assigned to shruti25ratnam

[2022-04-04 16:29] shruti25ratnam opened #1855 "Add Azure Confidential Compute related benchmarks and test cases"
1. Figure out a good plan to safely add this without causing any overhead to the tool.
2. Add simple ACC tests as high priority and all the other tests as lower priority.
3. Run them along with other LISA benchmarks periodically.
4. Create a Dashboard to visualize these results.

Please assign this task to me and Jiazhong Chen. Always happy to contribute!

[2022-04-04 16:32] squirrelsc commented on #1855
What's Jiazhong's account of GitHub?

[2022-04-04 16:54] jiazhongchen commented on #1855
Hi, this is my personal github account. LISA is open source repo right?

[2022-04-04 17:00] squirrelsc commented on #1855
Yes, it's open source, public repo.

[2022-04-06 00:26] mcgov opened #1861 "SRIOV VF detection doesn't work on platforms that name the VF interface eth1"
This line is causing issues on CentOs 7.4 in testing. In azure images for this verison, the VF is bound to eth1 instead of enSP0d0a or whatever it's called on the other ones. The assumption in the test line is that the VF device in the failsafe setup will not be named eth1 or eth0, in these cases that's not correct.

https://github.com/microsoft/lisa/blob/5cc70800a2a89d24976f30ac118134569a806606/T

[2022-04-25 11:53] souradeep100 opened #1907 "lisa run getting exception in synthetic_add_max_nics_one_by_one_after_provision_validation test case"
While executing  getting following exception:

[code]

The details of the SKU :
, 'vm_size': 'Standard_DS2_v2', 'location': 'westus2',  'marketplace': {'publisher': 'Canonical', 'offer': 'UbuntuServer', 'sku': '18.04-LTS', 'version': '18.04.202204190'

This is happening because the test case is attaching nic irrespective of the maximum nic supported for the particular sku.
[code]

[2022-05-02 21:03] mcgov opened #1934 "DPDK tests will fail if VMSku only supports 1 AN enabled nic"
Currently there's an issue with tests where DPDK requires two NICs with AN enabled. When LISA deploys VMs for this test it will sometimes select a size which only supports a single AN-enabled NIC and fail.
It seems like these sizes should be excluded since they don't meet the criteria for the test, so I'm wondering if our metadata processing about these sizes needs tweaking. Usually the smallest s

[2022-05-10 18:57] mcgov opened #1962 "Blowfish is deprecated in latest cryptography release"
Linking issue from upstream to track, latest runs are throwing warnings that Blowfish used in paramiko is deprecated. This is causing noise in logs but is known and a fix is incoming.

https://github.com/paramiko/paramiko/issues/2038

[2022-05-10 19:59] squirrelsc commented on #1962
I saw there is a workaround, can you apply it in shell.py?

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #1982 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 00:04] #1982 closed, assigned to nobody

[2022-06-08 19:16] mcgov opened #2052 "node.os needs a method to check available package versions before install"
Currently we can install packages and check their version after installation. It would be better if there was a function exposing apt search and similar options to check the upstream version before installation.

options:
- change package_exists to return a VersionInfo instead of a bool, I'm not sure if this will break the current usage, maybe Union[VersionInfo|None] would work
- add a check_avail

[2022-06-08 20:34] squirrelsc commented on #2052
There is a method to check if a package available or not. Maybe we can return versions together.

[2022-06-11 13:00] snosratiershad commented on #1800
Hi @somil55, I'm going to work on this issue.

[2022-06-11 13:01] snosratiershad commented on #1804
@somil55, should this change applied wildly on everywhere we check exit codes?

[2022-06-11 14:15] snosratiershad commented on #1800
Where is the best location to merge `blkid.PartitionInfo`, `lsblk.PartitionInfo` and `mount.PartitionInfo` to?, for example in a single place like `lisa.schema`? or duplicated on each of this files?

[2022-06-13 20:34] dsrivastavv commented on #1804
@snosratiershad yes

[2022-07-14 19:01] #1934 closed, assigned to nobody

[2022-07-14 19:01] mcgov commented on #1934
Closed, modified the runner to skip for single NIC sizes

[2022-07-15 01:51] mcgov opened #2135 "Random Azure sizes incorrectly reporting GPU+Infiniband capability"
I haven't found a pattern for this yet, but recently I've noticed DS16_v2, D64ds_v4, D32ds_v5, and D32ads_v5 all reporting that they support GPU and Infiniband capability, which they don't. Something is up with the capability reporting either in LISA or in the Azure tools we're using.

Example output from DS16_v2:
``` 2022-07-15 01:48:06.027[21196][INFO] lisa.runner[0] 'generated_0' attached to te

[2022-07-25 17:06] mcgov opened #2157 "Feature Request: ADO Work Item notifier"
Our production tests (hotpatch/evt) should have 100% clean runs, however while we're rolling them out there are lots of small issues we need triaged. It is not efficient to create work items for each of these bugs and this will result in us having buggy test runs as long as this notifier is not created.

Feature ask:
A notifier to create an ADO work item for each failure in a given run.
- Tag the

[2022-07-25 17:58] squirrelsc commented on #2157
@mcgov Can you move this request to internally? The ADO integration is not public, because if we don't have bandwidth to do it. It doesn't need a notifier. We will add it in case management portal.

[2022-07-25 23:13] #2135 closed, assigned to nobody

[2022-08-02 18:35] #2157 closed, assigned to LiliDeng, squirrelsc

[2022-08-02 18:36] #1962 closed, assigned to nobody

[2022-08-02 18:37] mcgov commented on #1861
Not scheduling LISAv2 fixes

[2022-08-02 18:37] #1861 closed, assigned to squirrelsc

[2022-08-12 15:46] #1804 closed, assigned to nobody

[2022-08-26 05:57] pupacha opened #2225 "Support local path for `vhd` field in Azure"
Currently, LISA accepts blob URI, SASURL as input to `vhd` field of Azure platform. It would be great to have support for vhd field to accept local paths as well.

[2022-08-29 19:20] squirrelsc commented on #2225
How about we have a transformer to upload the vhd firstly? If it's needed in more scenarios, we can integrate it into Azure platform itself.

[2022-09-27 23:30] #2052 closed, assigned to LiliDeng

[2022-09-27 23:34] mcgov opened #2283 "Fix ip.restart_device issue with default route"
There's a snippet in lisa\tools\ip.py that is used to restart an interface in a few tests, however when called on eth0 (or whichever interface is servicing the ssh connection) it can result in the connection being lost before the command finishes. Interactively this would get called with nohup sh -c "sequence"  to make sure the command sequence can complete even if the ssh connection is dropped.

[2022-09-28 19:24] squirrelsc commented on #2283
It looks an easy change. Can you make it happen?

[2022-10-03 19:00] mcgov opened #2291 "& operator in ACC test"
https://github.com/microsoft/lisa/blob/11e56c922ce510d5c66f0b76c3156944cd18a59e/microsoft/testsuites/acc/bvt.py#L46

I noticed a line that I think might be a bug, @shruti25ratnam did you mean to use the bitwise operator here? I suspect this should be 'and'. similar line right below it

[2022-10-12 16:56] mcgov commented on #2291
@LiliDeng no response from the author, does this look right to you?

[2022-10-12 17:04] avylove commented on #2291
Looks like a no-op bug, since `bool & bool` ends up being the same as `bool and bool`, but I suspect it's slower since with `and` the interpreter won't evaluate the right side if the left side is `False`. The wouldn't be the case with `&`.

[2022-10-12 22:28] mcgov opened #2308 "Use of 'get_lower_nics' doesn't check if list is empty."
https://github.com/microsoft/lisa/blob/1eb96ce90a62737b935dadee2677dbf9120f0181/microsoft/testsuites/performance/common.py#L262

There are a couple of uses in this file that can result in a list-out-of-range exception if the list is empty. These need to be wrapped and caught since they are an error condition, the test is expecting an SRIOV lower interface and none is present.

[2022-10-12 22:31] mcgov commented on #2291
Sounds good, we can leave this as low-priority since it's essentially a style fix.

[2022-10-13 02:55] avylove commented on #2291
I wouldn't say style, it's definitely incorrect.

[2022-11-17 18:43] mcgov commented on #1750
fixed

[2022-11-17 18:43] #1750 closed, assigned to mcgov